.contact-form {
  background-color: $gray-darker;
  display: block;
  padding: 40px 0;

  .contact-hdr {
    color: $white;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 40px;
    text-align: center;
  }

  .form-search {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;

    input[type="email"] {
      background-color: $white;
      border: 0;
      color: $gray-dark;
      float: left;
      height: 50px;
      line-height: 50px;
      margin-left: 125px;
      width: 460px;
    }

    .btn-secondary {
      float: left;
      font-size: 20px;
      height: 50px;
      min-width: 160px;
    }
  }

  ::-webkit-input-placeholder {
    font-size: 20px;
    text-align: center;
  }
  :-moz-placeholder {
    font-size: 20px;
    text-align: center;
  }
  ::-moz-placeholder {
    font-size: 20px;
    text-align: center;
  }
  :-ms-input-placeholder {
    font-size: 20px;
    text-align: center;
  }

  @media (max-width: 991px) {
    .form-search {
      input[type="email"] {
        float: none;
        margin: 0;
        width: 100%;
      }
      .btn-secondary {
        width: 100%;
      }
    }
  }

  @media (max-width: 767px) {
    .form-search {
      input[type="email"] {
        margin: 0 0 20px;
      }
    }
  }
}
