/*
 * footer css
 */
#footer-email-capture {
  background: image-url("lc-pattern.png") center center;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  @media (max-width: 767px) {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  h4 {
    color: $gray-lightest;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: right;
    text-transform: none;
    vertical-align: text-top;
    @media (max-width: 768px) {
      font-size: 20px;
    }
    @media (max-width: 767px) {
      font-size: 18px;
      margin-bottom: 15px;
      margin-top: 0;
      text-align: center;
    }
    img {
      margin-right: 10px;
      vertical-align: sub;
      @media (max-width: 767px) {
        display: block;
        margin: 5px auto;
      }
    }
  }
  .success {
    h4 {
      text-align: center;
    }
  }

  .error {
    p {
      color: $gray-lightest;
      padding: 20px 0;
      margin: 0 auto;
      max-width: 700px;
    }
  }

  h5,h6 {
    color: $white;
  }

  form {
    input[type="email"]{
      &::placeholder {
        font-size: 16px;
      }
    }
  }

  .promo-pref {
    color: $white;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 30px;
    @media(max-width: 767px) {
      padding-top: 20px;
    }

    .newsletter-link {
      color: white;
      &:hover,
      &:focus {
        color: $orange;
      }
    }
  }
}

// Footer Email Capture modal
.lc-newletter-modal {
  top: 20%;
  padding: 20px 0;
  @media (min-width: 768px) {
    margin-left: -160px!important;
    padding: 20px 0!important;
    width: 320px!important;
  }
  .newsletter-modal-content {
    background-color: $white;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    .close {
      width: 30px;
      background-color: transparent;
      box-shadow: none;
      border-radius: 0;
      margin-top: 25px;
      margin-right: 25px;
      opacity: 1;
      position: absolute;
      right: 0;
      top: 0;
      @media (min-width: 768px) {
        margin-right: 5px!important;
      }
    }
    .modal-logo {
      margin-left: -15px;
      position: absolute;
      top: 0px;
      width: 30px;
    }
    h3 {
      color: $orange;
      font-size: 16px;
      font-weight: bold;
      height: 34px;
      letter-spacing: -0.37px;
      line-height: 34px;
      text-shadow: 0 2px 0 0 rgba(42,39,42,0.1);
      text-transform: uppercase;
    }
    h2 {
      height: 76px;
      color: $night-rider;
      font-size: 32px;
      font-weight: bold;
      line-height: 38px;
      margin: 13px auto 40px;
      text-shadow: 0 2px 0 0 rgba(42,39,42,0.1);
      text-transform: uppercase;
      width: 280px;
    }
    .newsletter {
      #footer-mce-email {
        border-radius: 10px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
      #footer-mc-embedded-subscribe {
        @media (max-width: 991px) {
          padding: 0 20px;
        }
      }
    }
    .error {
      margin: 20px 0 0 0;
    }
    .success {
      font-size: 16px;
      font-weight: 600;
      margin-top: 20px;
    }
    .decline {
      background-color: transparent;
      box-shadow: none;
      border-bottom: solid 2px $gray-dark;
      border-radius: 0;
      color: $gray47;
      font-weight: 600;
      font-family: "Proxima Nova";
      font-size: 11px;
      height: 13px;
      letter-spacing: 0.28px;
      line-height: 13px;
      margin-top: 40px;
      padding: 0;
      padding-bottom: 13px;

    }
    .promo-pref {
      font-size: 10px;
      margin-top: 30px;
    }
  }
}

#footer {
  background-color: $gray-darker;
  color: $white;
  padding-top: 50px;

  .container {
    padding: 0;

    #footer-logo-lnk-mobile img {
      width: 176px;
    }
  }

  a,
  .logo-link {
    border-bottom: 0;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .logo-link {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .hdr-4 {
    color: $gray-lightest;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    margin-top: 10px;
    margin-bottom: 15px;
    text-transform: uppercase;
    white-space: nowrap;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      color: $gray-mid;
      list-style: none;
      line-height: 1.1;
      padding-bottom: 5px;
      white-space: nowrap;
      @media(min-width: 120px){
        white-space: normal!important;
      }
      a {
        color: inherit;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0px;
      }
    }
  }

  .row-top {
    border-bottom: solid 1px $gray-dark;
    margin-bottom: 25px;
    padding-bottom: 25px;

    .about {
      font-size: 14px;
      font-weight: 300;
      margin-top: 20px;
      max-width: 600px;
    }
  }

  .footer-col {
    @media(min-width: 992px) {
      max-width: calc(100% / 7.1);
      padding-left: 7px;
      padding-right: 0;
    }
  }

  #follow {
    display: inline;
    font-size: 12px;
    font-weight: 600;
    margin-right: 20px;
    text-transform: uppercase;
    vertical-align: middle;
  }

  .social-link {
    background: $gray-mid image-url("products/sprites-social.png") no-repeat;
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    margin: 0 5px;
    transition: background .25s;
    vertical-align: middle;
    width: 30px;

    &.social-fb {
      background-position: 11px 4px;
    }
    &.social-tw {
      background-position: -30px 4px;
    }
    &.social-ig {
      background-position: -71px 4px;
    }
    &.social-yt {
      background-position: -111px 4px;
    }
    &.social-sc {
      background-position: -153px 4px;
    }

    &:hover,
    &:focus {
      background-color: $gray-dark;
    }
  }

  .footer-copyright {
    margin-top: 50px;
    height: 26px;
    color: $gray-mid;

    p {
      margin: 3px 0 0;
      font-size: 12px;
    }
  }

  .footer-apps {

    a img {
      margin-right: 10px;
      width: 118px;

      @media (min-width: 768px) and (max-width: 991px) {
        width: 90px;
      }
    }
  }

  #newsletter-signup-result-message h4 {
    color: $white;
    font-size:14px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.3;
    margin: 25px 70px;
    text-align: center;
    word-spacing: 3px;
  }

  .footer-social-links-bottom{
    margin-bottom: 25px;
    margin-top: 3px;
    white-space: nowrap;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .footer-social-links-bottom{
      margin-top: 7px;
      #follow{
        display: block;
        margin-bottom: 20px;
      }
    }
  }

  @media (min-width: 768px) {
    .container {
      padding-left: 15px;
      padding-right: 15px;
    }
    .footer-social-links-top{display: none}
  }
}

@media (max-width: 767px) {
  #footer {
    text-align: center;
    .hdr-4 {
      font-size: 16px;
      margin-bottom: 15px;
    }
    ul li {
      color: $gray-mid;
      display: inline-block;
      font-size: 15px;
      line-height: inherit;
      list-style: none;
      padding-left: 20px;
      padding-right: 20px;
      white-space: nowrap;
      a {
        color: inherit;
        font-weight: 400;
        line-height: 2;
      }
    }
    .col-sm-3 {
      margin-bottom: 10px;
    }
    .row-top {
      border-bottom: none;
      margin-bottom: 30px;
      padding-bottom: 0px;

      #follow {
        display: block;
        font-size: 16px;
        font-weight: 600;
        margin: 40px 0 10px 0;
        margin-right: 0;
      }
      .social-link {
        height: 45px;
        margin: 0 4px;
        width: 45px;
      }
    }
    .footer-apps {
      margin-top: 10px;
      a img {
        margin-left: 5px;
        margin-right: 5px;
        width: 130px;
      }
    }
    .footer-copyright {
      .container {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .footer-top form input[type="email"] {
      width: 180px;
    }
  }
  .footer-social-links-top{display: block}
  .footer-social-links-bottom{display: none}
}

#footer-min {
  background-color: $gray-darker;
  padding: 20px 30px;
  p{
    color: #78767c;
    line-height: 45px;
    margin: 0;
    padding: 0;
  }
}
