/*
 * Modals
*/

.modal-content {
  border-radius: 4px;
  color: $black;
  button.close {
    box-shadow: none;
    color: $black;
    float: right;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    opacity: 0.5;
    position: static;
    text-shadow: 0 1px 0 $white;
    text-shadow:none;
    filter: alpha(opacity=20);
    transition: all 300ms;
      -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
          -o-transition: all 300ms;
    &:hover, &:focus, &:active {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
      cursor: pointer;
      opacity: 1;
      text-decoration: none;
      text-shadow:none;
      transform: rotateZ(90deg);
        -webkit-transform: rotateZ(90deg);
          -moz-transform: rotateZ(90deg);
            -ms-transform: rotateZ(90deg);
              -o-transform: rotateZ(90deg);
    }
  }
}

@mixin custom-modals {
  @include error;
  @include valid;
  .modal-dialog {
    width: 100%;
    @media (max-width: 767px) {
      width: auto;
    }

    .modal-content {
      border-radius: 0;
      display: inline-block;
      width: 100%;
      .modal-header, .modal-footer {
        border: none;
        padding: 15px;
        text-align: center;
      }

      .modal-header {
        .modal-close {
          color: $gray-lightest;
          line-height: 1em;
          padding: 13px 15px;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 3;
          &:hover {
            cursor: pointer;
          }
          i {
            color: $black;
            font-size: 17px;
            line-height: 1em;
          }
        }
        .close {
          border: 0;
          box-shadow: none;
          transition: all 300ms;
            -webkit-transition: all 300ms;
              -moz-transition: all 300ms;
                -o-transition: all 300ms;
          &:focus, &:hover {
            background-color: transparent;
            outline: none;
            transform: rotateZ(90deg);
              -webkit-transform: rotateZ(90deg);
                -moz-transform: rotateZ(90deg);
                  -ms-transform: rotateZ(90deg);
                    -o-transform: rotateZ(90deg);
          }
        }
        h2 {
          display: inline-block;
          width: 90%;
        }
      }

      .modal-body {
        display: inline-block;
        max-height: 600px;
        position: relative;
        width: 100%;

        .close {
          outline: none;
          transition: all 300ms;
            -webkit-transition: all 300ms;
              -moz-transition: all 300ms;
                -o-transition: all 300ms;
          &:focus, &:hover {
            outline: none;
            transform: rotateZ(90deg);
              -webkit-transform: rotateZ(90deg);
                -moz-transform: rotateZ(90deg);
                  -ms-transform: rotateZ(90deg);
                    -o-transform: rotateZ(90deg);
          }
        }

        .or {
          display: inline-block;
          margin-bottom: 10px;
          margin-top: 16px;
          width: 90%;
        }

        .modal-form {
          color: $night-rider;
          form {
            margin: 0;
            input:not([type=submit]) {
              letter-spacing: .05em;
              margin-bottom: 10px;
              margin-left: auto;
              margin-right: auto;
              text-align: center;
              width: 90%;
            }
            input[type=submit] {
              width: 90%;
            }
            .promo-pref {
              color: $night-rider;
              font-size: 12px;
              padding: 15px 15px 15px 25px;
              text-align: left;
              input[type=checkbox] {
                cursor: pointer;
                margin-left: -30px;
                outline: none;
                width: 8% !important;
              }
            }
            .messages,
            .emessages {
              color: $error;
              margin-bottom: 5px;
              + p {
                margin-bottom: 0;
              }
            }
          }
        }
        .social-signin-links {
          .fb-login {
            background: #3964b0;
            border: none !important;
            color: $white;
            display: inline-block;
            font-size: 8pt;
            font-weight: 300;
            height: 45px !important;
            letter-spacing: 3px;
            line-height: 2;
            padding-bottom: 2.2em;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 1.2em;
            width: 90%;
          }
        }
      }

      .modal-footer {
        p {
          display: block;
          margin: 0 0 5px;
          padding: 0;
        }
        #login-modal-join-lnk,
        #register-modal-login-lnk {
          border-bottom: 2px solid $orange;
          color: $night-rider;
          font-size: 11px;
          font-weight: 700;
          outline: none;
          text-decoration: none;
          text-transform: uppercase;
          &:hover,
          &:active {
            color: $orange;
            outline: none;
            text-decoration: none;
          }
        }
      }
    }
  }
}

// Email Submission Thank You Modal

#newsletter-signup-result {
  border-radius: 3px;
  height: auto;
  text-align: center;

  .modal-body {
    background-color:$gray18;
    border-radius: 3px;
    max-height: 500px;
  }

  .newsletter-horiz-rule {
    border-top:1px solid $gray-mid !important;
  }

  p {
    color: $white !important;
  }

  p.wf-privacy {
    color: $gray-mid !important;
    font-size: 11px;
    margin-bottom: 20px !important;
    margin-top: 20px;
    @media (max-width: 468px) {
      margin-bottom: 10px !important;
    }
    a {
      text-decoration: underline;
    }
  }

  .fa-spinner {
    color: $white !important;
  }

  p.wf-logo {
    background: image-url('logo.png') top center no-repeat;
    color: $white !important;
    margin: 20px auto 0;
    padding: 25px 0 0;
    text-align: center;
    @media (max-width: 468px) {
      margin: 20px auto 30px;
    }
  }
  h4 {
    color: $white;
    margin: 25px 20px;
    text-align: center;
    text-transform: none;
    word-spacing: 3px;
    @media (max-width: 468px) {
      font-size: 18px;
      margin: 0;
    }
    span {
      color: $orange;
      font-weight: 700;
      vertical-align: text-top;
      @media (max-width: 468px) {
        vertical-align: middle;
      }
    }
  }

  button.close {
    box-shadow: none;
    color: $white;
    float: right;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    opacity: 0.5;
    position: static;
    text-shadow: 0 1px 0 $white;
    text-shadow:none;
    filter: alpha(opacity=20);
    transition: all 300ms;
      -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
          -o-transition: all 300ms;
    &:hover, &:focus, &:active {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
      cursor: pointer;
      opacity: 1;
      text-decoration: none;
      text-shadow:none;
      transform: rotateZ(90deg);
        -webkit-transform: rotateZ(90deg);
          -moz-transform: rotateZ(90deg);
            -ms-transform: rotateZ(90deg);
              -o-transform: rotateZ(90deg);
    }
  }
}

// Registration modals
#signin_modal, #register_modal {
  @include custom-modals;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-y: auto;
  text-align: center;
  top: 10%;
}

.existing-customer {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

  .popup-user-field {
    margin-top: -9px;
  }
}

#register_modal {
  .modal-header {
    p {
      color: $gray47;
      font-size: 14px;
      font-weight: 400;
      margin: 0;
    }
  }

  .modal-footer {
    p {
      display: inline-block;
      margin: 0;
    }
  }

  #register-customer {
    #register_step_one, #register_step_two {
      input {
        width: 90%;
      }
    }

    #register_step_one {
      #finish_step_one {
        width: 90%;
      }
    }
  }
}

@media (min-width: 768px) {
  #signin_modal, #register_modal {
    .modal-dialog {
      max-width: 340px;
    }
  }
}

.video-modal {
  .modal-dialog {
    width: 1170px;
  }
  .modal-content {
    background: transparent;
    .modal-header {
      border: 0 none;
      min-height: 0;
      padding: 0;
      .close {
        color: $white;
        font-size: 26px;
        opacity: .5;
        position: absolute;
        right: -26px;
        top: 5px;
        &:hover,
        &:focus {
          opacity: 1;
          background-color: transparent;
        }
      }
    }
    .modal-body {
      padding-bottom: 55%;
      .player {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .video-modal {
    .modal-dialog {
      width: 940px;
    }
  }
}

@media (max-width: 991px) {
  .video-modal {
    .modal-dialog {
      width: 720px;
    }
  }
}

@media (max-width: 767px) {
  .video-modal {
    .modal-dialog {
      width: auto;
    }
    .modal-content {
      .modal-header {
        .close {
          opacity: .9;
          right: 0;
          top: 0;
        }
      }
    }
  }
}
