/* MAIN NAV */

/* Break points */
$screen-lg-min: 1200px;
$screen-md-min: 991px;
$screen-sm-min: 767px;
$screen-xs-min: 480px;
$screen-2xs-min: 320px;
$screen-3xs-min: 375px;
$screen-4xs-min: 414px;
$screen-5xs-min: 667px;

@mixin icon-login($img) {
  background: image-url($img) no-repeat;
  background-size: 10px 14px;
  display: inline-block;
  height: 14px;
  margin: 0 5px 0 0;
  vertical-align: text-top;
  width: 10px;
}
.no-scroll {
  overflow: hidden;
}

/* MAIN HEADER STYLES */
.nav {
  > li {
    a {
      display: inline-block;
      vertical-align: baseline;
    }
  }
}
.nav-header {
  background: $gray-darker;
  border-bottom: 3px solid $orange;
  color: $white;
  width: 100%;
  z-index: 1000;
  .container {
    padding: 0;
  }
  img {
    vertical-align: top;
  }
  .international_options {
    display: none;
  }
  &.international {
    .international_options {
      background-color: $orange;
      display: block;
      padding: 20px;
      h4 {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 5px;
      }
      p {
        color: $black;
        font-weight: 500;
        font-size: 15px;
      }
      &:before {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $orange;
        content: '';
        display: block;
        height: 0;
        position: absolute;
        right: 40px;
        top: 0;
        width: 0;
      }
    }
  }
  .nav-item {
    display: inline-block;
    margin: 0 0 0 88px;
    position: static;
    @media (max-width: 1200px) {
      margin: 0 0 0 68px;
    }
  }
  .nav-link {
    background: none;
    border: 0 none;
    box-shadow: none;
    color: $white;
    font-size: 14px;
    font-weight: 400;
    outline: 0 none;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    .fa {
      color: $white;
      font-size: 1em;
      margin: 0 0 0 5px;
      vertical-align: initial;
    }
    &:focus,
    &:hover,
    &:active,
    &.active {
      background: none;
      color: $orange;
      font-weight: 400;
    }
  }
  .super-nav {
    background: $gray-darker;
    border-bottom: 1px solid $white;
    height: 31px;
    text-align: right;
    .container {
      position: relative;
    }
    .order-by {
      color: $white;
      display: inline-block;
      font-size: 13px;
      line-height: 30px;
      margin: 0 40px 0 0;
    }
    #header-my-account-link-supernav > *, #header-my-account-link > * {
      pointer-events: none;
    }
    .nav-account,
    .country-selector,
    #country-selector_react {
      color: $white;
      cursor: pointer;
      display: inline-block;
      font-weight: 400;
      position: relative;
      vertical-align: top;
      z-index: 3;
      .fa {
        color: $white;
        font-size: 1em;
        margin: 0 0 0 5px;
      }
    }
    .nav-account {
      line-height: 30px;
      .fa {
        font-size: 16px;
      }
      .fa-caret-up {
        display: none;
      }
      &[aria-expanded='true'] {
        .fa-caret-up {
          display: inline-block;
        }
        .fa-caret-down {
          display: none;
        }
      }
      &:focus,
      &:hover,
      &:active,
      &.active {
        color: $orange;
        font-weight: 400;
        background: none;
      }
    }
    .login-links {
      display: inline-block;
      .nav-link {
        display: inline;
        font-size: 12px;
      }
      .separator {
        color: $white;
        display: inline-block;
        font-size: 12px;
        line-height: 32px;
        margin: 0 3px;
        display: none;
      }
      span:nth-child(1) {
        .separator {
          display: inline-block;
        }
      }
    }
  }
  .country-selector {
    display: inline-block;
    height: 30px;
    margin: 0 0 0 30px;
    .current-country {
      border-bottom: 0;
      display: inline-block;
      text-decoration: none;
      .currentflag {
        height: 18px;
        margin: 6px 0;
        vertical-align: middle;
        width: auto;
      }
    }
  }
  .logo {
    float: left;
    font-size: inherit;
    font-weight: inherit;
    margin: 8px 0;
    position: relative;
    z-index: 2;
    .logo-link {
      border-bottom: 0;
      display: block;
      margin: 0;
      padding: 0;
      .logo-image {
        height: auto;
        width: 68px;
      }
      @media screen and (min-width: 992px) {
        .hidden_desktop {
          display: none;
        }
      }
      @media screen and (max-width: 991px) {
        .hidden_mobile {
          display: none;
        }
      }
    }
  }
  .main-nav {
    padding: 14px 0;
    transition: padding 0.6s ease-in-out;
    .nav-mobile {
      display: none;
    }
    .nav {
      height: 51px;
      line-height: 51px;
      position: relative;
      &.collapse {
        display: block;
        max-height: 94vh;
      }
      .nav-button {
        position: absolute;
        right: 0;
        top: 0;
        .btn-tertiary {
          color: $white;
          padding: 0;
          &:hover,
          &:focus {
            background-color: transparent;
            border-color: $orange;
            color: $orange;
          }
        }
      }
      .nav-account,
      .nav-mobile-only {
        display: none;
      }
      .fa-caret-down,
      .fa-caret-right {
        display: none;
      }
      .collapsed {
        .fa-caret-down {
          display: inline-block;
        }
        .fa-caret-up {
          display: none;
        }
      }
    }
  }
  .dropdown-menu {
    background: $gray-darker;
    border: 0 none;
    float: none;
    margin: 0;
    position: absolute;
    width: 100%;
    &.all-countries {
      border-radius: 0 0 4px 4px;
      left: auto;
      right: -15px;
      top: 31px;
      width: 300px;
    }
    &.dropdown-account {
      left: auto;
      right: 85px;
      top: 31px;
      width: auto;
    }
    .dropdown-link {
      background: none;
      border-bottom: 0;
      color: $white;
      padding: 8px 20px;
      &:hover {
        @include nav-link-animation($white, $orange);
      }
    }
  }
  #navbar-collapse {
    .nav-item.nav-account {
      #dropdown-account {
        height: 0;
        overflow: hidden;
        &[aria-expanded='true'] {
          height: auto;
          display: block;
        }
      }
    }
  }

  .collapse,
  .collapsing {
    &.pick-crate,
    &.dropdown-account {
      background: $gray-darker;
      border: 0 none;
      border-radius: 0;
      float: none;
      left: 0;
      margin: 0;
      position: fixed;
      top: 110px;
      width: 100vw;
      .container {
        display: table;
      }
      .dropdown-section {
        display: table-cell;
        padding: 20px 0 20px 30px;
        vertical-align: top;
        &:first-child {
          padding-left: 0;
        }

        &.dropdown-all-crates {
          .img-link,
          .link {
            border-bottom: 2px solid $gray-darker;
            outline: none;
            padding: 0;
          }
          .img-link:hover ~ .link,
          .img-link:focus ~ .link {
            border-bottom: 2px solid $orange;
            text-decoration: none;
          }
          .img {
            border: solid 1px $white;
            margin: 26px 0;
            &.active {
              border-color: $orange;
            }
          }
          .hdr-4 {
            color: $white;
            font-size: 16px;
            font-weight: 400;
          }
          hr {
            border-color: $gray-dark;
            color: $gray-dark;
            margin: 20px 0 0;
            padding: 0;
            text-align: left;
            width: 30%;
          }
          .link {
            color: $white;
            font-size: 14px;
            line-height: 1.5;
            padding-top: 20px;
            text-transform: uppercase;
            &.active {
              color: $orange;
            }
          }
        }
        .dropdown-hdr {
          border-bottom: 1px solid $gray-dark;
          color: $white;
          font-size: 15px;
          font-weight: 600;
          margin: 0 0 20px;
          padding: 0 0 10px;
          text-transform: uppercase;
          white-space: nowrap;
          .fa {
            display: none;
          }
          a.category-link {
            color: $white;
            &:hover {
              color: $orange;
              text-decoration: none;
            }
          }
        }
        .dropdown-text {
          color: $gray-mid;
          font-size: 14px;
          line-height: 20px;
        }
        .dropdown-list {
          list-style: none;
          @media (min-width: 992px) {
            display: block !important;
          }
          .dropdown-item {
            line-height: initial;
            margin: 0 0 15px;
            .crate-text-link {
              border-bottom: none;
              color: $white;
              font-size: 14px;
              font-weight: 300;
              outline: none;
              padding-left: 15px;
              transition: 0.3s all;
              &:hover,
              &:focus {
                color: $orange;
              }
            }
            .crate-logo {
              border-bottom: none;
              cursor: pointer;
              outline: none;
              .img {
                -webkit-filter: grayscale(1) brightness(2);
                filter: grayscale(1) brightness(2);
                transition: 0.3s all;
              }
              .img-ext {
                margin-left: 7px;
              }
              &:hover,
              &:focus {
                .img {
                  -webkit-filter: grayscale(0) brightness(1);
                  filter: grayscale(0) brightness(1);
                }
              }
            }
          }
        }
      }
    }

    .dropdown-link {
      color: $white;
      background: none;

      &:hover {
        @include nav-link-animation($white, $orange);
      }
    }
  }

  .promo-ribbon {
    background-color: $orange;
    height: auto;
    left: 0;
    position: absolute;
    top: 113px;
    width: 100%;
    z-index: -1;
    &.loot-wear {
      top: 178px;
      @media (max-width: $screen-md-min) {
        top: 116px;
      }
    }
    .alert-promo {
      border: none;
      border-radius: 0;
      color: $white;
      line-height: 2;
      margin-bottom: 0;
      padding: 0;
      p {
        line-height: 2;
        margin: 0 !important;
      }
      a {
        color: $white;
        text-decoration: underline;
      }
      #ribbon-content-mobile {
        display: none;
      }
      #ribbon-content {
        display: block;
      }
      @media (max-width: 767px) {
        #ribbon-content-mobile {
          display: block;
        }
        #ribbon-content {
          display: none;
        }
      }
      .close {
        background-color: transparent;
        box-shadow: none;
        color: $white;
        font-size: 17px;
        opacity: 0.7;
        text-shadow: none;
        top: -2px;
        &:hover,
        &:focus {
          background-color: transparent;
          box-shadow: none;
          opacity: 0.9;
        }
      }
    }
  }
}

/* checkout indicator */
#checkouts-new {
  .checkout-indicator {
    display: inline-block;
    float: left;
    margin: 30px 0 0 30px;
    @media (max-width: $screen-md-min) {
      // 991px
      display: none;
    }
  }
}
.checkout-indicator,
.is-mobile .checkout-indicator {
  display: none;
}

/* CHECKOUT */

.checkouts {
  .nav-header {
    .promo-ribbon {
      top: 80px;
    }
    .order-by,
    .nav-item,
    .nav-button {
      display: none;
    }
    .country-selector {
      @media (min-width: 992px){
        top: 25px;
        z-index: 2;
        .dropdown-menu {
          top: 57px;
          &:before {
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid $orange;
            content: '';
            height: 0;
            position: absolute;
            right: 40px;
            top: -10px;
            width: 0;
          }
        }
      }
    }
    .super-nav {
      border: 0 none;
      height: 0;
      .container {
        height: 0;
        @media (max-resolution: 767px) {
          width: 100%!important;
        }
      }
      .my-account-lnk,
      .login-links {
        display: none;
      }

    }
  }
}

.level_up,
.level-up {
  .nav-header {
    .promo-ribbon {
      top: 178px;
      @media (max-width: $screen-md-min) {
        top: 116px;
      }
    }
  }
  .level-up-nav {
    .logo-link {
      border-bottom: 0;
    }
    &.top-level {
      z-index: 1000;
    }
    .nav-link {
      border-bottom: 0;
      outline: none;
    }
  }
  &.page-login {
    .nav-header {
      .promo-ribbon {
        top: 110px;
        @media (max-width: $screen-md-min) {
          // 991px
          top: 60px;
        }
      }
    }
  }
}

.nav-header {
  .level-up-nav {
    background: $gray-lighter;
    padding: 12px 0;
    position: fixed;
    top: 113px;
    transition: top .6s ease-in-out;
    width: 100%;
    z-index: -1;

    .container {
      display: table;
      padding: 0;

      &:before,
      &:after {
        display: none;
      }
    }

    .logo {
      display: table-cell;
      width: 170px;
      margin: 0;

      .img {
        padding: 7px 0;
        width: 100%;
      }
    }

    .nav-wear-logo {
      pointer-events: none;
    }

    .btn-category {
      display: none;
      i {
        pointer-events: none;
      }
    }

    .nav-list {
      display: inline-table;
      padding-left: 60px;
      text-align: left;
      vertical-align: middle;

      .nav-item {
        display: table-cell;
        padding-right: 40px;
        position: relative;

        &:last-child {
          padding: 0;
        }
      }
    }

    .nav-item-bundles {
      .nav-item {
        margin: 0;
      }
    }

    .nav-link {
      color: initial;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      white-space: nowrap;

      &:hover,
      &:focus {
        color: $orange;
        text-decoration: none;
      }

      .fa {
        font-size: 1em;
        margin: 0 0 0 5px;
        vertical-align: initial;
      }

      &.active {
        color: $orange;
        position: relative;
        cursor: default;

        &:after {
          content: '';
          width: 100%;
          height: 0;
          border-bottom: 3px solid $orange;
          position: absolute;
          bottom: -5px;
          left: 0;
        }
      }

      &[aria-expanded=false] {

        .fa-caret-up {
          display: none;
        }
        .fa-caret-down {
          display: inline-block;
        }
      }

      &[aria-expanded=true] {

        .fa-caret-up {
          display: inline-block;
        }
        .fa-caret-down {
          display: none;
        }

        ~ .nav-list {
          display: inline-block;
          z-index: 1000;
        }
      }

      &.highlight {
        height: 40px;
        background-color: $orange;
        border: none;
        padding: 5px 20px;
        color: $white;
        border-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
                    inset 0 -2px 0 rgba(0,0,0,0.1);
        &:focus,
        &.active {
          outline: none;
          background-color: $orange;
          border-color: $orange;
        }
        &:hover {
          background-color: $orange-light;
          border-color: $orange-light;
          box-shadow: 0 6px 10px 2px rgba(0,0,0,0.20),
                      inset 0 -2px 0 rgba(0,0,0,0.1);
          cursor: pointer;
        }
        &:after {
          border-bottom: none;
        }
      }
    }

    .nav-dropdown {
      width: auto;
      padding: 0;
      box-shadow: 0 1px 3px rgba($black, .4);
      position: absolute;
      left: 40%;
      top: 0;
      -ms-transform:        translate(-50%, 50px);
        -webkit-transform:  translate(-50%, 50px);
          transform:        translate(-50%, 50px);
      display: none;

      .nav-item {
        padding: 0;
        background: $white;
        border-top: 1px solid $gray-light;
        display: block;
        position: relative;

        &:first-child {
          border: 0 none;
        }

        .nav-link {
          padding: 15px 20px;
          text-align: center;
          white-space: nowrap;
          display: block;

          &.active {
            cursor: default;

            &:after {
              width: #{calc(100% - 60px)};
              margin: 0 30px
            }
          }
        }
      }

      &:before {
        content: '';
        width: 0;
        height: 0;
        border: 17.5px solid $white;
        box-shadow: 1px 1px 3px rgba($black, .4);
        position: absolute;
        top: -16.5px;
        left: #{calc(50% - 17.5px)};
        -ms-transform:        rotate(45deg);
          -webkit-transform:  rotate(45deg);
            transform:        rotate(45deg);
      }
    }
  }
  @media (max-width: 1199px) {

    .level-up-nav {

      .container {
        padding: 0;
      }

      .nav-list {
        padding-left: 40px;
      }

      .nav-dropdown {
        left: -25%;
        padding: 0;

        &:before {
          left: 78%;
        }
      }
    }

  } /* max-width: 1199px */

  @media (max-width: 991px) {

    .nav-header {

      .super-nav {

        .order-by {
          display: none;
        }
      }
    }

    .level-up-nav {
      padding: 0;
      top: 62px;

      .container {
        padding: 0;
        position: relative;
        width: 100%;
      }

      .logo {
        vertical-align: top;
      }

      .logo {
        width: 46%;

        .logo-link {
          text-align: right;
          padding: 10px;
          display: block;

          .img {
            width: 160px;
          }
        }
      }

      .btn-category {
        display: table-cell;
        font-size: 14px;
        font-weight: 600;
        height: 100%;
        padding: 20px 10px 0;
        text-align: left;
        vertical-align: middle;
        width: 100%;
        border: none;

        .fa {
          font-size: 1em;
          margin-left: 10px;
          vertical-align: initial;
          color: $night-rider;
        }
      }

      .nav-list {
        width: 100%;
        padding: 0;
        background: $gray-lightest;
        border-top: 1px solid $gray-light;
        display: none;
        position: absolute;
        left: 0;
        top: 100%;

        .nav-item {
          border-bottom: 1px solid $gray-light;
          padding: 0;
          display: block;

          .nav-link {
            width: 100%;
            padding: 15px 5%;
            font-size: 16px;
            text-align: center;
            white-space: normal;
            display: block;

            &.btn-link,
            &:after {
              display: none;
            }
          }
        }

        &.nav-dropdown {
          border: 0 none;
          box-shadow: none;
          position: static;
          -ms-transform:        translate(0, 0);
            -webkit-transform:  translate(0, 0);
              transform:        translate(0, 0);
          display: block;

          &:before {
            display: none;
          }

          .nav-item {
            background: none;
          }
        }
      }
    }

  } /* max-width: 991px */

  @media (max-width: 767px) {
    .level-up-nav {
      top: 62px;
      .logo {
        width: 44%;
        .logo-link {
          .img {
            padding: 7px 0;
          }
        }
      }
      .nav-list {
        border-bottom: 2px solid $gray-light;
        max-height: calc(#{"100vh - 127px"});
        overflow-y: auto;
        .nav-item:last-child {
          border-bottom: 0 none;
        }
      }
    }
    .btn-next {
      width: 100%;
      padding: 15px 0;
      margin-top: 30px;
    }
  } /* max-width: 767px */

  @media (max-width: 480px) {
    .level-up-nav {
      .logo {
        width: 41%;
      }
    }
  } /* max-width: 480px */

  @media (max-width: 400px) {
    .level-up-nav {
      .nav-list {
        .nav-item {
          .nav-link {
            padding: 15px 2%;
          }
        }
      }
    }
  } /* max-width: 400px */

  @media (max-width: 320px) {
    .level-up-nav {
      .logo {
        .logo-link {
          .img {
            width: 110px;
          }
        }
      }
    }
  } /* max-width: 320px */
}

//  end level up nav

@media (max-width: $screen-md-min) {
  // 991px
  .nav-header {
    background: $gray-darker;
    padding: 17px 0 4px;
    .nav-item {
      margin: 0;
    }
    .container {
      width: 100%;
    }
    .super-nav {
      border: 0 none;
      height: 0;
      position: absolute;
      top: 0;
      width: 100%;
      .order-by {
        background: $white;
        color: $black;
        float: none;
        font-size: 14px;
        height: 42px;
        left: 0;
        line-height: 40px;
        padding: 0 15px;
        position: absolute;
        text-align: left;
        top: 62px;
        width: 100%;
      }
      .my-account-lnk,
      .login-links {
        display: none;
      }
    }
    .logo {
      float: none;
      margin: 0 auto;
      position: relative;
      text-align: center;
      z-index: 1;
    }
    .country-selector {
      .dropdown-menu.all-countries {
        max-width: 100vw;
        min-width: 375px;
      }
    }
    .main-nav {
      padding: 0;
      .nav-mobile {
        display: block;
        height: 60px;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        .navbar-toggle {
          background: none;
          border: 0 none;
          box-shadow: none;
          display: block;
          height: 60px;
          margin: 0;
          position: absolute;
          left: 0;
          top: 0;
          width: 60px;
          &:focus {
            outline: 0 none;
          }
          &:hover {
            .fa-bars {
              opacity: 1;
            }
          }
          .icon-bar-wrapper {
            display: inline-block;
            vertical-align: middle;
          }
          .icon-bar {
            background-color: $white;
            display: block;
            height: 2px;
            -webkit-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
            width: 22px;
          }
          &.active {
            .icon-bar {
              &:nth-child(1) {
                -webkit-transform: rotate(45deg) translate(5px, 4px);
                transform: rotate(45deg) translate(5px, 4px);
              }
              &:nth-child(2) {
                opacity: 0;
              }
              &:nth-child(3) {
                -webkit-transform: rotate(-45deg) translate(4px, -4px);
                transform: rotate(-45deg) translate(4px, -4px);
              }
            }
            &:before {
              border-left: 7px solid transparent;
              border-right: 7px solid transparent;
              border-bottom: 7px solid $orange;
              content: '';
              height: 0;
              left: 23px;
              position: absolute;
              top: 52px;
              width: 0;
            }
          }
        }
      }
      .navbar-toggle,
      .country-selector {
        z-index: 2;
      }
      .nav {
        background: $gray-darker;
        height: calc(#{'100vh - 62px'});
        left: -100vw;
        line-height: 1;
        max-height: none;
        overflow-y: auto;
        padding: 0;
        position: absolute;
        top: 62px;
        transition: left 0.3s, width 0.3s;
        -webkit-overflow-scrolling: touch;
        width: 100vw;
        z-index: 45;
        &.active {
          left: 0vw;
        }
        .nav-item {
          display: block;
          margin: 0 10px;
          .nav-link {
            border-bottom: 1px solid $gray-dark;
            border-radius: 0;
            color: $gray-mid;
            display: block;
            height: auto;
            line-height: 1;
            padding: 23px 0;
            text-align: left;
            width: 100%;
            .fa {
              vertical-align: initial;
            }
            .fa-caret-right,
            .fa-caret-up {
              display: none;
            }
            .fa-caret-down {
              display: inline-block;
            }
            &.collapsed {
              .fa-caret-right {
                display: inline-block;
              }
              .fa-caret-down {
                display: none;
              }
            }
          }
        }
        .nav-button {
          position: static;
          text-align: center;
          .btn-tertiary {
            margin: 30px auto 100px;
          }
        }
      }
    }
    .dropdown-menu {
      padding: 0;
      &.all-countries {
        left: auto;
        right: -15px;
        top: 62px;
        width: 300px;
      }
    }
    .collapse,
    .collapsing {
      &.pick-crate,
      &.dropdown-account {
        box-shadow: none;
        margin: 0;
        padding: 0 15px;
        position: static;
        width: 100%;
        .dropdown-section {
          display: block;
          .dropdown-list {
            .dropdown-item {
              margin: 0;
              padding: 5px 0;
              text-align: left;
              .dropdown-link {
                display: block;
                font-size: 16px;
                font-weight: 600;
                padding: 10px;
              }
              .crate-logo {
                border-bottom: 0;
                display: block;
                margin: 0;
                padding: 10px 15px;
              }
            }
          }
        }
      }
      &.dropdown-account {
        border-bottom: 1px solid $gray-dark;
        list-style: none;
        padding: 10px 0;
        .dropdown-link {
          display: block;
          font-size: 16px;
          font-weight: 400;
          padding: 10px;
          text-transform: normal;
        }
      }
      &.pick-crate {
        .container {
          display: block;
        }
        .dropdown-section {
          border-bottom: 1px solid $gray-dark;
          margin: 0 -15px;
          padding: 0;
          text-align: left;
          &.dropdown-all-crates {
            display: none;
          }
          &.dropdown-collapsed {
            .dropdown-list {
              max-height: 0;
            }
          }
          .dropdown-list {
            max-height: 200vh;
            overflow-y: hidden;
            transition-property: all;
            transition-duration: 0.5s;
            transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
          }
          .dropdown-hdr {
            border: 0 none;
            font-weight: 400;
            margin: 0;
            padding: 20px 10px;
            padding-right: 0;
            text-transform: uppercase;
            cursor: pointer;
            .fa {
              float: right;
              font-size: 1em;
              margin-top: 10px;
              vertical-align: initial;
            }
            .fa-caret-right {
              display: inline-block;
            }
            .fa-caret-down {
              display: none;
            }
            &.active {
              .fa-caret-right {
                display: none;
              }
              .fa-caret-down {
                display: inline-block;
              }
            }
          }
        }
      }
    }
    .promo-ribbon {
      top: 62px;
      z-index: 0;
      .alert-promo {
        line-height: 1;
        padding: 10px;
        p {
          line-height: 1.4;
        }
        .close {
          top: -7px;
        }
      }
    }
  }
  .checkouts {
    .nav-header {
      .main-nav {
        .nav-mobile {
          .navbar-toggle {
            display: none;
          }
        }
      }
      .promo-ribbon {
        top: 60px;
        .alert-promo {
          padding: 2px 0;
          p {
            line-height: 1.7;
          }
        }
      }
    }
  }
}

@media (max-width: $screen-sm-min) {
  // 767px
  .nav-header {
    padding: 17px 0 2px;
    .super-nav {
      .order-by {
        left: 0;
      }
    }
    .logo {
      margin: 1px auto;
      .logo-link {
        display: block;
        margin: 0;
        padding: 0;
        .logo-image {
          width: auto;
        }
      }
    }
    .main-nav {
      .nav {
        top: 60px;
      }
      .nav-mobile {
        .navbar-toggle {
          &.active {
            &:before {
              top: 50px;
            }
          }
        }
      }
      .dropdown-menu {
        &.all-countries {
          top: 62px;
        }
      }
    }
    .promo-ribbon {
      height: auto;
      top: 62px;
      .alert-promo {
        font-size: 13px;
        line-height: 2;
        padding: 10px;
        p {
          line-height: 1.6;
          margin-bottom: 0;
        }
        .close {
          top: -5px;
        }
      }
    }
  }
}

@media (max-width: $screen-5xs-min) {
  // 667px
  .nav-header {
    padding: 17px 0 4px;
    .main-nav {
      .nav {
        top: 62px;
      }
      .nav-mobile {
        .navbar-toggle {
          &.active {
            &:before {
              top: 52px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $screen-xs-min) {
  // 480px
  .nav-header {
    padding: 15px 0 0;
    .logo {
      margin: 3px auto;
    }
    .country-selector {
      .dropdown-menu.all-countries {
        min-width: 100vw;
        width: 100vw;
        .locale-selector.title.international {
          text-align: center;
        }
      }
    }
  }
  .nav-header {
    .logo {
      .crop {
        margin: 4px auto;
        width: 165px;
        .logo-image {
          height: 32px;
        }
      }
    }
  }
}

.navbar-inverse {
  .nav {
    .open {
      > a,
      > a:hover,
      > a:focus {
        background-color: $gray-darker;
      }
    }
  }
}

.nav {
  .open {
    > a,
    > a:hover,
    > a:focus {
      background: none;
      border: 0 none;
    }
  }
}

/* country selector */
.nav-header {
  .country-selector {
    padding: 0;
    background: $gray-darker;

    li {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .fa-caret-down,
    .fa-caret-up {
      color: $white;
      display: inline-block;
      font-size: 16px !important;
      margin-left: 10px !important;
      vertical-align: middle;
    }
    [aria-expanded='true'] {
      .fa-caret-up {
        display: inline-block;
      }
      .fa-caret-down {
        display: none;
      }
    }
    .selector-content {
      margin: 20px;
      color: $white;
      a {
        color: $white;
      }
      .locale-selector {
        &.title {
          font-weight: 200;
          margin-bottom: 10px;
          text-transform: uppercase;
          .int-info {
            font-weight: 300;
            text-transform: none;
            color: $white;
            text-align: center;
            &:hover {
              color: $orange;
            }
          }
        }
        &.selector {
          margin: 0 10px;
          .select2-search {
            display: none;
          }
        }
        .select2-container,
        .select2-choice {
          width: 100%;
          min-height: 45px;
          border: none;
          border-radius: 4px;
          overflow: hidden;
        }
      }
    }

    @media (max-width: $screen-md-min) {
      // 991px
      background: transparent;
      height: 60px;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
      .current-country {
        display: block;
        font-size: 0;
        padding: 20px 10px;
        .currentflag {
          height: 20px;
          margin: 0;
          width: 35px;
        }
      }
      .dropdown-menu.all-countries {
        background: $gray-darker;
        border-radius: 0;
        left: auto;
        padding: 0;
        right: 0;
        width: auto;
        &:before {
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 7px solid $orange;
          content: '';
          height: 0;
          position: absolute;
          right: 41px;
          top: -9px;
          width: 0;
        }
      }
    }
  }
}

.country-selector {
  select,
  select:focus,
  select:active {
    background: $gray-darker;
    border: 1px solid $gray-dark;
    border-radius: 4px;
    color: $white;
    height: 45px;
    padding: 7px 10px;
    width: 100%;
  }
  .selector-title {
    position: relative;
    &:after {
      border-style: solid;
      border-width: 7px 6px 0 6px;
      border-color: $gray-mid transparent transparent transparent;
      content: '';
      height: 0;
      pointer-events: none;
      position: absolute;
      right: 20px;
      top: 48px;
      width: 0;
    }
  }
  @-moz-document url-prefix() {
    select:-moz-focusring,
    select::-moz-focus-inner {
      color: transparent;
      text-shadow: 0 0 0 $white;
      transition: none;
    }
  }
}

// IE11 HACK
@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  .nav-header .collapse.pick-crate .dropdown-section .dropdown-list .dropdown-item,
  *::-ms-backdrop,
  .nav-header .collapse.dropdown-account .dropdown-section .dropdown-list .dropdown-item,
  *::-ms-backdrop,
  .nav-header .collapsing.pick-crate .dropdown-section .dropdown-list .dropdown-item,
  *::-ms-backdrop,
  .nav-header .collapsing.dropdown-account .dropdown-section .dropdown-list .dropdown-item {
    line-height: 2.5;
    margin: 0;
  }
}
