// ======= //
// Sidenav //
// ======= //

ul.side-nav {
  @include border-box;

  li {
    line-height: 1em;
    text-transform: uppercase;

    &.active {
      background-color: $gray-light;
    }

    a {
      color: inherit;
      display: block;
      padding: 20px;
      border-bottom: 0;

      &:hover {
        text-decoration: none;
        color: $orange;
      }
    }
  }
}

@media (max-width: 768px) {
  div[class*="col-sm"].side-nav-container {
    ul.side-nav {
      li {
        a {
          padding: 20px 10px;
        }
      }
    }

    & + div[class*="col-md"] {
      margin-top: 25px;
      @media (max-width: 768px) {
         margin-top: 5px;
      }
    }
  }
}

@media (max-width: 767px) {
  div[class*="col-sm"].side-nav-container {
    display: none;
    & + div[class*="col-sm"] {
      margin-top: 25px;
      @media (max-width: 768px) {
         margin-top: 5px;
      }
      @media (max-width: 767px) {
        margin-top: 0;
      }
    }
  }
}
