// ============================= //
// Plan boxes                    //
// ============================= //

.subscriptions-bg {
  padding: 1em 0 2em 0;
}

a.learn-more-link {
  color: $gray-dark;
}
a.learn-more-link:hover {
  color: $orange;
}

.subscription ul {
  padding: 5px 0 25px;
}

.base {
  display: block;
  margin-left: 0px;
  margin: 0 auto;
  position: relative;
  float: none;
}

.subscription {
  text-align: center;
  padding: 0px 15px 25px;

  .plan-details {
    position: relative;
    height:13em;
    margin-bottom: 2em;

    @media (max-width: 1199px) and (min-width:990px){
      height: 20em;
    }

    @media (max-width:990px){
      height: 20em;
    }

    @media (max-width:786px){
      height: 20em;
    }

    @media (max-width:375px){
      height: 14em;
    }

    @media (max-width:360px){
      height: 14em;
    }

    @media (max-width:320px){
      height: 11em;
    }

    img {
      box-sizing: border-box;
      padding: 10px 10px 0 10px;
      margin: 0 auto;
    }
  }

  @media (max-width:767px){
    .lYear {
      .plan-details {
        height: 20em;
      }
    }
  }

  .subscription-plan-box {
    background-color: $gray-light;
  }

  ul.subscriptions {
    list-style: none;
    li:first-child{
      color: $orange;
      font-weight: 600;
      font-size: 24px;
      padding-bottom:10px;
      line-height: 1;
      p {
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        font-weight: normal;
      }
      .per-month {
        font-size: 11px;
        padding-bottom:10px;
      }
    }
  }

  ul.local-currency {
    list-style: none;
    padding-top: 25px;
    padding-bottom: 0;
    li {
      &:nth-child(2) {
        color: $orange;
        font-weight: 600;
        font-size: 24px;
        p {
          font-size: 14px;
          line-height: 1.42857143;
          color: #333333;
          font-weight: normal;
          margin-bottom: 0px;
        }
        .per-month {
          font-size: 11px;
          padding-bottom:10px;
        }
      }
    }
  }

  input.hidden {
    display: none;
  }

  form {
    background-color: $gray-light;
  }

  .term {
    background-color: $gray-darker;
    display: inline-block;
    color: $white;
    font-size: 18px;
    height: 60px;
    padding: 20px 0;
    width: 100%;
  }

  select {
    background-color: $gray-light;
    display: block;
    margin: 0 auto 15px;
    width: 134px;
  }
  .btn-secondary {
    margin-bottom: 25px;
  }



  .bottom {
    padding-top: 40px;
    position: relative;
    z-index: 1;
  }
}

.giftZone {
  height: 159px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 100%;

  @media (max-width: 979px) and (min-width:761px){
      height: 245px;
  }

  @media (max-width:760px){
    height: 330px;
    height: 100%;
  }
}

.theShirt {
  background: image-url('subscriptions/shirt.jpg') no-repeat;
  background-position: 0 top;
  background-size: 100%;
  height: 100%;
  min-width: 199px;
}

@media (max-width: 1196px) {
  .flagBar.fullFlag{
    top: 55%;
  }
  .plan-details {
    .giftZone {
      height: 220px;
    }
  }
}

.shirtCtrl {
  opacity:0;
}

.fullFlag {
  left: -3%;
  position: relative;
  width: 106%;
  z-index: 2;

  @media (max-width: 979px) and (min-width:761px){
    left: -2%;
    width: 104%;
  }
  @media (max-width:760px){
    left: -1%;
    width: 102%;
  }

  @media (max-width:460px){
    left: -2%;
    width: 104%;
  }
}

.flagBar {
  background: #f76b00;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 51%;
  top: 44%;

  @media (max-width: 979px) and (min-width:761px){
    top: 55%;
  }

  @media (max-width:760px){
    top: 58%;
  }

  @media (max-width:420px){
    top: 55%;
  }

  .flagContent {
    color:white;
    line-height: 1.5;
    margin: auto;
    overflow: hidden;
    padding: 5px;
    width: 73%;

    ul {
      padding: 5px 0!important;
    }

    @media (max-width: 979px) and (min-width:761px){
      width: 50%;
    }

    @media (max-width:761px){
      width: 35%;
    }

    @media (max-width:465px){
      width: 55%;
    }
  }

  .fSheen {
    height: 100px;
    left:-10em;
    position: absolute;
    top:-32px;
    width: 100px;
  }

  .lNotch, .rNotch{
    bottom: -6px;
    height: 6px;
    position: absolute;
    width: 6px;
  }

  .lNotch {
    background: image-url('left_banner_hook.png') 100% no-repeat;
    left: 0;
  }

  .rNotch {
    background: image-url('right_banner_hook.png') 100% no-repeat;
    right: 0;
  }
}

.sheen {
  background: image-url('sheen_v02.png') 100% no-repeat;
  background-size: 100%;
  opacity: 0;
}

.learnmore {
  background-color: $white;
  padding: 25px 0 0;

  .glyphicon-info-sign {
    font-size: 32px;
    &:before {
      color: $gray-light;
    }
  }
}

.gift-carat-up {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgb(255, 95, 0);
  border-bottom: 15px solid rgba(255, 95, 0, .9);
  height: 0;
  margin: -82px auto 0;
  opacity: .9;
  width: 0;

  @media (max-width: 979px) and (min-width: 761px) {
    margin: -82px auto 0;
  }

  @media (max-width: 760px) {
    margin: -83px auto 0;
  }
}

.giftRibbon {
  background: $orange;
  margin-bottom:10px;
  max-width: 420px;
  opacity: .9;
  padding: 10px 0;
  width: 100%;

  @media (max-width: 380px) {
    bottom: 0%;
    left: 0%;
    width: 100%;
  }

  ul {
    width: 100%;

    .gfGift {
      border: none;
      color: $white;
      width: 2%;
      width: 16%;

      @media (max-width:760px){
        width: 12%;
      }
    }

    .gfStuff {
      color: $white;
      line-height: 1.4;
      padding-top: .4em;

      @media (max-width: 979px) and (min-width:761px){
        padding-top: 0.4em;
      }

      @media (max-width:760px){
        padding-left: 1em;
      }

      .gfTitle {
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom: 5px;
        text-align:center;
        line-height:1;

        @media (max-width: 979px) and (min-width:761px){
          font-size: 1.5em;
        }

        @media (max-width:760px){
          font-size: 1.2em;
        }

        @media (max-width:400px){
          font-size: 1.5em;
          font-weight: 800;
        }

        @media (max-width: 767px) {
          font-size: 1.2em;
        }

        @media (max-width: 380px) {
          font-size: 1.5em;
        }
      }

      .gfDescription {
        font-size: 1em;
        font-weight: 400;
        line-height:1;
        text-align: center;
      }
    }
  }

  .lNotch, .rNotch{
    display: none;
    height: 32px;
    position: absolute;
    top: -22px;
    width: 21px;

    @media (max-width:760px) and (min-width:410px){
      height: 29px;
      width: 26px;
    }

    @media (max-width: 380px) {
      display: none;
    }
  }

  .lNotch {
    background: image-url('left_sub_hook.png') 100% no-repeat;
    background-size: 100%;
    left: 0;
  }

  .rNotch {
    background: image-url('right_sub_hook.png') 100% no-repeat;
    background-size: 100%;
    right: 0;
  }
}

.plan-details {
  height:13em;
  margin-bottom: 2em;
  position: relative;

  @media (max-width: 979px) and (min-width:761px){
    height:18em;
  }

  @media (max-width: 761px){
    height:300px;
    height:21em;
  }
}

.giftZone {
  height: 159px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 100%;

  @media (max-width: 979px) and (min-width:761px){
    height: 245px;
  }

  @media (max-width:760px){
    height: 330px;
    height: 100%;
  }
}

.theShirt {
  background: image-url('subscriptions/shirt.jpg') no-repeat;
  background-position: 0 top;
  background-size: 100%;
  height: 100%;
  min-width: 199px;
}

.shirtCtrl {
  opacity:0;
}

.flagBar {
  background: #f76b00;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 51%;
  top: 44%;

  @media (max-width: 979px) and (min-width:761px){
    top: 55%;
  }

  @media (max-width:760px){
    top: 58%;
  }

  @media (max-width:420px){
    top: 55%;
  }

  .flagContent {
    color:white;
    line-height: 1.5;
    margin: auto;
    padding: 5px;
    overflow: hidden;
    width: 73%;

    @media (max-width: 979px) and (min-width:761px){
      width: 50%;
    }

    @media (max-width:761px){
      width: 35%;
    }

    @media (max-width:465px){
      width: 55%;
    }
  }

  .fSheen {
    height: 100px;
    left:-10em;
    position: absolute;
    top:-32px;
    width: 100px;
  }

  .lNotch, .rNotch{
    bottom: -6px;
    height: 6px;
    position: absolute;
    width: 6px;
  }

  .lNotch {
    background: image-url('left_banner_hook.png') 100% no-repeat;
    left: 0;
  }

  .rNotch {
    background: image-url('right_banner_hook.png') 100% no-repeat;
    right: 0;
  }
}

.planBoxTarget.p1 {
  margin-top: 3.1em;
  .subscription.plan1 {
    width: 23%;
  }
  .subscription.plan3 {
    top: -0.51em;
    width: 24%;
  }
  .subscription.plan6 {
    top: -3em;
    width: 27%;
    z-index: 2;
  }
  .subscription.plan12 {
    width: 24%;
    top: -2em;
  }

  .subscription {
    -webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.75);
      -moz-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.75);
        box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: -8px 9px 28px -5px rgba(0,0,0,0.75);
      -moz-box-shadow: -8px 9px 28px -5px rgba(0,0,0,0.75);
        box-shadow: -8px 9px 28px -5px rgba(0,0,0,0.75);
    padding: 0;

    .mvp {
      /* IE10+ */
      background-image: -ms-linear-gradient(top, #005ca3 0%, #3366FF 100%);
      /* Mozilla Firefox */
      background-image: -moz-linear-gradient(top, #005ca3 0%, #3366FF 100%);
      /* Opera */
      background-image: -o-linear-gradient(top, #005ca3 0%, #3366FF 100%);
      /* Webkit (Safari/Chrome 10) */
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #005ca3), color-stop(100, #3366FF));
      /* Webkit (Chrome 11+) */
      background-image: -webkit-linear-gradient(top, #005ca3 0%, #3366FF 100%);
      /* W3C Markup */
      background-image: linear-gradient(to bottom, #005ca3 0%, #3366FF 100%);
      color: white;
      font-weight: 600;
      padding: 15px;
    }

    .bvp {
      background-image: -ms-linear-gradient(top, #0179D6 0%, #3D9EF8 100%);
      background-image: -moz-linear-gradient(top, #0179D6 0%, #3D9EF8 100%);
      background-image: -o-linear-gradient(top, #0179D6 0%, #3D9EF8 100%);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0179D6), color-stop(100, #3D9EF8));
      background-image: -webkit-linear-gradient(top, #0179D6 0%, #3D9EF8 100%);
      background-image: linear-gradient(to bottom, #0179D6 0%, #3D9EF8 100%);
      color: white;
      font-weight: 600;
      padding: 10px;
    }

    .subscription-plan-box {
      background: white;

      .plan-details {
        /* IE10+ */
        background-image: -ms-linear-gradient(top, #FF9000 0%, #ff5a00 100%);
        /* Mozilla Firefox */
        background-image: -moz-linear-gradient(top, #FF9000 0%, #ff5a00 100%);
        /* Opera */
        background-image: -o-linear-gradient(top, #FF9000 0%, #ff5a00 100%);
        /* Webkit (Safari/Chrome 10) */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF9000), color-stop(100, #ff5a00));
        /* Webkit (Chrome 11+) */
        background-image: -webkit-linear-gradient(top, #FF9000 0%, #ff5a00 100%);
        /* W3C Markup */
        background-image: linear-gradient(to bottom, #FF9000 0%, #ff5a00 100%);
        color: white;
        margin-bottom: 0.4em;
        overflow: hidden;
        .pdName{
          font-size: 15px;
          margin-top: 10px;
        }
        .pdFreeShirt {
          position: absolute;
              bottom: 0;
              right: -0.51em;
              width: 106%;
              img {
                padding: 0;
              }
        }
        .pd1Month{
          bottom: 0;
          position: absolute;
          right: -0.51em;
          width: 106%;
          img {
            padding: 0;
            position: relative;
            top: -20px;
            width: 100%;
          }
        }
        .pd3Months{
          bottom: 0;
          position: absolute;
          right: -0.51em;
          width: 106%;
          img {
            padding: 0;
            position: relative;
            top: -20px;
            width: 85%;
          }
        }
        .pd6Months{
          bottom: 0;
          position: absolute;
          right: -0.51em;
          width: 106%;
          img {
            padding: 0;
            position: relative;
            top: -40px;
            width: 90%;
          }
        }
        .mirror {
          -webkit-box-reflect: below -20px
          -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(white));
          -webkit-border-radius: 15px;
        }
        .pdRow2{
          min-height: 130px;
        }
        .pdRow{
          min-height: 15px;
        }
        &.inny {
          /* IE10+ */
          background-image: -ms-linear-gradient(top, #FF8022 0%, #FFA635 100%);
          /* Mozilla Firefox */
          background-image: -moz-linear-gradient(top, #FF8022 0%, #FFA635 100%);
          /* Opera */
          background-image: -o-linear-gradient(top, #FF8022 0%, #FFA635 100%);
          /* Webkit (Safari/Chrome 10) */
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF8022), color-stop(100, #FFA635));
          /* Webkit (Chrome 11+) */
          background-image: -webkit-linear-gradient(top, #FF8022 0%, #FFA635 100%);
          /* W3C Markup */
          background-image: linear-gradient(to bottom, #FF8022 0%, #FFA635 100%);
        }
        &.plan3 {
          height: 15em;
          @media (max-width: 991px) and (min-width: 767px) {
            height: 13em;
          }
        }
        &.plan6 {
          height: 16em;
          @media (max-width: 991px) and (min-width: 767px) {
            height: 15em;
          }
        }

        .pdZone {
          font-size: 1.05em;
          padding-top: 5%;
          li {
            list-style: none;
            .per-month {
              font-size: 0.6em;
              font-weight: 500;
            }
            &:nth-child(2) {
              font-weight: 600;
              font-size: 1em;
              font-weight: 300;
              margin: 0 0.61em;
            }
          }
        }

        &.plan12 {
          .pdZone {
            font-size: 0.9em;
            left: -5em;
            @media (max-width: 991px) and (min-width: 767px) {
              left: -3em;
              z-index: 1;
            }
            position: relative;
            & li:nth-child(2) {
              font-size: 1.6em;
            }
          }
        }
        @media (max-width: 1199px) and (min-width: 992px) {
          height: 13em;
        }
        @media (max-width: 991px) and (min-width: 767px) {
          height: 10em;
        }
      }

      .subscriptions {
        padding-bottom: 17px;
        li {
          padding-top: 0.24em;
          &:first-child {
            font-size: 33px;
            padding: 0;
          }
          &:nth-child(2), &:nth-child(3) {
            border-bottom: 1px solid $silver;
            list-style: none;
            margin: 0 1em;
            padding-bottom: 0.05em;
            padding-top: 0.24em;
          }
          &:last-child {
            color: #ff5300;
            font-weight: 600;
          }
        }
      }
      .btn-secondary {
        margin-bottom: 14px;
      }
    }
    .learnmore {
      padding: 0;
    }
  }
}
