.user_accounts {
  .cancel-save-offer {
    background-color: $white;
    border: 1px solid $gray-mid;
    border-top: 3px solid $orange;
    border-radius: 3px;
    margin-bottom: 15px;
    text-align: right;
    @media(max-width: 767px){
      margin: 0 0 15px 0;
    }
    p {
      padding-top: 15px;
      text-align: left;
      .fa-check-circle {
        margin-right: 5px;
      }
    }
  }
}
