.ReactModalPortal > * {
  opacity: 0;
}
.ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
  background: rgba(0, 0, 0, 0.5);
  &--after-open {
    opacity: 1;
  }
  &--before-close {
    opacity: 0;
  }
}

// React Modal Overlay Styles
.lc-modal-overlay {
  left: 0;
  position: fixed; //please dont change this to absolute, if you need it to be absolute overwrite it specifically with id of body first
  right: 0;
  top: 0;
  z-index: 10000000000;
  width: 100%;
  height: 100%;
}

// React Modal Styles
.lc-modal {
  left: 50%;
  margin-left: -250px;
  outline: none;
  overflow: auto;
  padding: 20px;
  position: absolute;
  text-align: left;
  width: 500px;
  -webkit-overflow-scrolling: touch;
  @media (max-width: 767px) {
    margin-left: -170px;
    width: 340px;
  }

  .equalHMWrap {
    width: 100%;
  }

  .modal-dialog {
    width: 100%;
    @media (max-width: 767px) {
      width: auto;
    }

    .modal-content {
      border-radius: 4px;
      display: inline-block;
      width: 100%;
    }

    .modal-header {
      border: none;
    }

    .modal-header,
    .modal-footer {
      // border: none;
      text-align: center;
    }

    .close {
      border: none;
      padding: 13px 15px;
      transition: all 300ms;
      -webkit-transition: all 300ms;
      -moz-transition: all 300ms;
      -o-transition: all 300ms;
      &:focus,
      &:hover {
        outline: none;
        transform: rotateZ(90deg);
        -webkit-transform: rotateZ(90deg);
        -moz-transform: rotateZ(90deg);
        -ms-transform: rotateZ(90deg);
        -o-transform: rotateZ(90deg);
      }
    }

    .modal-body {
      display: inline-block;
      max-height: 600px;
      position: relative;
      width: 100%;
    }

    // Unskip Modal button styles
    .modal-footer {
      align-items: center;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
      .btn {
        margin: auto;
        &.checkout-btn-addon {
          background-color: $orange;
          border: 0 none;
          border-color: $orange;
          border-radius: 12px;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
                      inset 0 -2px 0 rgba(0,0,0,0.1);
          color: $white;
          font-size: 16px;
          height: 54px;
          line-height: 1.5;
          padding: 15px 40px;
          text-shadow: 0 2px 0 rgba(52,52,52, 0.1);
          &:hover,
          &:focus {
            background-color: $orange-light;
            border-color: $orange-light;
            box-shadow: 0 6px 10px 2px rgba(0,0,0,0.20),
                        inset 0 -2px 0 rgba(0,0,0,0.1);
            outline: none;
          }
          @media (max-width: 767px) {
            padding: 15px 20px;
          }
        }
      }
      a[id^='cancel-unskip'] {
        color: $gray-dark;
        text-decoration: none;
      }
    }

    form {
      margin: 0;
      .lc-form-error {
        color: $error;
        display: inline-block;
        margin-bottom: 5px;
      }
      input {
        font-weight: normal;
        margin-bottom: 16px;
        text-align: center;
        width: 100%;
      }
      input[type='submit'] {
        background-color: $orange;
        border: 4px solid $orange;
        color: $white;
        display: inline-block;
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 10px;
        width: 150px;
        &:hover,
        &:focus,
        &:active {
          background: none;
          border-color: $orange;
          box-shadow: none;
          color: $orange;
          outline: 0 none;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .modal-dialog {
      margin: 0;
      max-width: 340px;
    }
  }
}

/// CROSS SELL MODAL STYLES
.lc-cross-sell-modal {
  position: absolute;
}
#cross-sell-modal {
  min-height: 700px;

  .cross-sell-info-container {
    background: white !important;
    display: block;
    z-index: 1500;
    position: fixed;
    transition: opacity 200ms ease-in-out;
    background: rgba(0, 0, 0, 0.15);
    padding-top: 10%;

    &.info_pane_info_pane_open {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
    &.info_pane_info_pane_closed {
      display: none;
      opacity: 0;
      height: 0px;
      width: 0px;
    }
  }
  .modal-header {
    text-align: left;
  }
  #modal-body {
    img {
      width: 70%;
      margin: 0 auto;
    }
  }
}

#lc_cross_sell {
  margin: 15px 0px;
  order: 5;

  @media (max-width: 768px) {
    button {
      width: 100%;
      margin-top: 30px;
    }
  }
}

@media (max-width: 768px) {
  .variant-sizes {
    li {
      margin: 0 20px;
    }
  }
}

// VIDEO MODAL STYLES
.lc-modal{
  &.lc-video-modal  {
    width: 1170px;
    position: relative;
    left: initial;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    @media (max-width: 1200px) {
      width: 940px;
    }

    @media (max-width: 991px) {
      width: 720px;
    }

    @media (max-width: 767px) {
      width: auto;
      padding: 0 15px;
    }

    .video-modal-content {
      padding-bottom: 55%;
      @media (max-width: 767px) {
        padding-bottom: 60%;
      }
      .player {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
}
