.user_accounts {
  .account-summary {
    .nav-tabs {
      > li {
        > a {
          @media(max-width: 767px){
            font-size: 14px;
            padding: 10px 5px;
          }
          @media(max-width: 374px){
            font-size: 13px;
            padding: 10px 3px;
          }
          @media(max-width: 320px){
            font-size: 12px;
          }
        }
      }
    }
  }
}
