// User Accounts Account Info Styles

.user_accounts {
  .account-info {
    padding: 0 15px;
    h4 {
      margin-bottom: 40px;
    }
    .account-row {
      line-height: 1em;
      margin-bottom: 15px;
      padding: 0 10px 5px;
      @media(max-width: 767px){
        line-height: 1.2;
        padding: 0 5px 10px;
      }
      a {
        &:focus,
        &:active {
          outline: none;
        }
      }
    }
  }
}
