.account-subscription-cancellations,
#subscriptions-cancellation,
#subscriptions-cancellations-new,
#user_accounts,
#subscriptions-cancellations-confirmation,
#subscriptions-cancellations-option,
#subscriptions-cancellations-offer_confirmation {
  padding: 113px 0 0;
  @media (max-width: 991px) {
    padding: 62px 0 0;
  }
  #navbar {
    margin-bottom: 15px;
  }
  .order-by {
    display: none;
  }
  .main-content {
    background-color: $white;
  }
  h1 {
    margin-bottom: 40px;
    margin-top: 40px;
    @media (max-width: 768px) {
      font-size: 38px;
      margin-bottom: 20px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 1.2;
      margin-bottom: 10px;
      margin-top: 20px;
    }
  }
  h3 {
    margin-top: 20px;
  }
  p {
    font-size: 15px;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      margin-bottom: 34px;
    }
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
  p.img-hero {
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
  .btn.btn-skip {
    margin: 0 0 0 20px;
    @media (max-width: 768px) {
      margin: 0 0 0 10px;
    }
    @media (max-width: 767px) {
      height: 34px;
      margin: 0;
      margin-bottom: 10px;
      padding: 6px 10px;
    }
  }
  .tools {
    margin: 20px 0 20px 60px;
    @media (max-width: 768px) {
      margin: 20px 0 20px 0px;
    }
  }

  .upContent {
    margin-bottom: 20px;
  }

  #cancel-at-end-of-period,
  #cancel-at-end-of-period-form-lnk {
    padding: 0;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  .sidebar {
    background: $gray-light;
    border: 1px solid #e3e4ea;
    @media (max-width: 767px) {
      padding-top: 20px;
    }
    img.sad-skippy {
      margin: 40px auto;
      text-align: center;
      @media (max-width: 768px) {
        margin: 20px auto;
      }
    }
    h2 {
      font-size: 28px;
      margin: 0 10px 5px;
      @media (max-width: 768px) {
        font-size: 20px;
      }
      @media (max-width: 767px) {
        font-size: 24px;
      }
    }
    > div {
      background: $white;
      margin: 10px 5px 5px;
      padding: 20px 10px;
      @media (max-width: 768px) {
        padding: 10px 10px 5px;
      }
      p {
        font-size: 15px;
        margin-bottom: 10px;
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
    + p {
      margin: 20px auto 0;
      text-align: center;
      @media (max-width: 768px) {
        margin: 25px auto 20px;
      }
    }
  }

  .cancel-survey,
  .offer-confirmation,
  .cancellation-confirmation {
    background-color: $white;
    border: 1px solid $gray-mid;
    border-radius: 3px;
    border-top: 3px solid $orange;
    margin-top: 2em;
    margin-bottom: 4em;
    @media (max-width: 767px) {
      margin: 15px;
    }
  }

  .survey-header,
  .survey-subheader {
    color: $gray-darker;
    text-transform: none;
  }

  .survey-header {
    margin-bottom: 10px;
    margin-top: 30px;
  }

  .survey-subheader {
    color: $gray-darker;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .survey-option {
    cursor: pointer;
    display: block;
    padding-left: 30px;
    padding-bottom: 20px;
    position: relative;
    label {
      color: $gray-mid;
      cursor: pointer;
      display: block;
      font-size: 16px;
      font-weight: bold;
      margin: 0;
      padding: 0;
      position: static;
      &:hover {
        color: $orange;
      }
    }

    input[type='radio'] {
      position: absolute;
      visibility: hidden;
    }

    input[type='radio']:checked ~ .check::before {
      background: $orange;
    }
    input[type='radio']:checked ~ .suvey-option label {
      color: $orange;
    }
    .cancel-save {
      padding-top: 10px;
      &.basic-save {
        max-width: 850px;
      }
      &.other {
        max-width: 600px;
        .other-reason {
          background-color: inherit;
          height: 100px;
          max-width: 600px;
          width: 100%;
          @media (max-width: 768px) {
            max-width: 100%;
          }
        }
      }
    }
    .prompt {
      cursor: default;
      .text-header {
        font-size: 15px;
        font-weight: 500;
        line-height: 21px;
      }

      .text-body,
      .enable-padding {
        padding: 10px 0;
        margin: 0;
      }
      .clear-padding {
        margin: 0;
        padding: 0;
      }

      p:last-child {
        padding-bottom: 0;
      }
    }
    .check {
      border: 2px solid;
      border-color: #aaa;
      border-radius: 100%;
      display: block;
      height: 20px;
      left: 0px;
      position: absolute;
      top: 0;
      transition: border 0.125s linear;
      -webkit-transition: border 0.125s linear;
      width: 20px;
      z-index: 5;

      &::before {
        border-radius: 100%;
        content: '';
        display: block;
        height: 10px;
        left: 3px;
        margin: auto;
        position: absolute;
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
        top: 3px;
        width: 10px;
      }
    }

    &.active {
      label {
        color: $orange;
      }
      .check {
        border-color: $orange;
      }
    }
    &:hover {
      transition: background 0.125s linear;
      -webkit-transition: background 0.125s linear;

      .check {
        border: 2px solid $orange;
      }
    }
  }

  .check-header {
    margin-bottom: 23px;
    @media (max-width: 767px) {
      font-size: 26px;
      line-height: 1.2;
      margin-bottom: 10px;
    }
  }
  .check-actions {
    margin-bottom: 40px;
    text-align: center;
  }
  .keep-btn,
  .cancel-btn {
    margin-top: 10px;
    text-align: center;
  }
  .keep-btn {
    margin-right: 20px;
    @media (max-width: 768px) {
      margin-right: inherit;
    }
    @media (max-width: 767px) {
      height: auto;
      white-space: normal;
      width: 100%;
    }
  }
  .cancel-btn {
    @media (max-width: 768px) {
      margin-left: 20px;
    }
    @media (max-width: 767px) {
      height: auto;
      margin-left: 0;
      white-space: normal;
      width: 100%;
    }
  }

  .final-check,
  .cancel-save-offer {
    background: $white;
    left: 50%;
    max-width: 980px;
    padding: 80px 132px;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    z-index: 999;
    .keep-btn {
      @media (max-width: 1100px) {
        margin-right: inherit;
      }
    }
    .notice {
      margin: 30px 0 0;
    }
    @media (max-width: 768px) {
      padding: 40px 20px;
      top: 40%;
      width: 90%;
    }
    @media (max-width: 767px) {
      padding: 20px;
      top: 50%;
      width: 90%;
    }
    @media (max-width: 320px) {
      top: 55%;
    }
  }

  .cancel-save-offer {
    .check-actions {
      margin-bottom: 0;
      .text-body {
        font-size: 20px;
      }
    }
  }

  .light-box {
    /** Position and style */
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 998;
  }

  .cancellation-confirmation,
  .offer-confirmation {
    .confirmation-header {
      margin-bottom: 10px;
      margin-top: 20px;
    }
    .confirmation-text {
      font-size: 16px;
    }
    .account-btn {
      background: $orange;
      a {
        color: $white;
      }
    }
    .back-link {
      margin: 40px 0;
      text-align: center;
    }
  }
  .offer-confirmation {
    .hdr-4 {
      font-weight: 400;
    }
  }
}
/* temporary will remove this once all of cancellations is moved over */
.account-subscription-cancellations {
  padding: 0;
  margin-top: -15px;
}
