// User Accounts Referral Credits Styles

.user_accounts {
  .referral-credits {
    .hdr-2 {
     padding: 0;
    }
    .hdr-4 {
      line-height:1.4;
      margin-bottom: 22px;
    }
    .refer {
      padding: 0 14px;
      .refer-box-container {
        padding: 0;

        &:last-child {
          margin-left: 10px;
        }

        .refer-box {
          background-color: $gray-light;
          padding: 5px;

          .hdr-2, .hdr-3 {
            line-height: 1;
            margin-bottom: 10px;
            margin-top: 20px;
            text-align: center;
          }

          .hdr-2 {
            font-size: 35px;
            font-weight: bold;
          }

          .hdr-3 {
            color: $gray-dark;
            font-size: 18px;
            font-weight: normal;
          }
        }
      }

      .col-x-6:first-child {
        @media (max-width: 767px) {
          padding-left: 0;
          padding-right: 5px;
        }
      }
      .col-x-6 {
        @media (max-width: 767px) {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }


    .refer-image {
      float: left;
      margin-bottom: 50px;
      @media (max-width: 991px) {
        float: none;
      }
      @media (max-width: 767px) {
        float: left;
        margin-top: 0;
      }
    }

    .form-actions {
      background-color: transparent;
      border-top: 0;
      margin-top: 22px;
      margin-bottom: 22px;
      padding: 0;
    }
  }
}
