%shared-styles {
  /* Reset Styles */
  a,
  button {
    cursor: pointer;
  }
  img {
    max-width: 100%;
  }
  /* Buttons styles */
  .btn {
    font-family: "ProximaNovaCond", "Montserrat", "Helvetica Neue", Helvetica,
      Arial, sans-serif;
    border-radius: 6px;
    text-transform: capitalize;
    font-weight: 600;
    &.btn-sm {
      text-shadow: none;
      line-height: 0.88;
      letter-spacing: 1px;
      font-size: 16px;
      padding: 6px 15px;
    }
    &.btn-primary {
      text-shadow: 0 2px 0 rgba(52, 52, 52, 0.1);
    }
    &.disabled {
      text-shadow: none;
      box-shadow: none;
      background: #e3e3e3;
    }
  }

  a.btn {
    &.btn-sm {
      padding: 10px 15px;
    }
  }

  .form-control::-webkit-input-placeholder,
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #b1b1b1;
    font-size: 14px !important;
    letter-spacing: -0.1px;
  }
  .form-control::-moz-placeholder,
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #b1b1b1;
    font-size: 14px !important;
    letter-spacing: -0.1px;
  }
  .form-control:-ms-input-placeholder,
  :-ms-input-placeholder {
    /* IE 10+ */
    color: #b1b1b1;
    font-size: 14px !important;
    letter-spacing: -0.1px;
  }
  .form-control:-moz-placeholder,
  :-moz-placeholder {
    /* Firefox 18- */
    color: #b1b1b1;
    font-size: 14px !important;
    letter-spacing: -0.1px;
  }
}

/*User Account Styles */
.user_accounts .main-content {
  margin: 0px !important;
}

.user_accounts #footer {
  @media (max-width: 767px) {
    z-index: 2;
    position: absolute;
  }
}

#manage-account {
  @extend %shared-styles;

  /* Form Styles */
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin: 0;
    input[type="checkbox"] {
      display: block;
      height: 0;
      opacity: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      &.round {
        border-radius: 16px;
        &:before {
          border-radius: 50%;
        }
      }
      &:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 1px;
        top: 1px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        background: $white;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3),
          0 4px 9px 0 rgba(0, 0, 0, 0.1);
      }
    }

    input[type="checkbox"]:checked + .slider {
      background-color: $orange;
    }
    input[type="checkbox"]:checked + .slider:before {
      -webkit-transform: translateX(14px);
      -ms-transform: translateX(14px);
      transform: translateX(14px);
    }
  }

  /* Custom Select */
  .custom-select {
    width: 100%;
  }

  /* Status */
  .status {
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    font-family: "ProximaNovaCond-Extrabld", "Montserrat", "Helvetica Neue",
      Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    position: relative;
    padding-left: 23px;
    text-transform: uppercase;
    i {
      display: inline-block;
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: -1px;
    }
    &.status-active,
    &.status-purchased {
      color: #27a466;
      i {
        background: url("img/user-account/active-icon.png");
      }
    }
    &.status-skipped {
      color: #f6a623;
      i {
        background: url("img/user-account/skip-icon.png");
      }
    }
    &.status-canceled,
    &.status-gift-canceled,
    &.status-pending-cancellation {
      color: #f6a623;
      i {
        background: url("img/user-account/cancel-icon.png");
      }
    }
    &.status-on-hold {
      color: #ef606a;
      i {
        background: url("img/user-account/hold-icon.png");
      }
    }
    &.status-past-due {
      color: #ef606a;
      i {
        background: url("img/user-account/past-icon.png");
      }
    }
    &.status-gift {
      color: #3d97f9;
      i {
        background: url("img/user-account/gift-icon.png");
      }
    }
  }

  .account-header {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 47px;
    background-image: url("img/user-account/header-desktop.png");

    .container {
      max-width: 975px;
    }

    @media (max-width: 767px) {
      height: 160px;
      padding-top: 36px;
      .container {
        padding: 0;
      }
    }

    h2 {
      font-weight: bold;
      line-height: 1.17;
      letter-spacing: normal;
      color: $gray-lightest;
      font-size: 48px;
      font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin-bottom: 47px;
      text-transform: uppercase;
      @media (max-width: 767px) {
        text-align: center;
        font-size: 32px;
        line-height: 1.19;
        margin-bottom: 35px;
      }
    }

    .account-nav-wrapper {
      width: 100%;
      height: fit-content;
    }
    .account-nav {
      list-style: none;
      padding: 0;
      margin: 0;
      position: relative;
      top: 1px;

      li {
        float: left;
        width: 100px;
        &:first-child,
        &:nth-child(2),
        &:nth-child(3) {
          width: 120px;
        }
        a {
          color: #e3e3e3;
          text-transform: uppercase;
          line-height: 1;
          letter-spacing: -0.2px;
          font-size: 11px;
          font-weight: bold;
          display: block;
          text-align: center;
          padding: 16px 0;
          border-top: 4px solid transparent;
          height: 50px;
          &.active {
            background: $gray-lightest;
            color: $gray-darker;
            border-top-color: $orange;
          }
        }
      }
      @media (max-width: 767px) {
        background: $gray-lightest;
        position: static;
        border-bottom: 1px solid #e3e3e3;
        width: 600px;
        padding: 0 15px;
        height: 51px;
        li {
          a {
            color: $gray-darker;
            border-top: none;
            border-bottom: 4px solid transparent;
            padding: 20px 0;
            padding-bottom: 16px;
            &.active {
              color: $gray-darker;
              border-bottom-color: $orange;
              background: transparent;
            }
          }
        }
      }
    }
  }

  .account-wrapper {
    min-height: 636px;
    padding-top: 50px;
    background: $gray-lightest;
    padding-bottom: 65px;
    @media (max-width: 767px) {
      padding-top: 0;
    }

    .container {
      max-width: 975px;
    }
  }

  .subscription-section {
    margin-bottom: 30px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    padding: 24px 0;
    background-image: url("img/user-account/RectangleBackground.png");
    background-color: $gray-lightest;
    min-height: 210px;

    .swiper-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 160px;
    }

    .swiper-slide {
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      margin-right: 30px;
      width: 295 !important;

      @media (max-width: 767px) {
        margin-right: 15px;
      }

      a {
        text-decoration: none;
        color: inherit;
        font-weight: inherit;
      }
    }

    @media (max-width: 767px) {
      margin-bottom: 15px;
      padding: 18px 0 22px 0;
    }

    &.sub-empty {
      @media (max-width: 767px) {
        padding: 44px 40px;
      }
    }

    &.subscription-swiper {
      position: relative;

      .swiper-button-next,
      .swiper-button-prev {
        position: absolute;
        z-index: 10;
        width: 80px;
        height: calc(100% + 2px);
        top: 21px;
        margin-top: -22px;
        @media (max-width: 767px) {
          display: none;
        }
      }
      .swiper-button-next {
        background: url("img/user-account/swiper-right.png") no-repeat center
          center rgba(249, 249, 249, 0.8);
        right: 0;
      }

      .swiper-button-prev {
        background: url("img/user-account/swiper-left.png") no-repeat center
          center rgba(249, 249, 249, 0.8);
        left: 0;
      }

      .swiper-button-disabled {
        display: none;
      }
    }

    .sub-wrapper {
      position: relative;
      padding-left: 150px;
      max-width: 515px;
      background: url("img/user-account/subs.png") no-repeat left 20px;
      h2 {
        font-size: 32px;
        font-weight: bold;
        line-height: 1.19;
        letter-spacing: normal;
        font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-bottom: 15px;
      }
      p {
        font-size: 14px;
        color: #1e1e1e;
        line-height: normal;
        letter-spacing: -0.1px;
        margin-bottom: 30px;
      }
      .btn {
        border-radius: 6px;
        height: 34px;
        font-size: 16px;
        line-height: 0.88;
        letter-spacing: 1px;
        width: 200px;
        padding: 10px 0;
        font-family: "ProximaNovaCond", "Helvetica Neue", Helvetica, Arial,
          sans-serif;
      }

      @media (max-width: 767px) {
        padding: 0;
        max-width: 240px;
        background: none;
        h2 {
          display: none;
        }
      }
    }

    .sub-card {
      background: $white;
      border-radius: 12px;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05);
      width: 295px;
      @media (max-width: 767px) {
        width: 265px;
      }
      .sub-img {
        height: 98px;
        border-radius: 12px 12px 0 0;
        position: relative;
        background-size: 100% 100%;
        .logo-img {
          width: 100%;
          height: 100%;
          border-radius: 12px 12px 0 0;
          text-align: center;
          position: relative;
          display: flex;
          align-items: center;
          img {
            margin: 0 auto;
            max-width: 220px;
            max-height: 40px;
          }
        }
        .status {
          top: 11px;
          left: 10px;
          padding-left: 23px;
          position: absolute;
        }
      }
      .sub-desc {
        padding: 16px 20px;
        * {
          display: block;
        }
        strong , label{
          font-size: 11px;
          line-height: 1;
          letter-spacing: -0.2px;
          text-transform: uppercase;
          font-weight: bold;
          margin: 0;
          height: auto;
        }
        span {
          font-size: 14px;
          line-height: 1.57;
          letter-spacing: -0.1px;
        }
      }
    }
  }

  .account-info {
    padding: 0;
    .info-block-left {
      float: left;
      width: calc(100% - 300px);
      @media (max-width: 991px) {
        float: none;
        width: 100%;
      }
    }
    .info-block-right {
      float: right;
      width: 285px;
      @media (max-width: 991px) {
        float: none;
        width: 100%;
      }
    }
    .info-block {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background: $white;
      border: 1px solid #e3e3e3;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
      margin-bottom: 30px;
      h4 {
        background: $gray-darker;
        color: $white;
        padding: 20px 15px;
        border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
        text-transform: uppercase;
        margin: 0;
        min-height: 54px;
        strong,
        .title-left {
          line-height: 1;
          letter-spacing: -0.1px;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 600;
          float: left;
        }
        > a {
          float: right;
          border-bottom: 2px solid $orange;
          font-size: 11px;
          letter-spacing: -0.2px;
          line-height: 1;
          font-weight: 600;
          color: $white;
          padding-bottom: 2px;
          text-decoration: none;
        }
      }
    }

    .info-list {
      padding: 15px;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      li {
        float: left;
        width: 50%;

        &:nth-child(odd) {
          width: 60%;
        }

        &:nth-child(even) {
          width: 40%;
        }

        &.btmmargin {
          margin-bottom: 24px;
        }

        @media (max-width: 767px) {
          float: none;
          width: 100%;
          margin-bottom: 24px;
          &.email-val {
            margin-bottom: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        strong, .info-label {
          display: block;
          color: $night-rider;
          line-height: 1;
          letter-spacing: -0.2px;
          font-size: 11px;
          font-weight: bold;
          text-transform: uppercase;
          margin: 0;
          height: auto;
          a {
            color: $orange;
            display: inline-block;
            margin-left: 15px;
            font-weight: bold;
          }
        }
        span {
          display: block;
          font-size: 14px;
          font-weight: normal;
          line-height: 1.57;
          letter-spacing: -0.1px;
          color: $night-rider;
          margin-top: 8px;
          &.empty-val {
            color: $gray-sky;
          }
        }
        p {
          font-size: 14px;
          line-height: 1.57;
          letter-spacing: -0.1px;
          font-weight: normal;
          margin-bottom: 0;
          margin-top: 8px;
        }
      }
    }

    .noti-setting {
      padding: 15px;
      li {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 5px;
        }
        span {
          font-size: 14px;
          line-height: 1.57;
          letter-spacing: -0.1px;
        }
        .switch {
          float: right;
        }
      }
    }

    .all-settings {
      a {
        display: block;
        color: $orange;
        background: $gray-lightest;
        line-height: 1;
        letter-spacing: -0.2px;
        font-weight: bold;
        font-size: 11px;
        border-top: 1px solid #e3e3e3;
        padding: 15px;
        border-radius: 0 0 3px 3px;
        text-transform: uppercase;

        @media (max-width: 767px) {
          font-size: 14px;
          padding: 21px 16px;
          letter-spacing: -0.1px;
        }
      }
    }
  }

  .white-block {
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
    background: $white;
    border: 1px solid #e3e3e3;
    color: $night-rider;

    @media (max-width: 767px) {
      background: transparent;
      border: none;
      padding: 0;
      box-shadow: none;
      margin: 0;
      padding-top: 14px;
    }
    h3 {
      font-size: 26px;
      line-height: 1.31;
      letter-spacing: -0.6px;
      font-weight: normal;
      margin: 0;
      margin-bottom: 30px;
      color: $night-rider;
      text-transform: uppercase;

      @media (max-width: 767px) {
        letter-spacing: normal;
        line-height: 1.27;
        font-size: 22px;
        margin-bottom: 20px;
      }
    }

    &.help-block {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      .help-btns {
        margin: 0 -7px;
        margin-bottom: 15px;
        padding-right: 15px;
        @media (max-width: 992px) {
          padding: 0;
        }
        li {
          float: left;
          padding: 0 7px;
          width: 25%;
          margin-bottom: 15px;
          a {
            background: $white;
            text-transform: uppercase;
            border-radius: 3px;
            border: 1px solid $orange;
            height: 65px;
            display: block;
            font-weight: bold;
            line-height: 1;
            letter-spacing: -0.1px;
            font-size: 14px;
            text-align: center;
            padding: 26px 5px 25px 5px;
            text-decoration: none;
            &:hover {
              background: $orange;
              color: $gray-lightest;
            }
          }
          @media (max-width: 992px) {
            width: 50%;
          }
        }
      }
      .help-links {
        li {
          margin-top: 12px;
          &:first-child {
            margin: 0;
          }
          a {
            text-transform: uppercase;
            font-size: 14px;
            line-height: normal;
            letter-spacing: -0.1px;
            font-weight: bold;
          }
        }
      }
    }

    &.referral-block {
      .referral-content {
        .ref-earn {
          float: right;
          width: 50%;
          padding-left: 27px;
          margin: 0 -7px;
          .earn-block {
            float: left;
            width: 50%;
            padding: 0 7px;

            > div {
              padding: 15px;
              background-image: url("img/user-account/RectangleBackground.png");
              background-color: $gray-lightest;
              text-align: center;
            }
            strong , label{
              display: block;
              font-size: 56px;
              font-weight: bold;
              letter-spacing: normal;
              line-height: 1;
              margin: 0;
              margin-top: 40px;
              font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
              height: auto;
            }
            span {
              display: block;
              font-size: 22px;
              line-height: 1.27;
              letter-spacing: normal;
              font-weight: normal;
              margin-top: 33px;
            }
          }
          @media (max-width: 992px) {
            float: none;
            width: 100%;
            margin-bottom: 30px;
            padding: 0;

            .earn-block {
              width: 40%;
              min-width: 155px;
              > div {
                padding: 10px;
                strong , label{
                  font-size: 32px;
                  line-height: 1.19;
                  margin-top: 14px;
                }
                span {
                  font-size: 14px;
                  margin-top: 11px;
                  line-height: 1.57;
                  letter-spacing: -0.1px;
                }
              }
            }
          }
          @media (max-width: 320px){
            .earn-block{
              width: 50%;
              min-width: 50%;    
            }   
          }
        }
        .ref-text {
          float: left;
          width: 50%;
          padding-right: 27px;
          h3 {
            margin-bottom: 15px;
          }
          p {
            font-size: 22px;
            font-weight: normal;
            line-height: 1.27;
            letter-spacing: normal;
            margin-bottom: 20px;
          }
          .ref-action {
            .btn {
              width: 200px;
              font-size: 16px;
              height: 34px;
              border-radius: 10px;
            }
          }

          @media (max-width: 992px) {
            float: none;
            width: 100%;
            padding: 0;
          }
        }
      }
    }
  }

  .order-details-page {
    .account-header {
      height: 120px;
      display: flex;
      padding: 0;
      text-align: center;
      align-items: center;
      background-image: url("img/user-account/header-desktop2.png");
      @media (min-width: 768px) {
        align-items: center;
      }
      img {
        margin: 0 auto;
      }

      @media (max-width: 767px) {
        display:block;
        height: 150px;
        padding-top: 30px;
      }
    }

    .account-wrapper {
      padding-top: 0;

      .breadcramb {
        padding: 6px 0;

        .prev-links {
          float: left;
          padding: 8px 0;
          font-weight: bold;
          color: $orange;
          font-size: 11px;
          text-transform: uppercase;
          line-height: 1;
          a,
          span {
            color: $orange;
            margin: 0 3px;
            font-weight: bold;
            color: $orange;
            font-size: 11px;
            line-height: 1;
            letter-spacing: -0.2px;
            &:first-child {
              margin-left: 0;
            }
          }
          span {
            margin: 0 3px;
          }
        }

        .order-nav {
          float: right;
          height: 30px;
          span {
            font-size: 14px;
            line-height: 1.57;
            letter-spacing: -0.1px;
            margin: 0 5px;
            position: relative;
            top: -8px;
          }
          a {
            display: inline-block;
            width: 30px;
            height: 30px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            &.prev-icon {
              background: url("img/user-account/left.png");
            }
            &.next-icon {
              background: url("img/user-account/right.png");
            }
          }
        }
      }

      .order-card {
        background: $white;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        border: 1px solid $whisper;
        @media (max-width: 767px) {
          margin-top: -60px;
        }
        .order-header {
          padding: 20px 15px;
          padding-bottom: 11px;
          background: $gray-lightest;
          border-bottom: 1px solid #e3e3e3;
          border-radius: 3px 3px 0 0;
          * {
            display: block;
            text-transform: uppercase;
          }
          strong , label {
            font-size: 11px;
            line-height: 1;
            height: auto;
            font-weight: bold;
            margin: 0;
            letter-spacing: -0.2px;
          }
          span {
            font-size: 14px;
            font-weight: bold;
            line-height: 1;
            letter-spacing: -0.1px;
            margin-top: 6px;
          }

          .shipping-date {
            span {
              font-weight: normal;
              color: $gray-darker;
              font-weight: normal;
              margin-top: 17px;
              text-transform: capitalize;
              line-height: 1.57;
              letter-spacing: -0.1px;
            }
          }

          .order-cost {
            text-align: right;
            span {
              font-size: 22px;
              line-height: 1.27;
              margin-top: 0;
              font-weight: normal;
              letter-spacing: normal;
            }
          }

          @media (max-width: 767px) {
            strong , label{
              float: left;
            }
            span {
              float: right;
              margin: 0;
            }
            .shipping-date {
              margin-bottom: 27px;
              span {
                float: none;
                text-align: right;
                margin: 0;
              }
            }
            .order-cost {
              margin-top: 13px;
              strong {
                margin-top: 7px;
              }
            }
          }
        }
        .order-content {
          padding: 15px;
          .order-info {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
              float: left;
              width: 50%;
              padding: 0 15px;
              &.crate-info,
              &.credit-info {
                margin-bottom: 35px;
              }

              strong , label{
                font-size: 11px;
                margin: 0;
                height: auto;
                font-weight: bold;
                line-height: 1;
                letter-spacing: -0.2px;
                display: block;
              }
              b {
                font-size: 14px;
                font-weight: bold;
                line-height: 1;
                letter-spacing: -0.1px;
                text-transform: uppercase;
                margin-top: 9px;
                display: block;
              }
              span {
                display: block;
                margin-top: 5px;
                small {
                  margin-right: 10px;
                  display: inline-block;
                }
              }
              p {
                font-size: 14px;
                font-weight: normal;
                line-height: 1.57;
                letter-spacing: -0.1px;
                margin: 0;
                margin-top: 8px;
              }

              @media (max-width: 767px) {
                float: none;
                width: 100%;
                margin-bottom: 24px;
                padding: 0;
                &.crate-info,
                &.credit-info {
                  margin-bottom: 18px;
                  strong {
                    float: left;
                    margin-top: 5px;
                  }
                  span {
                    float: right;
                    margin: 0;
                  }
                }
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }

          .order-action {
            text-align: right;
            .btn {
              height: 34px;
              margin-bottom: 15px;
              text-align: center;
              font-size: 16px;
              padding: 10px;
              line-height: 0.88;
              letter-spacing: 1px;
              font-weight: bold;
              border-radius: 6px;
              text-transform: capitalize;
              @media (min-width: 768px) {
                width: 143px;
              }
              &.disabled {
                color: $gray-lightest;
              }
            }
            @media (max-width: 767px) {
              margin-top: 18px;
              .btn {
                width: 100%;
                margin-bottom: 0;
              }
            }
          }
        }
      }

      .order-history {
        .history-sidebar {
          float: left;
          width: 278px;
          @media (max-width: 767px) {
            float: none;
            width: 100%;
            margin-top: -60px;
          }

          .info-block {
            .billing-details {
              color: $gray-lightest;
              @media (max-width: 767px) {
                width: calc(100% + 2px);
                position: relative;
                top: -2px;
                left: -1px;
              }
              .status {
                display: block;
              }
              strong,
              .title-left {
                display: block;
                margin-top: 17px;
                line-height: 1;
                letter-spacing: -0.1px;
                font-size: 14px;
                font-weight: 600;
                float: none;
              }
              p {
                margin: 0;
                line-height: 1.27;
                letter-spacing: normal;
                font-size: 22px;
                margin-top: 8px;
                font-weight: normal;
                text-transform: capitalize;
              }
            }
            .info-list {
              .upgrade-btn {
                margin-bottom: 20px;
                .btn {
                  text-transform: capitalize;
                }
              }
              li {
                float: none;
                width: 100%;
                margin-bottom: 24px;
                &:last-child {
                  margin-bottom: 0;
                }
                > div {
                  padding-right: 0;
                }

                @media (max-width: 767px) {
                  margin-bottom: 13px;
                  strong,
                  .info-label {
                    float: left;
                    margin-top: 6px;
                  }
                  span {
                    float: right;
                    margin: 0;
                  }
                  &.row {
                    margin-left: 0;
                    margin-right: 0;
                    > div {
                      margin-bottom: 13px;
                      padding: 0;
                      &:last-child {
                        margin-bottom: 0;
                      }
                    }
                  }
                  &.address-val {
                    strong,
                    .info-label {
                      float: none;
                    }
                  }
                }
              }
            }
          }
        }

        .history-details {
          float: left;
          width: calc(100% - 278px);
          padding-left: 15px;
          @media (max-width: 767px) {
            float: none;
            width: 100%;
            padding: 0;
          }

          .info-block {
            margin-bottom: 15px;
            background: transparent;
            background: transparent;
            border: none;
            border-radius: 0;
            box-shadow: none;
            position: relative;
            h4 {
              height: 54px;
              @media (max-width: 767px) {
                margin: 0 -16px;
                border-radius: 0;
              }

              > button {
                float: left;
                position: static;
                border-bottom: none;
                margin-right: 32px;
                position: relative;
                background: transparent;
                border: none;
                box-shadow: none;
                padding: 0;
                font-size: 14px;
                letter-spacing: -0.2px;
                line-height: 1;
                font-weight: 600;
                color: #fff;
                padding-bottom: 2px;
                height: auto;
                border-radius: 0;
                &.active {
                  &:after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 3px;
                    background: $orange;
                    left: 0;
                    bottom: -18px;
                  }
                }
                &:last-child {
                  margin: 0;
                }
              }

              &.fixed-filter {
                position: fixed;
                top: 62px;
                left: 0;
                width: 100%;
                height: 54px;
                margin: 0;
                z-index: 1;
              }
            }

            .history-dropdown {
              position: absolute;
              top: 10px;
              right: 15px;
              @media (max-width: 992px) {
                position: static;
                text-align: right;
                margin: 8px 0;
              }
              .dropdown {
                .btn-toggle {
                  width: 160px;
                  height: 34px;
                  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
                  border: 1px solid transparent;
                  border-radius: 6px;
                  text-align: center;
                  color: #343434;
                  line-height: 1;
                  letter-spacing: 0.9px;
                  font-weight: bold;
                  text-shadow: 0 2px 0 rgba(52, 52, 52, 0.05);
                  font-size: 14px;
                  text-decoration: none;
                  background: $white;
                  text-transform: capitalize;
                  padding: 10px 0;
                  padding-right: 15px;
                  display: inline-block;
                  position: relative;
                  &:after {
                    position: absolute;
                    right: 9px;
                    background: url("img/user-account/dropdown.png");
                    content: "";
                    width: 8px;
                    height: 16px;
                    top: 8px;
                  }
                }
                .dropdown-menu {
                  border-radius: 6px;
                  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
                  border: none;
                  padding: 0;
                  left: auto;
                  right: 0;
                  li {
                    button {
                      line-height: 1.57;
                      letter-spacing: -0.1px;
                      font-style: 14px;
                      font-weight: normal;
                      color: $night-rider;
                      text-transform: capitalize;
                      padding: 8px 12px;
                      border-radius: 0;
                      margin: 0;
                      width: 100%;
                      background: none;
                      box-shadow: none;
                      border: none;
                      text-align: left;
                      height: 38px;
                      &.selected {
                        background: $orange;
                        color: $gray-lightest;
                      }
                      &:hover {
                        background: $orange-light;
                        color: $gray-lightest;
                      }
                    }
                    &:first-child {
                      a {
                        border-radius: 6px 6px 0 0;
                      }
                    }
                    &:last-child {
                      a {
                        border-radius: 0 0 6px 6px;
                      }
                    }
                  }
                }
                &.open {
                  .btn-toggle {
                    border-color: $orange-light;
                  }
                }
              }
            }

            .orders-list {
              background: $white;
              border: 1px solid #e3e3e3;
              box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
              list-style: none;
              padding: 0;
              margin: 0;
              border-radius: 0 0 3px 3px;
              border-top: none;
              @media (max-width: 992px) {
                border: 1px solid #e3e3e3;
                border-radius: 3px;
              }
              li {
                color: $gray-darker;
                border-bottom: 1px solid #e3e3e3;



                .row{
                  padding: 15px 0;
                  min-height: 90px;
                  margin: 0;
                }

                &:nth-child(odd) {
                  background: $gray-lightest;
                }
                &:last-child {
                  border-bottom: none;
                  border-radius: 0 0 3px 3px;
                }

                &:first-child {
                  @media (max-width: 992px) {
                    border-radius: 3px 3px 0 0;
                  }
                }

                &.links-list{
                  background: #fff;
                  padding: 16px 15px;
                  border-bottom: 1px solid #e3e3e3;
                  a{
                    float: left;
                    margin-right: 30px;
                    border-bottom: 2px solid #ff4c00;
                    font-size: 11px;
                    letter-spacing: -0.2px;
                    line-height: 1;
                    font-weight: bold;
                    color: #000;
                    padding-bottom: 2px;
                    text-transform: uppercase;
                    text-decoration: none;
                    &:last-child{
                      margin:0;
                    }
                  }
                }

                .order-head {
                  display: block;
                  font-size: 11px;
                  font-weight: 600;
                  line-height: 1;
                  letter-spacing: -0.2px;
                  text-transform: uppercase;
                }
                b {
                  display: block;
                  margin-top: 8px;
                  font-size: 14px;
                  line-height: 1;
                  letter-spacing: -0.1px;
                  font-weight: bold;
                  text-transform: uppercase;
                }
                span {
                  display: block;
                  margin-top: 5px;
                  line-height: 1.57;
                  letter-spacing: -0.1px;
                  font-size: 14px;
                }

                .row-actions {
                  position: relative;
                  text-align: right;
                  .btn {
                    width: 143px;
                    margin-top: 13px;

                    &.disabled{
                      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
                      background: rgba(0, 0, 0, 0.1);
                      text-shadow: 0 2px 0 rgba(52, 52, 52, 0.1);
                      color: #fff;
                    }
                  }
                  a:not(.btn) {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    right: 15px;
                    text-align: center;
                    padding-top: 6px;
                    top: 14px;
                    background: url("img/user-account/arrow-right.png") no-repeat center center;
                  }
                }

                @media (max-width: 767px) {
                  position: relative;
                  .row{
                    min-height: 106px;
                  }
                  &:first-child {
                    border-radius: 3px 3px 0 0;
                  }
                  .row-actions {
                    position: static;
                    a:not(.btn) {
                      top: 38px;
                    }
                  }
                }
              }

              .copy-link{
                padding-right: 15px !important;
                p{
                  margin: 0;
                  position: relative;
                  padding: 0 8px;
                  padding-right: 90px;
                  margin-top: 19px;
                  height: 21px;
                  background: $white-smoke;
                  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.18);
                  border-radius: 2px;
                  span{
                    font-size: 14px;
                    line-height: 1.75;
                    letter-spacing: -0.1px;
                    display: block;
                    height: 21px;
                    color: $night-rider;
                    white-space: nowrap;
                    overflow: hidden;
                    margin: 0 !important;
                  }
                  .btn{
                    position: absolute;
                    right: -1px;
                    top: -1px;
                    height: 23px;
                    font-size: 14px;
                    line-height: 1;
                    padding-top: 2px;
                    text-transform: uppercase;
                    width: 80px;
                    border-radius: 0 4px 4px 0;
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.18);
                    padding-top: 0;
                    padding-bottom: 0;
                    text-shadow: none;
                  }
                }
              }

              &.invoices-list {
                li {
                  strong {
                    margin-top: 14px;
                  }
                }
              }

              &.comics-list{
                &:not(.loot-games){
                  li{
                    &:nth-child(even) {
                      background: $gray-lightest;
                    }

                    &:nth-child(odd) {
                      background: #fff;
                    }
                  }
                }

                .row-actions{
                  @media (max-width: 768px){
                    text-align: left;
                    .btn{
                      margin-top: 15px;
                    }
                  }
                }
                
                li{

                  .order-head{
                    font-weight: bold;
                    text-transform: uppercase;
                  }
                  b{
                    line-height: 1.75;
                  }
                  span{
                    margin-top: 0;
                  }

                  .row-actions .btn{
                    font-weight: bold;
                  }

                }

                @media (max-width: 991px){
                  li{
                    span{
                      margin-top: 3px;
                    }

                    .copy-link{
                      p{
                        margin-top: 20px;
                        margin-right: 27px;
                      }
                    }
                  }
                }
              }

              &.pins-list{
                li{
                  .order-head{
                    margin-top: 5px;
                  }
                  b{
                    line-height: 1;
                  }
                }
                @media (max-width: 767px){
                  li{
                    b{
                      line-height: 1.57;
                    }
                    .copy-link{
                      p{
                        margin-top: 39px;
                        margin-bottom: 8px;
                      }
                    }
                    .row-actions{
                      .btn{
                        margin-top: 28px;
                      }
                    }
                  }
                }
              }

              &.loot-games{
                li{
                  > .row{
                    min-height: auto;
                    padding: 28px 0;
                    @media (max-width: 767px){
                      padding: 24px 0;
                      .row-actions{
                        .btn{
                          margin-top: 7px;
                        }
                      }
                    }
                  }
                  b{
                    line-height: 1;
                  }
                  .expand-game{
                    text-align: right;
                    padding-right: 24px;
                    padding-top: 5px;
                    a{
                      display: inline-block;
                      padding: 5px;
                      width: 24px;
                      height: 24px;
                      &.open-games{
                        background: url("img/user-account/add-icon.png") no-repeat center center;
                      }
                      &.close-games{
                        background: url("img/user-account/collaps-icon.png") no-repeat center center;
                      }
                    }
                  }
                  .row-actions .btn{
                    margin: 0;
                  }
                }
                .games-list{
                  background: $white;
                  border-top: 1px solid #e3e3e3;
                  li.game-item{
                    background: $white;
                    padding: 24px 0;
                    position: relative;
                    min-height: 82px;
                    padding-bottom: 10px;
                    .row{
                      padding: 0;
                    }

                    .game-side{
                      padding-left: 120px;
                      position: static;
                      .game-img{
                        width: 90px;
                        height: 62px;
                        border-radius: 3px;
                        border: 1px solid #e3e3e3;
                        background-color: #f9f9f9;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        left: 15px;
                        top: 9px;
                        background-image: url('img/loot-games/game-lock.svg');
                        background-position: center center;
                        background-repeat: no-repeat;

                        &.game-img-red{
                          background-image: url('img/loot-games/game1.svg');    
                        }
                        &.game-img-blue{
                          background-image: url('img/loot-games/game2.svg');    
                        }
                        &.game-img-green{
                          background-image: url('img/loot-games/game3.svg');    
                        }
                        &.game-img-orange{
                          background-image: url('img/loot-games/game4.svg');    
                        }
                      }
                      span{
                        line-height: 1;
                        margin-top: 8px;
                      }
                    }

                    .copy-link{
                      p{
                        margin-top: 7px;
                      }
                    }

                    @media (max-width: 991px){
                      .game-side{
                        min-height: 62px;
                        .game-img{
                          top: 20px;
                        }
                      }
                      .copy-link{
                        p{
                          margin-top: 15px;
                        }
                      }
                    }
                  }

                  li.game-redeem{
                    min-height: 112px;
                    background: #787878;
                    color: #fff;

                    .row{
                      display: flex;
                      align-items: center;
                      img{
                        margin-left: 10px;
                      }
                      .redeem-txt{
                        position: relative;
                        p{
                          margin-bottom: 10px;
                          font-size: 11px;
                          font-weight: bold;
                          line-height: normal;
                          letter-spacing: -0.2px;
                          margin-left: 30px;

                          &:last-child{
                            margin-bottom : 0;
                          }
                        }
                        
                        .redeem-link{
                          position: absolute;
                          right: 40px;
                          top: 23px;
                          a{
                            font-size: 14px;
                            font-weight: bold;
                            line-height: normal;
                            letter-spacing: -0.3px;
                            border-bottom: 2px solid #ff4c00;
                            color: #fff;
                            text-decoration: none;
                          }
                        }
                      }
                      @media (max-width: 991px){
                        .redeem-txt{
                          p{
                            margin-left: 0;
                          }
                          .redeem-link{
                            margin-top: 18px;
                            position: static;
                          }
                        }
                      }
                    }
                  }
                }  
              }
            }
          }

          .load-more {
            text-align: center;
            margin-top: 15px;
          }
        }
      }
    }
  }

  .show-mobile {
    display: none;
    @media (max-width: 767px) {
      display: block;
    }
  }

  .hide-mobile {
    @media (max-width: 767px) {
      display: none;
    }
  }

  .hide-tablet {
    @media (max-width: 991px) {
      display: none;
    }
  }
}

.modal.manage-account-modal {
  @extend %shared-styles;

  padding: 0 15px;
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background: url("img/user-account/close-icon.png");
    width: 30px;
    height: 30px;
  }
  .modal-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  &.edit-profile-modal {
    .modal-dialog {
      width: 720px;
      margin-top: 75px;
      @media (max-width: 767px) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }

    .modal-content {
      padding: 40px;
      padding-top: 45px;
      border: 1px solid $orange;
      @media (max-width: 767px) {
        padding: 20px;
      }
      .modal-header {
        padding: 0;
        border: none;
        h4 {
          font-size: 22px;
          font-weight: normal;
          line-height: 1.27;
          letter-spacing: normal;
          color: #343434;
          text-transform: capitalize;
          margin: 0;
        }
      }
      .modal-body {
        padding: 0;
        .form-group {
          margin-top: 24px;
          margin-bottom: 0;
          position: relative;
          @media (max-width: 767px) {
            margin-top: 20px;
          }

          label {
            font-size: 14px;
            line-height: 1.57;
            letter-spacing: -0.1px;
            margin-bottom: 1px;
            .required {
              color: #ff4c00;
              font-style: normal;
              position: relative;
              left: 2px;
              top: -2px;
              &.show-mobile {
                display: none;
                @media (max-width: 767px) {
                  display: inline-block !important;
                }
              }
            }
          }
          .form-control {
            width: 100%;
            color: $night-rider;
            padding-left: 20px;
            border-color: $gray-sky;
          }
          .form-group-link {
            letter-spacing: -0.2px;
            line-height: 1;
            font-weight: bold;
            color: $orange;
            text-transform: uppercase;
            border-bottom: 2px solid $orange;
            font-size: 11px;
            top: 42px;
            right: 20px;
            position: absolute;
          }
          .error-form-message {
            position: absolute;
            left: 0;
            bottom: -18px;
            color: #ef606a;
            font-size: 13px;
            line-height: normal;
            letter-spacing: -0.1px;
          }

          &.valid-form-group {
            &:after {
              content: "";
              background: url("img/user-account/active-icon-20.png");
              width: 20px;
              height: 20px;
              display: block;
              position: absolute;
              top: 38px;
              right: 17px;
            }
          }

          &.invalid-form-group {
            .form-control {
              border-color: #ef606a;
            }
            &:after {
              content: "";
              background: url("img/user-account/cancel-icon-20.png");
              width: 20px;
              height: 20px;
              display: block;
              position: absolute;
              top: 38px;
              right: 17px;
            }
          }

          &.password-field {
            &:after {
              display: none;
            }
          }

          &.custom-select {
            position: relative;
            .form-control {
              border-radius: 2px;
              border-color: $gray-sky;
              height: 54px;
              color: $gray-sky;
              box-shadow: none;
              &.selected-value {
                color: $night-rider;
              }
            }
            &.invalid-form-group {
              .form-control {
                border-color: #ef606a !important;
              }
            }
            &:after {
              content: "";
              position: absolute;
              right: 17px;
              top: 38px;
              width: 20px;
              height: 20px;
              background: url("img/user-account/shape.png");
            }
          }

          /* Hide the browser's default checkbox */
          .custom-checkbox {
            display: block;
            position: relative;
            padding-left: 32px;
            margin-bottom: 0;
            cursor: pointer;
            font-size: 11px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-weight: bold;
            line-height: 1;
            letter-spacing: -0.2px;
            height: 24px;
            padding-top: 7px;
            text-transform: uppercase;

            input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
            }

            .checkmark {
              position: absolute;
              top: 0;
              left: 0;
              height: 24px;
              width: 24px;
              background: $white;
              border-radius: 2px;
              border: 2px solid $gray-sky;
              &:after {
                content: "";
                position: absolute;
                display: none;
              }
            }

            input:checked ~ .checkmark {
              background: $white;
              &:after {
                display: block;
              }
            }
            .checkmark:after {
              left: 1px;
              top: 3px;
              width: 18px;
              height: 13px;
              background: url("img/user-account/checkmark.png");
            }
          }
        }

        .form-address {
          margin-top: 11px;
          p {
            margin: 0;
            font-size: 14px;
            line-height: 1.57;
            letter-spacing: -0.1px;
            color: $night-rider;
          }
        }

        .form-action {
          margin-top: 24px;
          .btn {
            width: 140px;
          }
        }

        .payment-options {
          a {
            float: left;
            width: calc(50% - 7px);
            border: solid 1px #e3e3e3;
            border-radius: 8px;
            padding-top: 51px;
            padding-bottom: 10px;
            text-align: center;
            text-decoration: none;
            position: relative;
            &:after {
              content: "";
              width: 100%;
              position: absolute;
              top: 15px;
              left: 0;
            }

            &.credit-link {
              &:after {
                height: 25.7px;
                background: url("img/user-account/credit.png") no-repeat center
                  center;
              }
            }

            &.paypal-link {
              float: right;
              &:after {
                height: 26.7px;
                background: url("img/user-account/paypal.png") no-repeat center
                  center;
              }
            }

            &.selected {
              border-color: $orange;
            }

            img {
              margin: 0 auto;
            }
            strong, label {
              display: block;
              line-height: 1;
              letter-spacing: -0.1px;
              font-size: 14px;
              color: $night-rider;
              text-transform: uppercase;
              font-weight: bold;
              margin: 0;
              span {
                font-weight: normal;
                color: $night-rider;
              }
            }
          }
        }
        .paypal-btn {
          display: inline-block;
          width: 173px;
          height: 34px;
          background: url("img/user-account/paypal-btn.png");
        }
        .creditcard-input {
          position: relative;
          &:after {
            content: "";
            width: 18px;
            height: 20px;
            background: url("img/user-account/credit-icon.png");
            position: absolute;
            display: block;
            top: 38px;
            right: 17px;
          }
        }
      }
    }
  }
}

.modal-open {
  .modal-backdrop {
    background: $gray-darker;
    opacity: 0.2;
  }
}
