.user_accounts {
  .orders {
    .btn-tertiary {
      height: auto;
      margin-top: 20px;
      padding: 0;
      &::before {
        content: '\00ab';
        padding-right: 0.5em;
      }
    }
    .order-history-container {
      margin-bottom: 100px;
      margin-top: 40px;
      .showhide {
        display: none;
      }
      .hpanel {
        position: relative;

        .panel-heading {
          font-size: 16px;
          font-weight: 600;
          padding: 10px;

          .status-indicator {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            -webkit-box-shadow: 0 1px 2px 1px #ccc;
            -moz-box-shadow: 0 1px 2px 1px #ccc;
            box-shadow: 0 1px 2px 1px #ccc;
            display: inline;
            font-size: 13px;
            height: 100%;
            line-height: 95%;
            position: absolute;
            right: 8px;
            text-align: center;
            top: -2px;
            width: 23%;
            @media(max-width: 767px) {
              display: block;
              left: 0;
              margin-top: 20px;
              position: relative;
              right: 0;
              text-align: left;
              width: 100%;
            }
          }

          .v-center {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
          }
          // Status styles
          &.status-gift {
            background: $blue-lighter;
            border-bottom: 2px solid $blue-darker;
          }
          .status-gift-tab {
            color: $blue-darker;
            box-shadow: none;
            border: none;
          }
          &.status-active {
            background: #f5fff6;
            border-bottom: 2px solid $green-darker;
          }
          .status-active-tab {
            color: $green-darker;
            box-shadow: none;
            border: none;
          }
          &.status-purchased {
            background: $silver;
            border-bottom: 2px solid $gray47;
          }
          .status-purchased-tab {
            color: $gray47;
            box-shadow: none;
            border: none;
          }
          &.status-canceled,
          &.status-gift-canceled,
          &.status-skipped,
          &.status-inactive,
          &.status-pending_cancellation {
            background: #fff4e3;
            border-bottom: 2px solid $gold;
          }
          .status-canceled-tab,
          .status-gift-canceled-tab,
          .status-skipped-tab,
          .status-inactive-tab,
          .status-pending_cancellation-tab {

            color: $gold;
            box-shadow: none;
            border: none;
          }
          &.status-past-due,
          &.status-on-hold {
            background: #fff6f6;
            border-bottom: 2px solid $error;
          }
          .status-past-due-tab,
          .status-on-hold-tab {
            color: $error;
            box-shadow: none;
            border: none;
          }

          @media(max-width: 374px){
            font-size: 16px;
            &.status-pending_cancellation-tab {
              font-size: 12px;
            }
          }
        }
      }
      .panel-body {
        padding: 0;
        table {
          caption {
            padding-left: 10px;
          }
        }
        .invoice {
          thead > :first-child {
            white-space: nowrap;
          }
        }
      }
      .shipments {
        thead > :first-child {
          white-space: nowrap;
        }
        tbody > tr > :nth-child(4) {
          word-break: break-all;
        }
      }
      .replacement-shipments {
        thead > :first-child, thead > :nth-child(3) {
          white-space: nowrap;
        }
        tbody > tr > :nth-child(3) {
          word-break: break-all;
        }
      }
    }
  }
}

// TODO: Delete once LCW_754_orders_view is merged
#subscriptions-order_history {
  .btn-tertiary {
    height: auto;
    margin-top: 20px;
    padding: 5px 0;
  }
  .btn-primary {
    margin-top: 20px;
  }
  .order-history-container {
    margin-bottom: 100px;
    margin-top: 20px;
    .showhide {
      display: none;
    }
    .hpanel {
      position: relative;

      .panel-heading {
        font-weight: 600;
        font-size: 16px;

        .status-indicator {
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
          -webkit-box-shadow: 0 1px 2px 1px #ccc;
          -moz-box-shadow: 0 1px 2px 1px #ccc;
          box-shadow: 0 1px 2px 1px #ccc;
          display: inline;
          font-size: 13px;
          height: 100%;
          line-height: 95%;
          position: absolute;
          right: 18px;
          text-align: right;
          top: -2px;
          width: 23%;
        }

        .v-center {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
        // Status styles
        &.status-gift {
          background: $blue-lighter;
          border-bottom: 2px solid $blue-darker;
        }
        .status-gift-tab {
          border: none;
          box-shadow: none;
          color: $blue-darker;
        }
        &.status-active {
          background: #f5fff6;
          border-bottom: 2px solid $green-darker;
        }
        .status-active-tab {
          border: none;
          box-shadow: none;
          color: $green-darker;
        }
        &.status-purchased {
          background: $silver;
          border-bottom: 2px solid $gray47;
        }
        .status-purchased-tab {
          border: none;
          box-shadow: none;
          color: $gray47;
        }
        &.status-canceled,
        &.status-gift-canceled,
        &.status-skipped,
        &.status-inactive,
        &.status-pending-cancellation {
          background: #fff4e3;
          border-bottom: 2px solid $gold;
        }
        .status-canceled-tab,
        .status-gift-canceled-tab,
        .status-skipped-tab,
        .status-inactive-tab,
        .status-pending-cancellation-tab {
          border: none;
          box-shadow: none;
          color: $gold;
        }
        &.status-past-due,
        &.status-on-hold {
          background: #fff6f6;
          border-bottom: 2px solid $error;
        }
        .status-past-due-tab,
        .status-on-hold-tab {
          border: none;
          box-shadow: none;
          color: $error;
        }

        @media(max-width: 374px){
          font-size: 16px;
          &.status-pending-cancellation-tab {
            font-size: 12px;
          }
        }
      }
    }

    .panel-body {
      padding: 0;
      table {
        caption {
          padding-left: 10px;
        }
      }
      .invoice {
        thead > :first-child {
          white-space: nowrap;
        }
      }
    }
    .shipments {
      thead > :first-child {
        white-space: nowrap;
      }
      tbody > tr > :nth-child(4) {
        word-break: break-all;
      }
    }
    .replacement-shipments {
      thead > :first-child, thead > :nth-child(3) {
        white-space: nowrap;
      }
      tbody > tr > :nth-child(3) {
        word-break: break-all;
      }
    }
  }
}
