.user_accounts {
  .main-content {
    margin-top: 15px;
    @media (max-width: 768px) {
      margin-top: 0;
    }
    @media (max-width: 767px) {
      background: $white;
      margin-top: 5px;
    }
    // Normalize outer container
    .account-summary {
      padding: 20px 0 40px;
      @media (max-width: 767px) {
        margin-bottom: 0;
        padding: 10px 0 40px;
      }
      .container {
        .account-header {
          font-size: 26px;
          margin-bottom: 10px;
          @media (max-width: 767px) {
            margin-top: 10px;
          }
        }
        .outer-row {
          line-height: 1.2;
          padding: 0 10px 5px;
          @media (max-width: 767px) {
            padding: 0 5px 10px;
          }
        }
      }
    }
  }

  .account-subscriptions {
    #upgrade-promotion {
      color: $white;
      h1 {
        color: $white;
        font-weight: 600;
        font-size: 36px;
        margin-bottom: 5px;
        margin-top: 5px;
        padding-bottom: 0;
        text-align: center;
      }
      h2 {
        color: $white;
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 15px;
        padding-top: 0;
        text-align: center;
      }
      p {
        color: $white;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 15px;
        &.upgradable-subscription-name {
          font-style: italic;
          padding-bottom: 40px;
        }
      }

      i {
        color: $orange;
      }

      select {
        background: #363636;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: $white;
        &:focus,
        &:hover {
          border: 1px solid $gray-light;
          cursor: pointer;
        }
        &:-moz-focusring {
          color: transparent;
          text-shadow: 0 0 0 $white;
        }
        option {
          background: #363636;
          color: $white;
        }
      }

      //upgrade promotion content
      #upgrade-promotion-content {
        background: #363636;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
        padding: 5% 1%;
        > div {
          background-image: image-url('conv-arrow.png'),
            image-url('tshirt-gift.png');
          background-position: 150px 215px, 0 0;
          background-repeat: no-repeat;
          background-size: 30% 30%, 55% 100%;
          color: $white;
          padding-left: 400px;
          padding-right: 80px;
        }
        .upgradable-subscriptions {
          padding: 0 !important;
          div {
            padding: 0 !important;
          }
        }
        #upgrade-link {
          margin-top: 10px;
        }
      }

      &.col-lg-12 {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 1%;

        #upgrade-promotion-content {
          padding: 5% 7%;
          div {
            background-position: 200px 150px, 50px 0;
            background-size: 20% 35%, 30% 100%;
            padding-left: 35%;
            padding-right: 2%;
          }
        }
      }

      &.col-lg-6 {
        #upgrade-promotion-content {
          min-height: 400px;
          padding: 9.7% 5%;
          @media (max-width: 768px) {
            padding: 5% 7%;
          }
          div {
            background-position: 110px 175px, 0 13px;
            background-size: 21% 24%, 60% 100%;
            padding-left: 179px;
            padding-right: 0;
            @media (max-width: 768px) {
              background-position: 100px 160px, 0 0;
              background-size: 30% 24%, 50% 100%;
            }
          }
        }
      }
    }

    @media (max-width: 1200px) {
      #upgrade-promotion.col-lg-6 {
        #upgrade-promotion-content {
          min-height: 550px;
          div {
            padding-left: 35%;
          }
        }
      }

      #upgrade-promotion.col-lg-12 {
        #upgrade-promotion-content {
          padding: 5% 7%;

          div {
            padding-left: 35%;
            padding-right: 0;
            background-position: 209px 215px, 25px 0;
            background-size: 20% 24%, 50% 100%;
          }
        }
      }
    }
    @media (min-width: 991px) and (max-width: 1200px) {
      #upgrade-promotion.col-lg-6 {
        #upgrade-promotion-content {
          min-height: 473px;
          padding: 5% 7%;

          div {
            background-position: 210px 210px, 40px 0;
            background-size: 28% 28%, 38% 100%;
            padding-left: 39%;
          }
        }
      }

      #upgrade-promotion.col-lg-12 {
        #upgrade-promotion-content {
          div {
            background-position: 210px 210px, 40px 0;
            background-size: 28% 28%, 38% 100%;
          }
        }
      }
    }

    @media (min-width: 769px) and (max-width: 990px) {
      #upgrade-promotion.col-lg-6 {
        #upgrade-promotion-content {
          padding: 11% 1%;

          div {
            background-position: 150px 215px, 20px 0px;
            background-size: 0 0, 85% 70%;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 35%;
          }
        }
      }

      #upgrade-promotion.col-lg-12 {
        #upgrade-promotion-content {
          div {
            padding-left: 45%;
            background-position: 200px 240px, 10px 0;
            background-size: 20% 23%, 48% 100%;
          }
        }
      }
    }
    @media (max-width: 768px) {
      #upgrade-promotion.col-lg-6 {
        #upgrade-promotion-content {
          min-height: 415px;
        }
      }
    }

    @media (max-width: 767px) {
      #upgrade-promotion.col-lg-6,
      #upgrade-promotion.col-lg-12 {
        #upgrade-promotion-content {
          min-height: 100%;
          padding: 0;

          div {
            padding: 20px;
            background-size: 0, 85%;
            background-position: 50% 50%;
          }
        }
      }
    }

    @media (max-width: 320px) {
      #upgrade-promotion.col-lg-6,
      #upgrade-promotion.col-lg-12 {
        #upgrade-promotion-content {
          div {
            background-position: 50% 45%;
          }
        }
      }
    }

    // Pagination styles
    .pagination {
      float: right;
      margin-top: 0px;
      margin-right: 5px;
      .previous_page {
        background: white;
        color: $orange;
        .disabled {
          background: white;
          color: $black;
        }
      }
      a {
        background: white;
        color: $orange;
        &:hover {
          border: 1px solid $orange;
        }
      }
      .active span {
        background: $orange;
        border: 1px solid $gray-light;
        color: $white;
        font-style: normal;
        font-weight: bold;
        z-index: 0;
      }
      .next_page {
        background: white;
        color: $orange;
        .disabled {
          background: white;
          color: $black;
        }
      }
      @media (max-width: 480px) {
        li {
          display: none;
          &.active,
          &.active ~ li,
          &.prev,
          &.next {
            display: inline;
          }
        }
      }
    }

    select,
    textarea,
    input[type='text'],
    input[type='password'],
    input[type='datetime'],
    input[type='datetime-local'],
    input[type='date'],
    input[type='month'],
    input[type='time'],
    input[type='week'],
    input[type='number'],
    input[type='email'],
    input[type='url'],
    input[type='search'],
    input[type='tel'],
    input[type='color'],
    .select2-choice,
    .uneditable-input {
      width: 100%;
    }

    span.lc-form-error {
      color: $error;
      display: inline-block;
      font-size: 14px;
      margin-top: 5px;
    }

    .lc-select-wrapper {
      position: relative;

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        position: relative;
        z-index: 1;
        &:focus {
          box-shadow: none;
        }
      }

      &::after {
        border-width: 6px 6px 0 6px;
        border-style: solid;
        border-color: $gray-light transparent;
        content: '';
        height: 0;
        margin-top: -3px;
        position: absolute;
        right: 10px;
        top: 50%;
        width: 0;
        z-index: 1;
      }

      select::-ms-expand {
        display: none;
      }
    }

    select.date {
      width: 48%;
    }
    select.date:last-child {
      float: right;
    }

    .billing_address_credit_card_expiration {
      .controls {
        height: 44px;
      }

      #s2id_billing_address_credit_card_expiration_1i,
      #s2id_billing_address_credit_card_expiration_2i {
        width: 49%;
      }

      #s2id_billing_address_credit_card_expiration_1i {
        float: left;
      }

      #s2id_billing_address_credit_card_expiration_1i {
        float: right;
      }
    }

    .animated-panel {
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    .base {
      .account-header,
      .bottom {
        text-align: center;
      }
    }

    label {
      color: $gray-dark;
      font-weight: 600;
      text-transform: capitalize;

      abbr {
        display: none;
      }
    }

    .loader {
      display: none;
    }

    // Clears every odd sub overview
    .panel-body .col-lg-6:nth-child(2n + 1) {
      clear: both;
      margin-left: 0;
    }

    // Subscription Overview Styles
    .panel-body {
      padding: 0 0 20px;

      .lc-info {
        .field-label {
          text-transform: capitalize;
        }
      }
      .sub-overview {
        padding-left: 5px;
        padding-right: 5px;
      }
      .hpanel {
        background-color: $white;
        border: 1px solid #cccccc;
        border-radius: 4px;
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
        margin-bottom: 15px;

        .panel-heading {
          border: 1px solid transparent;
          border-top-right-radius: 3px;
          border-top-left-radius: 3px;
          color: inherit;
          font-size: 16px;
          font-weight: 600;
          padding: 10px;
          position: relative;
          transition: all 0.3s;
          .panel-tools {
            display: inline-block;
            float: right;
            margin-top: 0;
            padding: 0;
            position: relative;
            .showhide {
              display: none;
            }
          }
          >div:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 85%;
            white-space: nowrap;
            @media (max-width: 767px) {
              width: 100%;
            }
          }
        }

        .panel-body {
          padding: 20px;

          // Heading Styles
          .hdr-4 {
            font-weight: 600;
          }

          // Button Styles
          .btn-sm {
            font-size: 14px;
            &.btn-cancel {
              margin-left: 5px;
            }
          }

          .order-history {
            font-weight: 500;
            text-align: right;
          }

          .panel-group {
            margin-bottom: 0;

            .panel {
              border-radius: 4px;
              border-color: $gray-light;
              box-shadow: none;
              margin-bottom: 0;
              .panel-heading {
                .panel-title {
                  font-size: 12px;
                  font-weight: 600;
                  text-transform: uppercase;
                }
                h4 > a {
                  color: #333;
                  display: block;
                  outline: none;
                  width: 100%;
                  &:hover,
                  &:focus {
                    text-decoration: none;
                  }
                }
              }

              .lc-panel-body {
                position: relative;

                .form-actions-right {
                  text-align: right;
                }

                .field-label {
                  color: $gray-dark;
                  display: inline-block;
                  font-weight: 600;
                  margin-bottom: 0;
                  padding: 0;
                  text-transform: capitalize;
                  vertical-align: bottom;
                  width: 35%;
                }

                .field-value {
                  color: #7c7a80;
                  display: inline-block;
                  font-weight: 400;
                  margin-bottom: 0;
                  overflow: hidden;
                  padding: 0;
                  text-overflow: ellipsis;
                  vertical-align: bottom;
                  white-space: nowrap;
                  width: 59%;
                }

                .lc-action {
                  outline: none;
                  position: absolute;
                  right: 15px;
                  top: 10px;
                  z-index: 1;
                }

                .payment-tools {
                  float: right;
                  font-size: 12px;
                  padding-top: 10px;
                  .cancel-sub {
                    color: $gray-mid;
                    font-size: 12px;
                    text-transform: uppercase;
                    &:hover {
                      color: $orange;
                    }
                  }
                }
              }
            }
          }

          // TODO: why is this class used?
          .m-b-md {
            margin-bottom: 20px;
            p {
              margin: 0;
            }
            .btn {
              margin: 10px 5px;
            }
          }

          // TODO: Find a better way to null out these styles
          .halo-container,
          .crunchy-roll-container,
          .subscription-partner-promotion-info {
            .row {
              padding: 0 10px 5px;
            }
          }

          // Halo User Accounts Styles
          .halo-container {
            background-color: $gray-lightest;
            border: 4px solid $white;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            margin: 10px 0;
            padding: 10px;
            @media (max-width: 767px) {
              margin: 0;
            }
            .halo-logo {
              margin-bottom: 8px;
              width: 130px;
            }
            .btn {
              font-size: 12px;
              height: 36px;
              padding: 10px 15px;
            }
          }

          // Loot Pins and Secret Order of The Keys User Accounts Styles
          .subscription-partner-promotion-info {
            background-color: $gray-lightest;
            border: 4px solid $white;
            box-shadow: 0 2px 2px 0 rgba($black, 0.14),
              0 3px 1px -2px rgba($black, 0.2), 0 1px 5px 0 rgba($black, 0.12);
            margin: 10px 0;
            @media (max-width: 767px) {
              margin: 0;
            }
            .hdr-4 {
              font-size: 21px;
              margin: 10px 0;
            }
          }
        }

        .status-indicator {
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
          -webkit-box-shadow: 0 1px 2px 1px #ccc;
          -moz-box-shadow: 0 1px 2px 1px #ccc;
          box-shadow: 0 1px 2px 1px #ccc;
          display: inline;
          font-size: 13px;
          height: 100%;
          line-height: 95%;
          position: absolute;
          right: 18px;
          text-align: right;
          top: -2px;
          width: 23%;
          @media (max-width: 767px) {
            display: block;
            left: 0;
            margin-top: 20px;
            right: 0;
            position: relative;
            text-align: left;
            width: 100%;
          }
        }

        .v-center {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }

        // Subscription Status Styles
        .status-gift {
          background: $blue-lighter;
          border-bottom: 2px solid $blue-darker;
        }
        .status-gift-tab {
          border: none;
          box-shadow: none;
          color: $blue-darker;
        }

        .status-active {
          background: #f5fff6;
          border-bottom: 2px solid $green-darker;
        }
        .status-active-tab {
          border: none;
          box-shadow: none;
          color: $green-darker;
        }

        .status-purchased {
          background: $silver;
          border-bottom: 2px solid $gray47;
        }
        .status-purchased-tab {
          border: none;
          box-shadow: none;
          color: $gray47;
        }

        .status-inactive,
        .status-canceled,
        .status-gift-canceled,
        .status-pending-cancellation,
        .status-skipped {
          background: #fff4e3;
          border-bottom: 2px solid $gold;
        }
        .status-inactive-tab,
        .status-canceled-tab,
        .status-gift-canceled-tab,
        .status-pending-cancellation-tab,
        .status-skipped-tab {
          border: none;
          box-shadow: none;
          color: $gold;
        }

        .status-past-due,
        .status-on-hold {
          background: #fff6f6;
          border-bottom: 2px solid $error;
        }
        .status-past-due-tab,
        .status-on-hold-tab {
          border: none;
          box-shadow: none;
          color: $error;
        }

        // Not sure if these are needed
        .warning-container {
          border: 2px solid $red;
          border-radius: 5px;
          margin: 3% 3% 0 3%;
          padding: 2%;

          .warning-symbol {
            display: inline-block;
            margin-right: 5px;
            vertical-align: middle;

            .fa-exclamation-circle {
              color: $red;
              font-size: 40px;
            }
          }

          .warning-msg {
            display: inline-block;
            font-size: 16px;
            margin-bottom: 0;
            vertical-align: middle;
            width: 90%;
          }

          @media (max-width: 767px) {
            .warning-symbol {
              vertical-align: top;

              .fa-exclamation-circle {
                font-size: 30px;
              }
            }

            .warning-msg {
              font-size: 14px;
              width: 85%;
            }
          }
        }
      }

      .tab-content {
        .tab-pane {
          margin-top: 20px;

          // Payment Info Edit Form Styles
          &.paypal,
          &.credit_card {
            .row {
              padding: 0 15px;
            }
          }
          &.credit_card {
            .row {
              &.address-suggestions {
                padding: 10px;
              }

              &.address-error {
                padding: 10px;
              }

              .col-md-12,
              .col-md-6,
              .col-md-3,
              .col-md-8,
              .col-md-4 {
                padding: 0;
              }

              .col-md-6.state,
              .col-md-6.pr,
              .col-md-8 {
                padding-right: 10px;
              }

              .col-md-3 {
                &:last-child {
                  padding-left: 10px;
                }
              }
              @media (max-width: 979px) {
                .col-md-6,
                .col-md-3 {
                  padding: 0;

                  &:last-child {
                    padding: 0;
                  }
                }
              }
            }
          }
        }
      }
    }

    // Keyframes
    @-webkit-keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @-moz-keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @-o-keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    .fadeIn {
      -webkit-animation-name: fadeIn;
      -moz-animation-name: fadeIn;
      -o-animation-name: fadeIn;
      animation-name: fadeIn;
    }
  }
}
