// ============= //
// User accounts //
// ============= //

#user_accounts-index,
#user_accounts-subscriptions,
#user_accounts-referral_credits,
#user_accounts-free_crates {
  padding: 113px 0 0;
  @media (max-width: 991px) {
    padding: 62px 0 0;
  }
  #navbar {
    margin-bottom: 11px;
    margin-top: 4px;
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
    .level_up_nav {
      a {
        font-weight: 100;
      }
      .badge {
        background-color: $orange;
        font-weight: 100;
        left: 45px;
        padding-top: 5px;
        position: absolute;
        top: 3px;
        @media (max-width: 768px) {
          left: 50px;
          top: -5px;
        }
      }
    }
  }

  .add-missing-link {
    margin-top: 20%;
    text-transform: uppercase;
    @media (max-width: 767px) {
      margin-top: 30%;
      text-align: center;
    }
  }
}

/* new subscription layout; */
#user_accounts-subscriptions,
#user_accounts-free_crates {
  @include error;
  @include valid;

  .animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;

    .lc-panel-heading {
      padding: 0;
    }

    .lc-panel-body {
      position: relative;

      .lc-action {
        position: absolute;
        right: 15px;
        top: 10px;
        z-index: 1;
      }
    }

    .panel-body {
      .hpanel {
        .showhide {
          display: none;
        }
        > .panel-heading {
          font-size: 16px;
        }
      }
    }
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  .account-summary {
    padding: 20px 0 40px;

    .m-b-md {
      margin-bottom: 20px;
      p {
        margin: 0;
      }

      .btn {
        float: right;
        margin: 10px 0;
        text-transform: uppercase;
      }
    }

    .content {
      min-width: 320px;
      padding-top: 15px;
    }

    .open .btn.dropdown-toggle,
    .panel {
      box-shadow: none;
    }

    .animated-panel {
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    .hpanel > .panel-heading {
      border: 1px solid transparent;
      color: inherit;
      font-size: 18px;
      font-weight: 600;
      padding: 10px 4px;
      transition: all 0.3s;
    }

    .hpanel > .panel-footer {
      border: 1px solid #e4e5e7;
      border-top: none;
      color: inherit;
      font-size: 90%;
      background: #f7f9fa;
    }

    .hpanel .panel-body {
      background: $white;
      border-radius: 4px;
      padding: 20px;
      position: relative;
    }

    .hpanel .panel-body .panel-body {
      border: none;
    }

    .hpanel .panel-body:first-child {
      padding: 20px 5px;
    }

    .hpanel .panel-collapse .panel-body {
      padding: 20px;
      @media (max-width: 768px) {
        padding: 15px;
      }
      @media (max-width: 767px) {
        padding: 15px;
      }
    }

    @media (max-width: 768px) {
      .hpanel .panel-body {
        padding: 15px;
      }
    }

    @media (max-width: 767px) {
      .hpanel {
        margin-bottom: 25px;
        .panel-body {
          padding: 10px;
        }
      }
    }

    .panel-collapse .panel-body {
      border: none;
    }

    .hpanel {
      background-color: $white;
      border: none;
      box-shadow: none;
      margin-bottom: 15px;
    }

    .panel-body .hpanel {
      background-color: $white;
      border: 1px solid #cccccc;
      border-radius: 4px;
      box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
    }

    .panel-group {
      margin-bottom: 0;
    }

    @media (max-width: 768px) {
      margin-bottom: 0;
    }

    @media (max-width: 767px) {
      margin-bottom: 0;
      padding: 10px 0 40px;
    }

    .panel-tools {
      display: inline-block;
      float: right;
      margin-top: 0;
      padding: 0;
      position: relative;
    }

    .hpanel .alert {
      border-radius: 0;
      border: 1px solid #e4e5e7;
      border-bottom: none;
      margin-bottom: 0;
    }

    .panel-tools a {
      color: #9d9fa2;
      cursor: pointer;
      margin-left: 5px;
    }

    .panel-title {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .panel-body h5,
    .panel-body h4 {
      font-weight: 600;
      margin: 0;
      > a {
        color: #333;
        display: block;
        padding: 10px 15px;
        width: 100%;
        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }

    .dl-horizontal {
      margin-bottom: 10px;

      &:last-child {
        height: auto;
        min-height: 32px;
      }
    }

    .dl-horizontal dt {
      clear: left;
      float: left;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 180px;
    }

    .dl-horizontal dd {
      margin-left: 185px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @media (max-width: 768px) {
      .dl-horizontal dt {
        width: 125px;
      }
      .dl-horizontal dd {
        margin-left: 130px;
      }
    }

    @media (max-width: 767px) {
      .dl-horizontal dt {
        width: 90px;
      }
      .dl-horizontal dd {
        margin-left: 95px;
      }
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      .dl-horizontal dt {
        width: 90px;
      }
      .dl-horizontal dd {
        margin-left: 95px;
      }
    }

    .pmbb-view .dl-horizontal dt {
      width: 160px;
    }

    .pmbb-view .dl-horizontal dd {
      margin-left: 180px;
    }

    .tab-pane {
      margin-top: 20px;
    }

    @media (max-width: 768px) {
      .pmbb-view .dl-horizontal dt {
        width: 155px;
      }
      .pmbb-view .dl-horizontal dd {
        margin-left: 165px;
      }
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      .pmbb-view .dl-horizontal dt {
        width: 120px;
      }
      .pmbb-view .dl-horizontal dd {
        margin-left: 125px;
      }
    }

    .pmbb-edit,
    .pmbb-view {
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
      -webkit-animation-duration: 1000ms;
      animation-duration: 1000ms;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    .pmbb-edit {
      display: none;
    }

    .pmbb-view {
      display: block;
    }

    .panel.toggled .pmbb-edit {
      display: block;
    }

    .panel.toggled .pmbb-view {
      display: none;
    }

    .pmbb-edit {
      display: none;
      position: relative;
      z-index: 1;

      .recurly,
      .recurly-hosted-field {
        height: 44px;
      }

      .recurly-hosted-field {
        border: 2px solid $gray-light;
        border-radius: 4px;
        box-shadow: none;
        color: #7c7a80;
        font-size: 14px;
        height: 44px;
        margin: 0 0 1rem;
        outline: none;
        padding: 0.5rem;
        position: relative;
        -webkit-appearance: none;
        -webkit-transition: border-color 0.3s;
        -moz-transition: border-color 0.3s;
        -ms-transition: border-color 0.3s;
        -o-transition: border-color 0.3s;
        transition: border-color 0.3s;
        width: 100%;
      }

      .recurly-hosted-field-focus {
        border-color: #66afe9;
        -webkit-transition: border-color 0.15s ease-in-out 0s,
          box-shadow 0.15s ease-in-out 0s;
        transition: border-color 0.15s ease-in-out 0s,
          box-shadow 0.15s ease-in-out 0s;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
          0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
          0 0 8px rgba(102, 175, 233, 0.6);
      }

      .billing_address_credit_card_expiration {
        .controls {
          height: 44px;
        }

        #s2id_billing_address_credit_card_expiration_1i,
        #s2id_billing_address_credit_card_expiration_2i {
          width: 49%;
        }

        #s2id_billing_address_credit_card_expiration_1i {
          float: left;
        }

        #s2id_billing_address_credit_card_expiration_1i {
          float: right;
        }
      }

      label {
        color: $gray-dark;
        font-weight: 600;
        abbr {
          display: none;
        }
      }
    }

    .panel-heading {
      position: relative;
    }

    .actions {
      list-style: none;
      margin: 0;
      padding: 0;
      z-index: auto;
    }

    .actions > li {
      display: inline-block;
      vertical-align: baseline;
    }

    .actions > li > a,
    .actions > a {
      display: inline-block;
      height: 30px;
      line-height: 29px;
      position: relative;
      text-align: center;
      width: 30px;
    }

    .actions > li > a > i,
    .actions > a > i {
      color: #adadad;
      font-size: 20px;
      -webkit-transition: color;
      -o-transition: color;
      transition: color;
      -webkit-transition-duration: 1300ms;
      transition-duration: 1300ms;
      vertical-align: middle;
    }

    .actions > li > a:hover > i,
    .actions > a:hover > i {
      color: #000;
    }

    .actions > li > a:before,
    .actions > a:before {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      content: '';
      filter: alpha(opacity=0);
      height: 100%;
      left: -1px;
      opacity: 0;
      position: absolute;
      top: 1px;
      -webkit-transform: scale3d(0, 0, 0);
      -moz-transform: scale3d(0, 0, 0);
      -ms-transform: scale3d(0, 0, 0);
      -o-transform: scale3d(0, 0, 0);
      transform: scale3d(0, 0, 0);
      -webkit-transition: all;
      -o-transition: all;
      transition: all;
      -webkit-transition-duration: 250ms;
      transition-duration: 250ms;
      width: 100%;
      z-index: 0;
    }

    .actions > li > a:hover:before,
    .actions > a:hover:before {
      filter: alpha(opacity=100);
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      -moz-transform: scale3d(1, 1, 1);
      -ms-transform: scale3d(1, 1, 1);
      -o-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }

    .actions > li.open > a > i,
    .actions.open > a > i {
      color: #000;
    }

    .actions > li.open > a:before,
    .actions.open > a:before {
      filter: alpha(opacity=100);
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }

    .panel-heading .actions {
      position: absolute;
      right: 0;
      top: 0;
    }

    @media (min-width: 768px) {
      .form-horizontal .control-label {
        margin-bottom: 0;
        padding-top: 7px;
        text-align: left;
      }
    }

    .panel-heading.show .actions {
      display: block;
    }

    .panel-heading .actions {
      display: block;
    }

    .table > thead > tr > th {
      border-bottom: none;
    }

    .refer .refer-box {
      background-color: $gray-light;
      padding: 10px;
    }

    .refer .refer-box h2 {
      font-size: 35px;
      font-weight: bold;
      line-height: 1;
      text-align: center;
    }

    .refer .refer-box h3 {
      color: #78767c;
      font-size: 18px;
      font-weight: normal;
      line-height: 1;
      text-align: center;
    }

    .form-actions {
      background-color: transparent;
      border-top: none;
      margin-top: 22px;
      margin-bottom: 22px;
      padding: 0;
    }

    .align-center {
      text-align: center;
    }

    .pmbb-view > div {
      line-height: 1;
      margin-bottom: 10px;
    }

    .pmbb-view > div:last-child {
      margin-bottom: 0;
    }

    p.field-label {
      color: $gray-dark;
      display: inline-block;
      font-weight: 600;
      margin-bottom: 0;
      padding: 0;
      vertical-align: bottom;
      width: 35%;
    }

    p.field-value {
      color: #7c7a80;
      display: inline-block;
      font-weight: 400;
      margin-bottom: 0;
      overflow: hidden;
      padding: 0;
      text-overflow: ellipsis;
      vertical-align: bottom;
      white-space: nowrap;
      width: 59%;
    }

    p.field-value.red {
      color: $red;
    }

    .cancel-sub {
      color: $gray-mid;
      font-size: 12px;
      text-transform: uppercase;
      &:hover {
        color: $orange;
      }
    }

    .payment-tools {
      float: right;
      font-size: 12px;
      padding-top: 10px;
    }

    .skip-a-month {
      font-size: 12px;
      text-transform: uppercase;
    }

    .separator {
      color: $gray-mid;
      margin: 0 3px;
    }

    @media (max-width: 768px) {
      p.field-label {
        width: 47%;
      }
      p.field-value {
        width: 51%;
      }
    }

    @media (max-width: 767px) {
      p.field-label,
      p.field-value {
        margin-bottom: 0;
        width: 100%;
      }
      p.field-label {
        margin-bottom: 5px;
      }
    }

    /* PROMO SECTION
     * -------------------------- */

    .col-centered {
      float: none;
      margin: 0 auto;
    }

    /* end promo */
  }
}

/* 3,6,12 upgrade offer */
#user_accounts-upgrade_offer {
  .order-by {
    display: none;
  }

  .upgrade-container {
    margin: 20px auto 150px;
    max-width: 1024px;
    text-align: center;
    width: 100%;

    @media (max-width: 767px) {
      margin: 20px auto 50px;
    }

    .title {
      font-size: 36px;
      font-weight: 600;
      margin: 0 auto 20px;
      text-align: center;

      @media (max-width: 767px) {
        margin: 20px auto 20px;
      }
    }

    .sub-title {
      margin-bottom: 30px;
      @media (max-width: 767px) {
        margin-bottom: 10px;
      }
    }
    .terms-text {
      margin-top: 30px;
      @media (max-width: 767px) {
        margin-top: 30px;
      }
    }

    #upgrade-link {
      font-size: 14px;
      line-height: 1.5;
      margin: 0 15px;
      padding: 6px 30px;
    }

    .field-title {
      font-weight: 600;
    }

    li {
      display: inline-block;
      list-style-type: none;
      margin: 15px;
      width: calc(50% - 40px);

      .sub-panel {
        background-color: $white;
        border: 1px solid $gray-light;
        color: $black;
        margin: auto auto;
        padding: 30px 35px;
        text-align: left;
        width: 100%;

        .subscription-title {
          font-size: 20px;
          font-weight: 300;
          margin-bottom: 20px;
        }
        p {
          font-size: 14px;
          margin-bottom: 10px;
        }
        .btn-wrapper {
          margin-bottom: 0;
          text-align: center;
        }
        .btn {
          font-size: 14px;
          line-height: 1.5;
          margin: 20px 0 0;
          padding: 5px 25px;
        }
      }

      @media (max-width: 991px) {
        max-width: 600px;
        width: 100%;
      }
      @media (max-width: 767px) {
        margin: 20px auto;

        .button {
          padding: 20px 20px;
          width: 80%;
        }
      }
    }
  }

  /* login box using checkouts login form*/
  .checkout-login-box {
    font-size: 14px;
    margin: 20px auto 0;
    .right-60 {
      display: none;
    }
    .hoz-or {
      margin-bottom: 12px;
      text-align: center;
    }
    .fb-login {
      background-color: rgb(57, 100, 176);
      border-color: $white;
      border-style: none;
      border-width: 0px;
      box-shadow: none;
      color: $white;
      cursor: pointer;
      display: inline-block;
      font-size: 11px;
      font-weight: 300;
      height: 45px;
      letter-spacing: 2px;
      line-height: 21px;
      text-decoration: none;
      text-transform: uppercase;
      vertical-align: middle;
      width: 100%;

      .fb-login-icon {
        left: -16px;
        position: relative;
      }
    }

    .vr {
      border-left: 1px solid $gray-light;
      border-right: 1px solid $gray-light;
      float: none;
    }

    .left-60 {
      padding: 20px 60px;
      margin: auto auto;
      max-width: 420px;
      @media (max-width: 991px) {
        padding: 10px 15px;
        margin-bottom: 30px;
        max-width: 370px;
      }
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 40px;
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }

    input.title {
      background: #fff8f3;
      border: 1px solid $gray-dark;
      padding-bottom: 12px;
      padding-top: 12px;
      transition: all 0.2s ease-in-out;
    }

    .join,
    #login-form p {
      width: 100%;
    }
  }
  /* end of login */

  .not-eligible-container,
  .offer-inactive {
    margin: auto auto 40px;
    max-width: 1024px;
    text-align: center;

    .title-divider {
      border-bottom: 1px solid $black;
      height: 30px;
      margin: 20px auto 30px;
      text-align: center;

      .section-name {
        background-color: $white;
        color: $black;
        display: inline-block;
        font-size: 1.5em;
        letter-spacing: 7px;
        margin: 17px auto auto;
        padding: 0 15px;
        text-align: center;
      }
    }

    .pick-crate {
      text-align: center;

      img {
        display: block;
        margin: 50px auto 0;
        max-width: 350px;
        width: auto;
      }

      .cta {
        margin: 15px auto;
        width: 350px;
      }
    }
  }
}
/* end of 3,6,12 offer */

.show-small {
  display: none;
  @media screen and (max-width: 767px) {
    display: initial;
  }
}
.hide-small {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.reactivation-box {
  padding-bottom: 10px;
  padding-top: 2em;
  text-align: center;
  @media screen and (max-width: 767px) {
    padding-top: 1em;
  }
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    &.count {
      animation-iteration-count: 3;
    }
  }

  @keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -30px, 0);
    }

    70% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -15px, 0);
    }

    90% {
      transform: translate3d(0, -4px, 0);
    }
  }

  .bounce {
    animation-name: bounce;
    transform-origin: center bottom;
  }
  .upBox .upContent .upCost {
    color: $black;
  }

  .upTitle {
    margin: auto;

    .topUp {
      font-size: 1.7em;
      font-weight: 700;
      min-width: 390px;
      width: 35%;
    }
  }

  .upTitle {
    li {
      display: inline-block;
    }

    .midBar {
      border: 1px solid #cdcdcd;
      margin-bottom: 7px;
      width: 13%;

      @media all and (max-width: 500px) {
        .midBar {
          width: 1%;
        }
      }

      @media all and (max-width: 768px) {
        .midBar {
          width: 5%;
        }

        .topUp {
          width: 65%;
        }
      }
    }
  }

  .upSubTitle {
    color: $orange;
    font-size: 0.8em;
    font-weight: 600;
    margin: 1em;
  }

  .upBox {
    border: 1px solid #cdcdcd;
    border-radius: 0px;
    margin: 2em auto;
    max-width: 800px;
    min-width: 400px;
    width: 33em;

    #upgrade_plan_name {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin-bottom: 4px;
      margin-left: auto;
      margin-right: auto;
      min-width: 190px;
      text-indent: 20%;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      width: 93%;
      @media (max-width: 400px) {
        text-indent: 5%;
      }
    }

    @-moz-document url-prefix() {
      #upgrade_plan_name {
        text-indent: 0;
        &:-moz-focusring {
          color: transparent;
          text-shadow: 0 0 0 #000;
        }
      }
      i {
        right: -10px;
      }
    }

    .checkout-left {
      padding: 10px;
      padding-top: 5px;
    }

    .upHeader {
      border-radius: 0;
      color: $black;
      padding: 0.5em;
      text-align: center;
    }

    .upContent {
      padding: 1em;
      padding-top: 5px;

      .upCost {
        color: $orange;
      }

      .upRow {
        font-size: 14px;
        font-weight: 400;
        margin: 5px 0;
        padding: 0px;
        text-align: left;

        &.breaker {
          border-bottom: 1px solid #cdcdcd;
          padding-bottom: 10px;
        }

        li {
          display: inline-block;
        }

        .upLeft {
          font-weight: 400;
          width: 30%;
        }

        .upRight {
          text-align: right;
          width: 69%;
          @media (max-width: 767px) {
            width: 68%;
          }
          .upCost {
            color: $black;
          }
        }

        &.total {
          padding-top: 5px;
        }
      }

      .terms {
        font-size: 10px;
        text-align: left;
      }
    }

    #reactivate_subscription {
      margin: 0 0 20px;
      .reactInputs {
        input {
          display: inline-block;
        }
      }
      .reactValidate {
        margin: 0 0 15px;
      }
      #coupon-status {
        margin: -10px 0 10px;
      }
    }

    .button-terms {
      font-size: 14px;
      padding-bottom: 20px;
      padding-top: 6px;
    }

    .reactSavings {
      font-weight: 600;
    }

    .coupon {
      padding: 0 0 1em;
      #coupon_code {
        display: inline;
        height: 34px;
        @media (max-width: 767px) {
          width: 130px;
        }
      }
    }

    .subscription-upgrade-button {
      margin: 4px 0;
      width: 240px;
    }

    .upBottomText {
      font-size: 0.6em;
    }

    .upNowHands,
    .upNowStuff {
      padding: 0;
    }

    .upNowContent {
      padding-top: 45px;
    }

    .up-drop-down {
      position: relative;

      select {
        background: image-url('down-arrow.png') no-repeat white;
        background-position: right center;
        background-size: 40px !important;
      }

      i {
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
        display: inline-block;
        position: absolute;
        right: -10px;
        top: 15px;
        width: 20px;
        @media screen and (-webkit-min-device-pixel-ratio: 0) {
          right: -10px;
        }
      }

      .fa-spinner {
        right: 0px;
      }

      input[name='commit'] {
        margin-top: 4px;
        width: 93%;
      }

      .upBottomText {
        font-size: 0.6em;
      }

      .inc-free {
        bottom: 42px;
        color: $orange;
        left: 52%;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        @media (max-width: 468px) {
          left: 74%;
        }
        @media (max-width: 320px) {
          display: none;
        }
        &.offer {
          left: 52%;
          font-size: 0.8em;
          @media (max-width: 468px) {
            left: 70%;
          }
        }
      }
    }
  }

  .upBox {
    @media (max-width: 468px) {
      min-width: inherit;
      width: 95%;

      .upTitle .topUp {
        min-width: 80%;
      }
    }
  }

  .upNow {
    border: 1px solid gray;
    height: 220px;
  }

  .upNowImage {
    height: 100%;
    height: 220px;
    overflow: hidden;
    width: auto;
  }

  .upNowDetails {
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
  }

  .upNowOffer {
    font-size: 9px;
  }

  .upNowFree {
    color: $orange;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 768px) {
    .upTitle {
      .topUp {
        min-width: 60%;
      }

      .midBar {
        width: 5%;
      }

      header {
        line-height: 25px;
      }
    }

    .upNowStuff {
      position: relative;
    }

    .upNow .upNowContent {
      margin: 0 auto;
      padding-top: 30px;
      position: relative;
      width: 160px;
    }
  }
}

#survey_invite {
  text-align: center;
  .modal-dialog {
    width: 380px;
    @media (max-width: 380px) {
      width: auto;
    }
  }
  p.spacer {
    margin: 0 0 20px;
  }
  .close-survey-link {
    padding: 15px 0 10px;
  }

  .select2-container--default {
    width: 100% !important;

    &.select2 {
      background: 0;
      border: 0;

      .select2-selection {
        background: 0;
        background-image: none;
        border: 2px solid $gray-light;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: $gray-dark;
        height: 44px;
        line-height: 36px;
        padding: 0 0 0 10px;

        .select2-selection__rendered {
          display: block;
          float: none;
          line-height: 40px;
          margin-right: 26px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: auto;
        }

        .select2-selection__arrow {
          background: transparent;
          background-position: 50% 50% !important;
          background-repeat: no-repeat !important;
          background-size: 40px 40px !important;
          border: 0;
          height: 36px;
          line-height: 36px;
          top: 4px;
          width: 22px;
        }

        .select2-results {
          margin: 4px 4px 4px 0;
          max-height: 200px;
          overflow-x: hidden;
          overflow-y: auto;
          padding: 0 0 0 4px;
          position: relative;
          -webkit-tap-highlight-color: transparent;

          .select2-results__options {
            .select2-results__option {
              color: $black;

              &.select2-results__option--highlighted[aria-selected] {
                background-color: $gray-light !important;
              }
            }
          }
        }

        &:focus {
          outline: none;
        }

        &[aria-expanded='true'] {
          background-color: $white;
        }
      }

      &.valid {
        a.select2-choice {
          .select2-arrow {
            b {
              background-position: 50% 50% !important;
              background-repeat: no-repeat !important;
              background-size: 40px 40px !important;
            }
          }
        }
      }

      &.error {
        a.select2-choice {
          border: 4px solid $error !important;

          .select2-arrow {
            b {
              background-position: 50% 50% !important;
              background-repeat: no-repeat !important;
              background-size: 40px 40px !important;
            }
          }
        }
      }
    }

    .select2-results__options {
      .select2-results__option {
        color: $black;

        &.select2-results__option--highlighted[aria-selected] {
          background-color: $gray-light !important;
        }
      }
    }

    .select2-dropdown {
      border: 4px solid $gray-light;
      border-top: 0;
      border-radius: 4px;
    }
  }
}

#subscription_variants-new {
  .order-by {
    display: none;
  }
  .account-summary {
    padding: 0 0 40px;
    .row {
      padding: 0 10px;
    }
  }
  .nav-tabs > li > a {
    padding: 10px 5px;
  }
  .hpanel {
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 5%;
    @media (max-width: 767px) {
      margin-top: 7%;
    }
    .panel-heading {
      font-size: 18px;
      font-weight: 600;
    }
    .panel-title {
      font-size: 12px;
      font-weight: 600;
    }
    .panel-body {
      padding: 15px;
      .dl-horizontal {
        margin-bottom: 10px;
        dt {
          text-align: left;
        }
      }
      #subscription_variant_variant_id {
        width: 100%;
      }
      .control-label {
        color: #7c7a80;
        font-weight: 600;
      }
      .save-btn {
        font-size: 14px;
        line-height: 1.5;
        margin: 20px 0 0;
        padding: 5px 25px;
      }
      .form-group {
        margin: 0 0 5px;
      }
      .circle {
        margin: 0 5px;
      }
      .chart-trigger {
        color: #737373;
        font-size: 12px;
        font-weight: 600;
        margin: 0 5px;
      }
      div[id$='-popover-content'] {
        display: none;
      }
    }
  }
  .popover {
    hr {
      border-top: 1px solid $gray-light;
      margin-bottom: 5px;
      margin-top: 5px;
    }
    table,
    th,
    td {
      border: none;
      border-collapse: collapse;
    }
    table {
      width: 100%;
    }
    table th,
    table td {
      font-size: 14px;
      font-weight: 600;
      padding: 5px;
      text-align: center;
      @media (max-width: 767px) {
        font-size: 11px;
        padding: 3.5px;
      }
    }
    table th {
      text-align: left;
    }
    table th:first-child {
      padding-bottom: 0;
    }
    table tr:first-child td {
      padding-bottom: 5px;
    }
    table tr:nth-child(2) th {
      border-bottom: 1px solid $gray-light;
      font-size: 12px;
      font-weight: 300;
      padding-bottom: 10px;
      padding-top: 0;
      @media (max-width: 767px) {
        padding-bottom: 7px;
      }
    }
    table tr:last-child td {
      padding-bottom: 10px;
    }
    table td {
      padding-top: 10px;
      @media (max-width: 767px) {
        padding-top: 0;
      }
    }
    table td:first-child {
      font-size: 14px !important;
      font-variant: small-caps;
      font-weight: 600 !important;
      text-align: left;
    }
    table tr:nth-child(n + 4) td {
      font-size: 15px;
      font-weight: 300;
      padding-top: 0px;
      @media (max-width: 767px) {
        font-size: 11px;
      }
    }
    table:nth-child(2) tr:nth-child(n + 2) td {
      font-size: 15px;
      font-weight: 300;
      padding-top: 0px;
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
    table.womens tr:nth-child(n + 2) td {
      font-weight: 300;
      padding-top: 0;
    }
    table.unisex tr:nth-child(n + 2) td {
      font-size: 15px;
      font-weight: 300;
      padding-top: 0px;
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
    table tr:first-child td:first-child,
    table.mens tr:nth-child(3) td:first-child {
      font-variant: normal !important;
      @media (max-width: 767px) {
      }
    }

    table.mens tr:nth-child(3) td {
      @media (max-width: 767px) {
        padding-top: 10px;
      }
    }

    table.womens tr:nth-child(1) td,
    table.unisex tr:nth-child(1) td {
      @media (max-width: 767px) {
        padding-top: 5px;
      }
    }
  }
}
#validate-upgrade-coupon {
  font-size: 14px;
  margin-left: 10px;
  padding: 7px 14px;
}
#user_accounts-subscriptions {
  .hpanel {
    .m-b-md {
      a {
        white-space: nowrap;
      }
      .no-margin-bottom {
        margin-bottom: 0;
      }
      .pull-text-right {
        text-align: right;
      }
    }
  }
}

#user_accounts-subscriptions .account-summary .hpanel .warning-container,
#user_accounts-free_crates .account-summary .hpanel .warning {
  border: 2px solid $red;
  border-radius: 5px;
  margin: 3% 3% 0 3%;
  padding: 2%;

  .warning-symbol {
    display: inline-block;
    padding: 0 1%;
    vertical-align: middle;

    .fa-exclamation-circle {
      color: $red;
      font-size: 40px;
    }
  }

  .warning-msg {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 0;
    vertical-align: middle;
    width: 90%;
  }

  @media (max-width: 767px) {
    .warning-symbol {
      vertical-align: top;

      .fa-exclamation-circle {
        font-size: 30px;
      }
    }

    .warning-msg {
      font-size: 14px;
      width: 85%;
    }
  }
}

@media (max-width: 767px) {
  #user_accounts-subscriptions,
  #user_accounts-index,
  #user_accounts-referral_credits,
  #user_accounts-free_crates {
    .hpanel {
      .m-b-md {
        a {
          white-space: normal;
        }
      }
    }
  }
}

/** skips section - we should probably move this to another file **/
.accounts-subscription-skip {
  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .btm-section {
    margin-bottom: 25px;
  }
  #manage-account-lnk {
    float: right;
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 768px) {
    h1 {
      margin-top: 20px;
    }
  }
  @media (max-width: 767px) {
    font-size: 28px;
    margin-bottom: 0;
  }
}
