/*
 * custom
 */

$baseBtnFontSize: 24px;
$baseBtnFontWeight: 300;

@font-face {
  font-family: 'lootcrate-icons';
  src: font-url('lootcrate-icons.eot');
  src: font-url('lootcrate-icons.eot?#iefix') format('embedded-opentype'),
       font-url('lootcrate-icons.woff') format('woff'),
       font-url('lootcrate-icons.ttf') format('truetype'),
       font-url('lootcrate-icons.svg#lootcrate-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'norwester';
  src: font-url('norwester.eot');
  src: font-url('norwester.eot?#iefix') format('embedded-opentype'),
       font-url('norwester.woff') format('woff'),
       font-url('norwester.ttf') format('truetype'),
       font-url('norwester.svg#norwester') format('svg');
  src: font-url('norwester.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alarm_clock';
  src: font-url('alarm_clock-webfont.eot');
  src: font-url('alarm_clock-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('alarm_clock-webfont.woff2') format('woff2'),
       font-url('alarm_clock-webfont.woff') format('woff'),
       font-url('alarm_clock-webfont.ttf') format('truetype'),
       font-url('alarm_clock-webfont.svg#alarm_clock') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'din-alt-bold';
  src: font-url('din-alternate-bold-webfont.eot');
  src: font-url('din-alternate-bold-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('din-alternate-bold-webfont.woff2') format('woff2'),
       font-url('din-alternate-bold-webfont.woff') format('woff'),
       font-url('din-alternate-bold-webfont.ttf') format('truetype'),
       font-url('din-alternate-bold-webfont.svg#din-alt-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'trump';
  src: font-url('trumpsoftpro-webfont.eot');
  src: font-url('trumpsoftpro-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('trumpsoftpro-webfont.woff2') format('woff2'),
       font-url('trumpsoftpro-webfont.woff') format('woff'),
       font-url('trumpsoftpro-webfont.ttf') format('truetype'),
       font-url('trumpsoftpro-webfont.svg#trump') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'manifold';
  src: font-url('manifoldcf-webfont.eot');
  src: font-url('manifoldcf-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('manifoldcf-webfont.woff2') format('woff2'),
       font-url('manifoldcf-webfont.woff') format('woff'),
       font-url('manifoldcf-webfont.ttf') format('truetype'),
       font-url('manifoldcf-webfont.svg#manifold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alienleague';
  src: font-url('alienleague.eot');
  src: font-url('alienleague.eot?#iefix') format('embedded-opentype'),
       font-url('alienleague.woff') format('woff'),
       font-url('alienleague.ttf') format('truetype'),
       font-url('alienleague.svg#alienleague') format('svg');
  font-weight: normal;
  font-style: normal;
}