.reset-font {
  font-size: 0;
  letter-spacing: 0;
}

.initial-font {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .05em;
}

.all-crates {
  @media (max-width: 991px) {
    padding-top: 62px;
  }

  .all-crates-contnet{
    background-image: url("img/JPG-all-crates-hero.jpg");
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #080808;

    @media (max-width: 767px){
      background-image: url("img/JPG-allcrates-hero-mobile.jpg");
      background-size: 100% 200px;
    }
  }

  .section-header {
    padding-bottom: 20px;
    padding-top: 65px;
    min-height: 305px;
    position: relative;
    @media (max-width: 767px) {
      padding: 0;
    }
    background-position: center;
    background-size: cover;
    text-align: left;

    .hero-mobile {
      display: none;
      @media (max-width: 767px) {
        display: block;
        max-width: 100%;
      }
    }
    .copy {
      margin-bottom: 40px;
      @media (min-width: 992px) {
        margin-left: 80px;
      }
      @media (min-width: 768px) {
        color: $white;
        max-width: 540px;
        margin-left: 15px;
      }
      @media (max-width: 767px) {
        max-width: 90%;
        text-align: center;
        margin: 0 auto;
      }
      .hdr-2 {
        color: $white;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 48px;
        color:  #f9f9f9;
        line-height: 1.17;
        font-weight: bold;
        @media (max-width: 767px) {
          color: $night-rider;
          margin: 10px 0;
          font-size: 32px;
        }
      }
      .desc {
        line-height: 1.57;
        color:  #f9f9f9;
        letter-spacing: -0.1px;
        @media (max-width: 767px) {
          margin: 0;
        }
      }
    }
  }

  .section-listing {
    position: relative;

    @media (max-width: 991px) {
      padding-top: 20px;
      padding-bottom: 0;
    }

    .header-1 {
      text-align: center;
      @media (max-width: 767px) {
        display: table;
        margin-bottom: 1px;
        padding: 20px;
        width: 100%;
      }
    }

    .filter-item {
      display: inline;
      margin: 0 16px;
      position: relative;

      @media (max-width: 767px) {
        display: none;
      }

      .btn-link {
        border-bottom: 2px solid $gray-darker;
        color: $white;
        text-transform: capitalize;
        &:hover,
        &:focus {
          color: $orange;
        }
        @media (max-width: 767px) {
          height: 20px;
          overflow: hidden;
          word-spacing: 10000px;
          word-wrap: break-word;
        }
      }

      &.active {

        .btn-link {
          border-bottom: 2px solid $orange;
          color: $orange;
          position: relative;

          &:hover,
          &:focus {
            text-decoration: none;
          }
        }
      }
    }


    .filter-dropdown {
      display: none;
      @media (max-width:767px){
        display: block
      }
      #dropdown-menu-filter {
        color: $white;
        &:hover {
          color: $orange;
        }
      }
      .dropdown-menu{
        width: 100%;
        z-index: 1000;
        .dropdown-filter-item {
          color: $black;
          cursor: pointer;
          padding: 10px 15px;
          text-transform: capitalize;
          &.active {
            font-weight:600;
          }
          &:hover {
            background-color: $orange;
            color: $white;
          }
        }
      }
    }

    .product-item {
      display: none;
      margin-top: 16px;
      min-height: 220px;
      width: 100%;

      &.active {
        background: rgba($gray-light, .65);
        display: table;
        table-layout: fixed;

        &.odd {
          background: rgba($gray-light, .25);
        }

        @media (max-width: 767px) {
          display: block;
          margin: 0;
        }
      }


      .img-container,
      .desc-container,
      .info-container {
        display: table-cell;
        vertical-align: top;
      }

      .img-container {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 0;
        text-align: center;
        vertical-align: middle;
        width: 20%;

        @media only screen
        and (min-device-width : 1024px)
        and (max-device-width : 1366px) {
          width: 30%;
        }

        @media (max-width: 991px) {
          display: table-caption;
          padding: 20px;
          width: 100%;
        }

        @media (max-width: 767px) {
          display: block;
          padding: 40px;
        }


        .img-logo {
          margin: auto;
          max-width: 80%;
        }
      }

      .desc-container {
        padding: 30px 30px 20px;
        text-align: left;
        width: 55%;

        @media (max-width: 991px) {
          width: 60%;
        }

        @media (max-width: 767px) {
          display: block;
          position: relative;
          text-align: center;
          width: 100%;

          &:after {
            border-bottom: 1px solid $gray-mid;
            bottom: 0;
            content: '';
            height: 0;
            left: 30px;
            position: absolute;
            width: calc(#{"100% - 60px"});
          }
        }

        .hdr-5 {
          color: $gold;
          margin-bottom: 20px;
        }

        .desc {
          margin-bottom: 20px;
        }

        .hdr-6 {
          color: $gray-mid;
          font-weight: inherit;
          margin-bottom: 10px;
          text-transform: uppercase;

          @media (max-width: 767px) {
            padding-top: 20px;
            position: relative;

            &:before {
              border-top: 1px solid $gray-mid;
              content: '';
              height: 0;
              left: 0;
              position: absolute;
              top: 0;
              width: 100%;
            }
          }
        }

        .img-franchises {
          max-width: 100%;
        }
      }

      .info-container {
        padding: 20px 30px;
        width: 25%;

        @media (max-width: 991px) {
          width: 40%;
        }

        @media (max-width: 767px) {
          display: block;
          width: 100%;
        }

        .pricing {
          border-top: 1px solid $gray-mid;
          border-bottom: 1px solid $gray-mid;
          margin-bottom: 15px;
          padding: 15px 0 10px;

          @media (max-width: 767px) {
            border: 0 none;
            display: inline-block;
            margin: 0;
            padding: 0;
            vertical-align: middle;
            width: 50%;
          }

          @media (max-width: 550px) {
            width: 80%;
          }

          .sh-text {
            display: none;
            .plus-sh,
            .inc-sh {
              line-height: 2;
            }
          }
        }

        .sub-text,
        .price {
          margin: 0 auto;
        }

        .sub-text {
          color: $gray-mid;
          font-weight: inherit;
          text-transform: uppercase;
        }

        .price {
          @extend .reset-font;
          font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-weight: 700;
          line-height: 0.5;
          text-align: center;

          .currency-symbol
          .amount,
          .per-wrapper {
            @extend .initial-font;
            display: inline-block;
            letter-spacing: 0;
          }

          .currency-symbol {
            font-size: 22px;
            vertical-align: 18px;
          }

          .amount {
            font-size: 46px;
            margin: 0 3px;
          }

          .currency-symbol,
          .amount,
          .currency {
            color: $orange;
            font-weight: 600;
          }

          .currency {
            display: block;
            font-size: 18px;
            line-height: 1.5;

            @media (max-width: 1199px) and (min-width: 991px) {
              display: inline;
              margin-right: 5px;
            }
          }

          .per-wrapper {
            text-align: left;
            vertical-align: top;
          }

          .per-month,
          .per-crate {
            display: block;
            font-size: 12px;
            line-height: 1;
            text-transform: uppercase;
            white-space: nowrap;

            @media (max-width: 1199px) and (min-width: 991px) {
              display: inline;
            }
          }
        }

        .btn {
          height: auto;
          padding: 6px;
          white-space: initial;
          width: 100%;
          @media (max-width: 767px) {
            margin: 10px 0;
            padding-left: 16px;
            padding-right: 16px;
            width: auto;
          }
        }
      }
    }
  }

  .crates-header {
    padding-bottom: 0;
    padding-top: 65px;
    position: relative;
    background: transparent;
    text-align: left;
    border-bottom: transparent;

    @media (max-width: 767px){
      padding: 20px;
      padding-bottom: 0;
    }

    .wrapper{
      padding: 0 15px;
      @media (max-width: 767px){
        padding: 0;
      }
    }

    .hero-mobile {
      display: none;
      @media (max-width: 767px) {
        display: block;
        max-width: 100%;
      }
    }
    .copy {
      max-width: 467px;
      color: $white;
      .hdr-2 {
        color: $white;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 48px;
        color:  $gray-lightest;
        line-height: 1.17;
        font-weight: bold;
        @media (max-width: 767px) {
          margin-top: 20px;
          margin-bottom: 10px;
          font-size: 32px;
        }
      }
      .desc {
        line-height: 1.57;
        color:  $gray-lightest;
        font-size: 14px;
        letter-spacing: -0.1px;
        margin: 0;
        @media (max-width: 767px) {
          margin: 0;
        }
      }
    }
  }

  .section-listing-cards{
    background: transparent;
    position: relative;
    position: relative;
    margin-top: 80px;
    padding-top: 0;

    @media (max-width: 767px){
      margin-top: 30px;
      padding-top: 0;
    }

    .wrapper{
      padding: 0 15px;
    }

    .filter-wrapper{
      width: 100%;

    }

    .header-1 {
      text-align: center;
      background: $night-rider;
      border: 1px solid #444444;
      border-radius: 3px;
      -moz-border-radius: 3px;
      @media (max-width: 767px) {
        display: table;
        margin-bottom: 1px;
        padding: 20px;
        width: 100%;
      }
    }

    .filter-item {
      display: inline;
      margin: 0 16px;
      position: relative;

      @media (max-width: 767px) {
        display: none;
      }

      .btn-link {
        border-bottom: 2px solid $gray-darker;
        color: $white;
        text-transform: capitalize;
        &:hover,
        &:focus {
          color: $orange;
        }
        @media (max-width: 767px) {
          height: 20px;
          overflow: hidden;
          word-spacing: 10000px;
          word-wrap: break-word;
        }
      }

      &.active {

        .btn-link {
          border-bottom: 2px solid $orange;
          color: $orange;
          position: relative;

          &:hover,
          &:focus {
            text-decoration: none;
          }
        }
      }
    }

    .filter-dropdown {
      display: none;
      @media (max-width:767px){
        display: block
      }
      #dropdown-menu-filter {
        color: $white;
        &:hover {
          color: $orange;
        }
      }
      .dropdown-menu{
        width: 100%;
        .dropdown-filter-item {
          color: $black;
          cursor: pointer;
          padding: 10px 15px;
          text-transform: capitalize;
          &.active {
            font-weight:600;
          }
          &:hover {
            background-color: $orange;
            color: $white;
          }
        }
      }
    }

    .page-filter{
      text-align: left;
      margin-bottom: 30px;
      @media (max-width: 1199px){
        display: none;
      }
      .filter-nav{
        float: left;
        text-align: center;
        width: calc(100% - 203px);
        margin-right: 15px;
        min-height: 70px;
        border-radius: 3px;
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.5);
        background: $night-rider;
        border: solid 1px #444444;
        padding-top: 20px;
        padding-bottom: 15px;
        .filter-item{
          display: inline-block;
          padding: 0 20px;
          margin: 0;

        }
      }
      .btn{
        font-size: 14px;
        color: $gray-lightest;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        border: none;
        line-height: 1;
        letter-spacing: -0.1px;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        &:hover{
          color: $orange;
        }
      }
      &.active{
        .btn{
          color: $orange;
          border:none;
        }
      }
      .filter-dropdown{
        float: right;
        width: 188px;
        display: block;
        .dropdown-toggle{
          display: block;
          width: 100%;
          border-radius: 3px;
          box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.5);
          background: $night-rider;
          height: 70px;
          text-align: center;
          border:1px solid #444;
          i{
            margin-left: 9px;
            color: $white !important;
          }
        }
        .dropdown-menu{
          border-radius: 0 0 4px 4px;
          box-shadow: 0 18px 11px 0 rgba(0, 0, 0, 0.5);
          background: $night-rider;
          text-align: center;
          border:1px solid #444;
          padding: 10px;
          border-top: none;
          margin-top: -4px;
          .dropdown-item{
            background: transparent !important;
            padding: 0;
            margin-bottom: 7px;
            &:last-child{
              margin: 0;
            }
            .btn{
              color: $gray-lightest;
              line-height: 1.27;
              letter-spacing: -0.2px;
              font-weight: bold;
              font-size: 11px;
              display: block;
              padding: 16px;
              background: $gray-darker;
              border-radius: 4px;
              height: 45px;
              border: 1px solid $night-rider;
              box-shadow: none;
              cursor: pointer;
              &:hover{
                color: $orange;
              }
            }
            &.active{
              .btn{
                border-color: $orange;
                color: $orange;
              }
            }
          }
        }
        &.selected , &.open{
          .dropdown-toggle, #dropdown-menu-filter{
            color: $orange;
            border-radius: 4px;
          }
        }
      }

      &.mobile-filter{
        @media (min-width:1200px){
          display: none;
        }
        display:block;
        .filter-nav{
          display: none;
        }
        .filter-dropdown{
          display: block;
          float: none;
          width: 100%;
          .dropdown-toggle{
            height: 54px;
            box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.3), 0 26px 26px 0 rgba(0, 0, 0, 0.3);
          }

          .dropdown-menu{
            .half-left{
              float: left;
              padding-right: 5px;
              width: 50%;
            }
            .half-right{
              float: right;
              padding-left: 5px;
              width: 50%;
            }
            .filter-title{
              font-size: 9px;
              color: $gray-lightest;
              line-height: 1.22;
              letter-spacing: -0.2px;
              text-align: center;
              font-weight: bold;
              margin-bottom: 10px;
              padding-top: 17px;
              clear: both;
              &:first-child{
                padding-top: 0;
                margin-top: 0;
              }
            }
          }
        }

      }

      &.stick-filter , &.stick-filter-ribbon{
        position: fixed;
        z-index: 999;
        top: 62px;
        width: 100%;
        
        @media (min-width: 992px) {
          top: 113px;
        }

        .wrapper{
          padding: 0;
          margin: 0;
          width: 100%;
        }
        .filter-dropdown{
          .dropdown-toggle{
            border-radius: 0;
          }
          .dropdown-menu{
            padding: 10px 25px;
          }
        }
      }

    }

    .filter-txt{
      display:block;
      text-align: left;
      margin-bottom: 20px;
      .wrapper{
        position: relative;
        &:after{
          position: absolute;
          content: "";
          height: 1px;
          width: 100%;
          background: $gray47;
          top: 6px;
        }
      }
      span{
        position: relative;
        color: $gray-lightest;
        line-height: 1;
        letter-spacing: -0.1px;
        text-transform: uppercase;
        font-weight: bold;
        background: $gray-darker;
        padding-right: 5px;
      }
      @media (min-width: 767px){
        display: none;
      }
    }

    .crates-list{
      text-align: left;
      min-height: 452px;
      @media (max-width: 767px) {
        margin: 0;
      }
      > li{
        perspective: 600px;
        margin-bottom: 30px;
        height: 452px;
        top: 0;
        position: static;
        -webkit-transition: -webkit-transform .5s , top .4s ease-out;
        -moz-transition: -moz-transform .5s , top .4s ease-out;
        -o-transition: -o-transform .5s , top .4s ease-out;
        transition: transform .5s , top .4s ease-out;
        @media (max-width: 767px){
          padding: 0;
        }

        &.flipped-box{
          position: fixed;
          width: 100%;
          padding: 0 15px;
          z-index: 2000;
          left: 0;
          right: 0;
          padding-top: 60px;
          /*transform: translateY(-100px);*/
          /*position: absolute;*/
          /*animation: openAnimation 4s both ease-in;
          @keyframes openAnimation {
            0% {
              transform: translate(calc(100vw - 50px), calc(100vh - 50px));
            }

            100% {
                transform:translate(0%,0%);
            }
          }*/
        }

        &.flipped-box-top{
          /*position: fixed;
          top: 50px;*/
          /*transform: translateY(0); */
        }
      }
      .crates-card{
        width: 100%;
        height: 452px;
        transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        -webkit-transition: -webkit-transform .5s;
        -moz-transition: -moz-transform .5s;
        -o-transition: -o-transform .5s;
        transition: transform .5s;

        &.flipped {
          -webkit-transform: rotateY( -180deg );
          -moz-transform: rotateY( -180deg );
          -o-transform: rotateY( -180deg );
          transform: rotateY( -180deg );

          /*position: fixed;
          height: 100%;
          top: 0;
          left: 20px;
          z-index: 1050;
          width: calc(100% - 40px);*/
          /*padding-top: 200px;*/

        }

        .front , .back{
          display: block;
          width: 100%;
          height: 452px;
          border-radius: 12px;
          -moz-border-radius: 12px;
          -webkit-border-radius: 12px;
          position: absolute;
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          -o-backface-visibility: hidden;
          backface-visibility: hidden;
          background: $night-rider;

          box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3);
          border: 1px solid #444;

          &:hover{
            box-shadow: 0 0 26px 0 rgba(0,0,0,0.30), 0 26px 26px 0 rgba(0,0,0,0.30);
            -moz-box-shadow: 0 0 26px 0 rgba(0,0,0,0.30), 0 26px 26px 0 rgba(0,0,0,0.30);
            -webkit-box-shadow: 0 0 26px 0 rgba(0,0,0,0.30), 0 26px 26px 0 rgba(0,0,0,0.30);
          }

        }

        &.flipped{
          .front{
            .card-compare{
              .checkcontainer{
                opacity: 0 !important;
              }
            }
          }
        }

        .back {
          /*background: blue;*/
          border: 1px solid #444;
          width: calc(100% + 2px);
          height: calc(100% + 2px);
          height: auto;
          top: -1px;
          left: -1px;
          -webkit-transform: rotateY( 180deg );
          -moz-transform: rotateY( 180deg );
          -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
          z-index: 2;
          padding-bottom: 20px;

          -webkit-transition: top .2s ease-out, opacity .5s ease-out;
          -moz-transition: top .2s ease-out , opacity .5s ease-out;
          -o-transition: top .2s ease-out , opacity .5s ease-out;
          transition: top .2s ease-out , opacity .5s ease-out;
          transition-delay: .2s;

          .close{
            position: absolute;
            right: 0;
            top: -37px;
            border-radius: 50%;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            background: url("img/user-account/close-icon.png");
            width: 30px;
            height: 30px;
            opacity: 1;
            -ms-transform: rotate(0deg); /* IE 9 */
            -webkit-transform: rotate(0deg); /* Safari */
            transform: rotate(0deg); /* Standard syntax */

          }

          .back-card-header{
            background: #dfa144;
            background-size: 100% 100%;
            border-radius: 12px 12px 0 0;
            padding: 20px;
            padding-top: 26px;
            width: calc(100% + 2px);
            position: relative;
            top: -1px;
            left: -1px;
            background: #bf8535; /* Old browsers */
            background: -moz-linear-gradient(top, #bf8535 0%, #dfa144 37%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #bf8535 0%,#dfa144 37%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #bf8535 0%,#dfa144 37%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf8535', endColorstr='#dfa144',GradientType=0 ); /* IE6-9 */
            img{
              height: 32px;
              margin: 0 auto;
              display: block;
            }
            p{
              font-size: 14px;
              line-height: 1.57;
              letter-spacing: -0.1px;
              color: $gray-lightest;
              height: 44px;
              overflow: hidden;
              overflow-wrap: break-word;
              margin-top: 16px;
            }
          }

          .back-card-logo{
            text-align: center;
            margin-top: 37px;
            margin-bottom: 24px;
            img{
              height: 21px;
            }
          }

          .view-info-list{
            border-top: 1px solid $gray47;
            padding-top: 17px;
            margin: 0 20px;
            li{
              color: $gray-lightest;
              height: 30px;
              margin: 0;

              > *{
                display: inline-block;
              }
              > strong , label{
                width: 80px;
                font-size: 9px;
                line-height: 1.22;
                letter-spacing: -0.2px;
                font-weight: bold;
                height: auto;
                margin: 0;
                color: $gray-lightest;             }
              > span{
                font-size: 14px;
                line-height: 1.57;
                letter-spacing: -0.1px;
                font-weight: normal;

              }

              &.guar-value{
                height: auto;

                strong , label{
                  float: left;
                  padding-top: 7px;
                  width: 80px;
                  color: $gray-lightest;
                }
                span{
                  display: inline-block;
                  width: calc(100% - 80px);
                  float: left;
                  padding-left: 5px;
                }
              }

              &.default-price{
                margin-top: 28px;

                .per-wrapper{
                  position: relative;
                  top: 5px;
                }
              }
            }
          }

          .view-modal-action{
            text-align: center;
            margin-top: 30px;

            .btn{
              width: 143px;
              height: 34px;
              border-radius: 6px;
              font-size: 16px;
              padding-top: 5px;
            }
          }
        }



        .card-compare{
          padding: 17px 15px;
          a{
            color: $gray-lightest;
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1;
            text-decoration: none;
            padding-right: 25px;
            letter-spacing: -0.2px;
            background: url(img/arrow.png) no-repeat right center;
            height: 18px;
            display: inline-block;
            padding-top: 2px;
            background-size: 18px 18px;
          }

          /* The container */
          .checkcontainer {
            display: inline-block;
            float: right;
            font-size: 11px;
            letter-spacing: -0.1px;
            position: relative;
            padding-right: 35px;
            cursor: pointer;
            color: $gray-lightest;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0;
            line-height: normal;
            height: 14px;
            padding-top: 3px;
          }
          /* Hide the browser's default checkbox */
          .checkcontainer input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
          }
          /* Create a custom checkbox */
          .checkmark {
            position: absolute;
            top: -2px;
            right: 0;
            height: 24px;
            width: 24px;
            background: $gray-lightest;
            border:2px solid $gray47;
            border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
          }
          /* On mouse-over, add a grey background color */
          .checkcontainer:hover input ~ .checkmark {
            background-color: $white;
            border-color: $gray-sky;
          }
          /* When the checkbox is checked, add a blue background */
          .checkcontainer input:checked ~ .checkmark {
            background-color: $white;
            border-color: $gray-sky;
          }
          .checkcontainer input:disabled ~ .checkmark {
            opacity: .5;
            background: $gray-lightest;
            border:2px solid $gray47;
            cursor: not-allowed;
          }
          /* Create the checkmark/indicator (hidden when not checked) */
          .checkmark:after {
            content: "";
            position: absolute;
            left: 6px;
            top: -1px;
            width: 9px;
            height: 17px;
            border: solid $orange;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            display: none;
          }
          /* Show the checkmark when checked */
          .checkcontainer input:checked ~ .checkmark:after {
            display: block;
          }
        }

        .card-link{
          display: block;
          &:hover{
            text-decoration:none;
          }
        }

        .card-img{
          height: 230px;
          width: 100%;
          position: relative;
          width: calc(100% + 2px);
          position: relative;
          left: -1px;
          overflow: hidden;
          text-align: center;
          img{
            width: 100%;
            margin: 0 auto;
            position: relative;
            o-object-fit: cover;
            object-fit: cover;
            -moz-object-fit: cover;
            -webkit-object-fit: cover;
          }
          .past-itm{
            display: inline-block;
            background: #252525;
            color: $white;
            text-transform: uppercase;
            color: $whisper;
            font-weight: normal;
            font-family: 'ProximaNovaCond-Extrabld', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            position: absolute;
            left: 3px;
            bottom: 12px;
            border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            font-size: 12px;
            padding:5px;
            text-align: center;
            line-height: normal;
            letter-spacing: 0.3px;
            font-weight: bold;
          }
        }

        .card-info{
          padding: 20px 15px;
          .info-logo{
            margin-bottom: 17px;
            img{
              height: 32px;
            }
          }
          .desc{
            color: $gray-lightest;
            overflow-wrap: break-word;
            line-height: 1.57;
            letter-spacing: -0.1px;
            margin-bottom: 15px;
            font-weight: normal;
            height: 44px;
            overflow: hidden;
          }
          .pricing{
            .price{
              > *{
                display: inline-block;
              }
              .currency-symbol{
                font-size: 11px;
                font-weight: bold;
                line-height: 0.73;
                letter-spacing: -0.2px;
                color: $white;
                text-transform: uppercase;
                position: relative;
                top: -8px;
              }
              .amount{
                font-size: 22px;
                line-height: 0.91;
                letter-spacing: -0.2px;
                color: $white;
                font-weight: normal;
                margin: 0 4px;
              }
              .per-wrapper{
                .currency{
                  font-size: 9px;
                  font-weight: bold;
                  line-height: 0.89;
                  letter-spacing: -0.2px;
                  color: $white;
                  display: block;
                  text-transform: uppercase;
                }
                .plus-sh,
                .inc-sh {
                  color: $gray-sky;
                  line-height: 0.89;
                  font-weight: bold;
                  font-size: 9px;
                  display: block;
                  text-transform: uppercase;
                }
              }
            }
          }
        }

      }

    }

    .compare-widget{
      text-align: left;
      border-top: 3px solid $orange;
      padding-top: 12px;
      padding-bottom: 14px;
      background: $gray-darker;
      position: fixed;
      z-index: 100;
      bottom: 0;
      left: 0;
      width: 100%;
      .selected-item{
        background: $night-rider;
        border: 1px solid #444;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        height: 44px;
        padding: 10px 12px;
        padding-right: 30px;
        position: relative;
        display: inline-block;
        margin-right: 10px;
        text-align: center;
        img{
          height: 22px;
        }
        a{
          position: absolute;
          width: 11px;
          height: 11px;
          right: 9px;
          top: 20px;
          &:after{
            content: "";
            background: $gray-lightest;
            width: 11px;
            height: 1px;
            display: block;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: 0;
            left: 0;
          }
          &:before{
            content: "";
            background: $gray-lightest;
            width: 11px;
            height: 1px;
            display: block;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
      .select-guide{
        float: right;
        margin-right: 166px;
        font-size: 22px;
        font-weight: normal;
        color: $gray-lightest;
        line-height: 1.27;
        margin-top: 10px;
        &.hidden-desktop{
          display: none;
          font-size: 14px;
          font-weight: bold;
          line-height: 1;
          letter-spacing: -0.1px;
          color: $white;
          margin: 0;
          float: none;
          margin-bottom: 15px;
        }
      }
      .compare-btn{
          float: right;
          margin-right: -15px;
          margin-top: 5px;
        .btn{
          border-radius: 10px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          width: 143px;
          height: 34px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
          font-size: 16px;
          font-weight: bold;
          line-height: 0.88;
          letter-spacing: 1px;
          font-family: 'ProximaNovaCond', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
          text-shadow: 0 2px 0 rgba(52, 52, 52, 0.1);
          &.disabled{
            border-radius: 6px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            background: #e3e3e3;
            border-color: #e3e3e3;
          }
        }
      }
      @media (max-width: 767px){

        z-index: 1000;
        padding: 14px;
        padding-bottom: 18px;
        .selected-item{
          margin-bottom: 12px;
          min-width: 45%;
          margin-right: 5px;
        }
        .select-guide{
          &.hidden-desktop{
            display: block;
          }
          &.hidden-mobile{
            display: none;
          }
        }
        .compare-btn{
          float: none;
          margin: 0;
          display: block;
          width: 100%;
          text-align: center;
          padding-top: 6px;
          .btn{
            width: 100%;

          }
        }
      }
    }

  }

  span.delivery-range{
    display: inline-block;
    width: 32px;
    height: 28px;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 #1e1e1e;
    -moz-box-shadow: 0 4px 8px 0 #1e1e1e;
    -webkit-box-shadow: 0 4px 8px 0 #1e1e1e;
    background: $gray18;
    border: 1px solid #252525;
    color: #27a466;
    font-family: 'ProximaNovaCond-Extrabld', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.9px;
    line-height: normal;
    padding: 0;
    padding-top: 3px;
    position: relative;
    margin-left: 3px;
    margin-right: 3px;
    letter-spacing: -0.1px;
    text-align: center;
    small{
      display: inline;
    }
    i{
      font-family: 'ProximaNovaCond', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 8px;
      font-weight: 600;
      line-height: 0.75;
      letter-spacing: 0.5px;
      position: relative;
      font-style: normal;
      margin-left: 1px;
      top: -2px;
      display: inline;
    }
  }

  .default-price{
    .price{
      > *{
        display: inline-block;
      }
      .currency-symbol{
        font-size: 11px;
        font-weight: bold;
        line-height: 0.73;
        letter-spacing: -0.2px;
        color: $white;
        text-transform: uppercase;
        position: relative;
        top: -8px;
      }
      .amount{
        font-size: 22px;
        line-height: 0.91;
        letter-spacing: -0.2px;
        color: $white;
        font-weight: normal;
        margin: 0 4px;
      }
      .per-wrapper{
        .currency{
          font-size: 9px;
          font-weight: bold;
          line-height: 0.89;
          letter-spacing: -0.2px;
          color: $white;
          display: block;
          text-transform: uppercase;
          text-align: left;
        }
        .plus-sh,
        .inc-sh {
          color: $gray-sky;
          line-height: 0.89;
          font-weight: bold;
          font-size: 9px;
          display: block;
          text-transform: uppercase;
        }
      }
    }
  }

  .swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    .swiper-slide {
      background-size: 100% 100%;
      background-position: center;
    }

    &.gallery-top {
      height: 245px;
      width: 100%;
    }

    &.gallery-thumbs {
      box-sizing: border-box;
      padding: 7px 0;
      width: 315px;
      margin: 0 auto;
      height: 80px;
      .swiper-slide {
        height: 67px;
        width: 100px !important;
        opacity: 1;
        margin: 0 3px !important;
        border-radius: 4px;
        border: 1px solid transparent;
        cursor: pointer;

        &:hover{
            opacity: .8;
        }
      }
      .swiper-slide-thumb-active, .swiper-slide-active {
        opacity: 1 !important;
        border: 1px solid #ff4c00;
      }
    }
  }

  .modal-open{

    @media (min-width: 767px){
      .modal-backdrop.in{
        opacity: 1;
        background: #1e1e1e;
      }
    }

    .modal{
      background: rgba($gray-darker, .75);
      padding-right: 0 !important;
      padding: 0 !important;

    }
  }

  .modal.fade{
    padding: 0 !important;
    opacity: 1 !important;
    &.in{
      opacity: 1 !important;
      .modal-dialog{
        opacity: 1;
        top: 0;
      }
    }

    .modal-dialog{
      width: 750px;
      position: relative;
      top: calc( 100% + 20px);
      margin: 50px auto;
      height: auto;
      opacity: .3;
      -webkit-transition: opacity 0.3s ease-out, bottom 0.3s ease-out , top 0.1 ease-out;
      -moz-transition: opacity 0.3s ease-out, bottom 0.3s ease-out , top 0.1s ease-out;
      -o-transition: opacity 0.3s ease-out, bottom 0.3s ease-out , top 0.1s ease-out;
      transition: opacity 0.3s ease-out, bottom 0.3s ease-out , top 0.1s ease-out;

      .close{
        position: absolute;
        top: 15px;
        right: 15px;
        border-radius: 50%;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        background: url("img/user-account/close-icon.png");
        width: 30px;
        height: 30px;
        opacity: 1;
      }
      .modal-content{
        background-color: $night-rider;
        border: 1px solid $orange;
        padding: 30px;
        padding-top: 50px;
        color: $gray-lightest;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        margin: 0;
        box-shadow: none;
        position: relative;

        .modal-body{
          padding: 0;
        }

        .view-gallery{
          float: left;
          width: calc(100% - 295px);
          padding-right: 28px;
        }

        .view-text{
          float: right;
          width: 295px;
          color: $gray-lightest;
          .view-logo{
            margin-bottom: 17px;
            img{
              height: 32px;
            }
          }
          .view-desc{
            color: $gray-lightest;
            line-height: 1.57;
            letter-spacing: -0.1px;
            font-weight: normal;
            font-size: 14px;
            margin-bottom: 11px;
          }
          .featured{
            span{
              display: block;
              line-height: 1.22;
              letter-spacing: -0.1px;
              font-size: 9px;
              font-weight: bold;
              text-transform: uppercase;
              margin-bottom: 5px;
            }

            .featured-logos{
              min-height: 40px;
              img{
                height: 26px;
                margin-right: 15px;
                @media (max-width: 991px){
                  margin-right: 5px;
                }
              }
              a:last-child{
                img{
                  margin: 0;
                }
              }
            }

          }

          .view-info-list{
            li{
              padding: 10px 0;
              border-top: 1px solid $gray47;
              > strong , label{
                display: inline-block;
                width: 80px;
                font-size: 9px;
                font-weight: bold;
                line-height: 1.22;
                letter-spacing: -0.2px;
                text-transform: uppercase;
                height: auto;
                margin: 0;
                color: $gray-lightest;
              }
              > span{
                font-size: 14px;
                line-height: 1.57;
                letter-spacing: -0.1px;
                font-weight: normal;

              }
              &.default-price{
                padding: 20px 0;
              }
            }
          }

          .view-modal-action{
            .btn{
              width: 143px;
              border-radius: 10px;
              font-size: 16px;
              height: 34px;
              &:hover{
                background: $orange-lighter;
              }
            }
          }
        }

      }
    }

    &.view-modal{
      text-align: center;
      overflow: hidden;
      @media (min-width: 991px){
        overflow-y: hidden;
      }

      &:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
      }

      .modal-dialog {
        text-align: left;
        display: inline-block;
        vertical-align: middle;
      }

      .view-info-list{
        li.guar-value{
          height: auto;

          strong , label{
            float: left;
            padding-top: 7px;
            width: 80px;
            height: auto;
            margin: 0;
            color: $gray-lightest;
          }
          span{
            display: inline-block;
            width: calc(100% - 80px);
            float: left;
            padding-left: 5px;
          }
        }
      }
    }

    &.compare-modal{
      @media (max-width: 1199px){
        padding: 0 15px !important;
      }
      @media (max-width: 767px){
        padding: 0 !important;
      }
      .modal-dialog{
        @media (min-width: 1199px){
          width: 1170px;
        }
        width: 100%;

        @media (max-width: 767px){
          margin-top: 0;
        }
        .close{
          @media (max-width: 767px){
            top: 10px;
            z-index: 300;
          }
        }

        .modal-content{
          padding: 50px 32px 40px 36px;

          @media (max-width: 1199px){
            padding: 15px;
          }

          @media (max-width: 767px){
            background: transparent;
            padding: 0;
            border: none;
          }

          .compare-label{
            float: left;
            width: 120px;

            @media (max-width: 991px){
              display: none;
            }

            .label-list{
              li{
                font-size: 14px;
                line-height: 1;
                letter-spacing: -0.1px;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 14px;
                padding: 19px 0;
                color: $gray-lightest;
                height: 50px;

                &.guar-label{
                  height: 90px;
                  padding-top: 38px;
                }
                &:first-child{
                  margin-top: 212px;
                  margin-bottom: 170px;
                  padding: 0;
                  height: auto;
                }
              }
            }
          }

          .view-gallery{
            float: right;
            width: calc(100% - 120px);
            padding: 0;

            @media (max-width: 991px){
              width: 100%;
            }

            .compare-swiper-container{
              height: auto;
              width: 100%;
              @media (max-width: 767px){
                padding: 0 15px;
                padding-top: 50px;
              }
              .swiper-wrapper{
                height: auto;

                @media (max-width: 767px){
                  width: 100%;
                }
              }

              .compare-pagination{
                transform: translateX(0);
                -moz-transform: translateX(0);
                -webkit-transform: translateX(0);
                top: 22px;
                left: 0;
                width: 100% !important;
                text-align: center;
                z-index: 200;
                position: absolute;
                height: 10px;

                > .swiper-pagination-bullet{
                  position: static !important;
                  width: 8px !important;
                  height: 8px !important;
                  background: #f9f9f9 !important;
                  margin: 0 4px !important;
                  display: inline-block !important;
                  opacity: .5 !important;
                  transform: scale(1);
                  -moz-transform: scale(1);
                  -webkit-transform: scale(1);
                  &.swiper-pagination-bullet-active{
                    opacity: 1 !important;
                  }
                }
              }

              .swiper-slide {
                @media (min-width: 767px){
                  float: left;
                  width: 33.33%;
                  padding: 0 10px;
                }

                @media (min-width: 991px){
                  padding: 0 22px;
                }

                @media (max-width: 767px){
                  float: none;
                  border-radius: 12px;
                  padding-bottom: 20px;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: -webkit-flex;
                  display: flex;
                  -webkit-box-pack: center;
                  -ms-flex-pack: center;
                  -webkit-justify-content: center;
                  justify-content: center;
                  -webkit-box-align: baseline;
                  -ms-flex-align: baseline;
                  -webkit-align-items: baseline;
                  align-items: baseline;
                  background: #343434;
                  margin-right: 7px;
                  position: relative;
                  left: -7px;
                }
              }
            }
            .swiper-slide{
              height: auto;
            }

            .view-text{
              &.add-crate {
                -ms-flex-align-self: center;
	              -webkit-align-self: center;
                align-self: center;
              }

              .compare-card-header{
                display: none;
                margin-bottom: 15px;
                background: #dfa144;
                border-radius: 12px 12px 0 0;
                padding: 20px;
                padding-top: 26px;
                position: static;
                background: #bf8535; /* Old browsers */
                background: -moz-linear-gradient(top, #bf8535 0%, #dfa144 37%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #bf8535 0%,#dfa144 37%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #bf8535 0%,#dfa144 37%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf8535', endColorstr='#dfa144',GradientType=0 ); /* IE6-9 */
                @media (max-width: 767px){
                  display: block;
                }
                img{
                  height: 32px;
                  margin: 0 auto;
                  display: block;
                }
                p{
                  font-size: 14px;
                  line-height: 1.57;
                  letter-spacing: -0.1px;
                  color: $gray-lightest;
                  height: 44px;
                  overflow: hidden;
                  overflow-wrap: break-word;
                  margin-top: 16px;
                }


              }
              width: 100%;
              text-align: center;
              float: none;

              .crate-add{
                display: block;
                font-size: 14px;
                line-height: 1;
                letter-spacing: -0.1px;
                color: $gray-lightest;
                font-weight: bold;
                text-transform: uppercase;
                background: url('img/add-icon.png') no-repeat top center;
                padding-top: 50px;
                text-decoration: none;
                margin-top: 340px;

                @media (max-width: 767px){
                  margin-top: 50px;
                }
              }

              .card-img{
                height: 180px;
                width: 100%;
                position: relative;
                position: relative;
                margin-bottom: 30px;
                padding: 0 10px;

                @media (max-width: 1199px){
                  padding: 0;
                }
                img{
                  height: 100%;
                  width: 100%;
                  margin: 0 auto;
                  position: relative;
                  o-object-fit: cover;
                  object-fit: cover;
                  -moz-object-fit: cover;
                  -webkit-object-fit: cover;
                  border-radius: 6px;
                }
                .past-itm{
                  display: inline-block;
                  background: #252525;
                  color: $white;
                  text-transform: uppercase;
                  color: $whisper;
                  font-weight: normal;
                  font-family: 'ProximaNovaCond-Extrabld', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                  position: absolute;
                  left: 13px;
                  bottom: 12px;
                  border-radius: 2px;
                  -moz-border-radius: 2px;
                  -webkit-border-radius: 2px;
                  font-size: 12px;
                  padding:5px;
                  text-align: center;
                  line-height: normal;
                  letter-spacing: 0.3px;
                  font-weight: bold;
                }
              }

              .view-desc{
                margin-bottom: 20px;
                height: 65px;
                overflow: hidden;
                padding: 0 10px;
              }
              .featured{
                > span{
                  margin-bottom: 15px;
                }
                .featured-logos{
                  min-height: 52px;
                  a{
                    img{
                      height: 40px;
                      margin-right: 10px;
                    }
                    &:last-child{
                      img{
                        margin: 0;
                      }
                    }
                  }
                }
              }
              .view-info-list{
                min-height: 225px;
                li{
                  padding: 14px 0;
                  height: 50px;

                  strong , label{
                    display: none;
                  }

                  &.guar-value{
                    height: 79px;
                    overflow: hidden;
                    padding: 0;
                    padding-top: 14px;
                    margin-bottom: 14px;
                  }
                  &.delivery-range-wrapper{
                    padding: 10px 0;
                  }

                }

                @media (max-width: 767px){
                  padding: 0;
                  margin: 0 20px;
                  padding-top: 20px;
                  border-top: 1px solid #787878;
                  li{
                    border: none;
                    text-align: left;
                    min-height: 30px;
                    height: auto;
                    padding: 0;
                    strong , label{
                      display: inline-block;
                      width: 80px;
                    }
                    &.guar-value{
                      height: auto;
                      padding: 0;
                      margin: 0;

                      strong , label{
                        float: left;
                        padding-top: 7px;
                      }
                      span{
                        display: inline-block;
                        width: calc(100% - 80px);
                        float: left;
                        padding-left: 5px;
                      }
                    }
                    &.delivery-range-wrapper{
                      padding: 10px 0;
                    }

                    &.default-price{
                      margin-top: 20px;
                    }
                  }
                }

              }

              .price-wrapper{
                padding: 0 20px;
                text-align: left;
                .default-price{
                  margin-top: 20px;
                  padding: 14px 0;
                  height: 50px;
                  margin: 0;
                }
              }

              .view-modal-action{
                margin-top: 16px;
                .btn{
                  line-height: 0.88;
                  letter-spacing: 1px;
                  font-stretch: 16px;
                  width: 200px;
                  height: 49px;
                  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
                  padding-top: 17px;

                }
                @media (max-width: 767px){
                  padding: 0 20px;
                  .btn{
                    width: 100%;
                  }
                }
              }

              @media (min-width: 767px){
                .featured > span{
                  display: none;
                }
              }

              @media (max-width: 767px){
                .card-img , .view-logo , .view-desc{
                  display: none;
                }

                .featured > span{display: block;}

              }


            }
          }

        }
      }
    }
  }

  

}

html.flipped-html{
  overflow: unset;
}

body{
  padding-right: 0 !important;
  &:after{
    opacity:0;
    background: $gray-darker;
    content: "";
    display: block;

    -webkit-transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
    transition-delay: .1s;
  }

  &.flipped-body{
      overflow: hidden;
    &:after{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
      opacity: 1;
    }

  }

  @media (max-width: 767px){
    .modal-backdrop.in{
      opacity: 1;
      background: #1e1e1e;
    }
  }
}
