/* ALL INTERNATIONAL LANGUAGES */
html[lang='de'],
html[lang='fr'],
html[lang='it'],
html[lang='es'] {

  #subscriptions-index {
    .subscription-plan-box {
      .flagBar {
        font-size: 12px;
      }
      ul.subscriptions {
        li:first-child {
          .per-month {
            font-size: 12px;
          }
        }
      }
    }
  }

  #signin_modal,
  #register_modal {
    .modal-dialog {
      .modal-content {
        .modal-body {
          .social-signin-links {
            .fb-login {
              padding-left: 10px;
              padding-right: 10px;
            }
          }
        }
      }
    }
  }

  #subscriptions-cancellation {
    @media (max-width: 991px) {
      div.main-content {
        margin: 0;
      }
    }
  }

  #level_up-index {
    #header {
      .container .intro .heading {
        .header-heading {
          margin: 20px 0 15px;
          @media (max-width: 767px) {
            margin: 10px 0;
          }
        }
        .header-info {
          @media (max-width: 991px) {
            width: 60%;
          }
        }
      }
      .container-fluid {
        @media (max-width: 991px) {
          margin-top: 82px;
        }
        .intro .banner-wrapper .banner-content #opt-cta {
          max-width: none;
          padding: 5px 15px;
          width: auto;
          @media (max-width: 767px) {
            max-width: 90%;
            padding: 15px;
            width: auto;
          }
        }
      }
    }
    #levelup_subscriptions {
      #plan-boxes {
        .planBoxTarget {
          .lvlPlanHeader h3 {
            @media (max-width: 768px){
              font-size: 25px;
            }
            @media (max-width: 767px){
              white-space: normal;
            }
          }
          .plan-image img {
            padding-top: 50px;
          }
          .product-box ul li:first-child {
            font-size: initial;
            padding-bottom: 20px;
            .cost,
            .per-month {
              display: inline-block;
              vertical-align: text-top;
            }
            .cost {
              font-size: 80px;
              vertical-align: text-top;
              @media (min-width: 768px)
                and (max-width: 991px) {
                  max-width: 55%;
              }
            }
            .per-month {
              line-height: 1.5;
              margin: 15px 0 0 10px;
              max-width: 40%;
              padding: 0;
              text-align: left;
              @media (min-width: 768px)
                and (max-width: 991px) {
                  position: relative;
                  left: 20px;
              }
            }
          }
        }
      }
    }
    .subscriptions-bg .container-full.soldout .product-box h3.soldout {
      border: 4px solid $red;
      width: 90%;
      @media (max-width: 991px) {
        width: 112%;
      }
      @media (max-width: 768px) {
        width: 100%;
      }
      @media (max-width: 767px) {
        width: 75%;
      }
    }
  }

  #level_up-product {
    @media (max-width: 414px) {
      .section-lu-plans .subscription .value-list .value-item:nth-child(2) {
        white-space: nowrap;
      }
    }
  }

  #past_crates-index {
    .quotes {
      @media (max-width: 767px) {
        height: 135px;
      }
    }
  }
  #about_us-index,
  #static_pages-about_us,
  #static_pages-contact,
  #static_pages-privacy_policy,
  #terms_conditions-index {
    .side-nav {
      li {
        a {
          @media only screen
          and (min-device-width : 768px)
          and (max-device-width : 1024px)
          and (orientation: portrait)
          and (-webkit-min-device-pixel-ratio: 1){
            font-size: 12px;
            padding-left: 5px;
          }
        }
      }
    }
  }


  #footer {
    ul li {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .footer-top {
      form {
        display: inline-flex;
      }
    }
  }

  .checkouts {
    #new_checkout {
      .use-shipping-address {
        #use-shipping-address-label {
          width: 165px;
        }
      }
      section #cosummaryright {
        padding-left: 20px;
      }
    }

    #coupon-discount-amount {
      float: right;
    }
  }

  #checkouts-new,
  #level_up-checkouts-new {
    .checkout-login-box {
      .fb-login {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .subscription-cost {
      font-size: 11px;
      p {
        font-size: 0;
        > b,
        span {
          display: inline-block;
          font-size: 14px;
          max-width: 50%;
        }
        span {
          text-align: right;
          b {
            display: block;
          }
        }
        &:before,
        &:after {
          content: ' ';
          display: table;
        }
        &:after {
          clear: both;
        }
      }
    }
    @media (max-width: 991px) {
      hr {
        margin-top: 50px;
      }
    }
  }

  .flagBar .flagContent {
    width: 85%;
  }

  #cms-terms-conditions {
    @media (min-width: 768px)
    and (max-width: 1024px)
    and (orientation: portrait) {
      font-size: 10px;
    }
  }

  #user_accounts-index,
  #user_accounts-subscriptions,
  #user_accounts-referral_credits,
  #user_accounts-free_crates {
    .main-content {
      padding: 0;
    }
    .account-summary {
      #upgrade-promotion.col-sm-6 {
        #upgrade-promotion-content {
          @media (min-width: 768px) {
            padding: 9% 1% 0;
            > div {
              padding: 0 3% 0% 35%;
            }
          }
        }
      }
      .btn-secondary {
        max-width: 100%;
        white-space: normal;
      }
    }
  }

  .reactivation-box {
    .upBox {
      .upContent {
        .upRow {
          font-size: 0;
          .upLeft,
          .upRight {
            font-size: 14px;
            vertical-align: top;
          }
          .upLeft {
            width: 40%;
          }
          .upRight {
            width: 60%;
          }
        }
      }
    }
  }

}

/* GERMAN ONLY */
html[lang='de'] {

  #checkouts-new {
    label[for=checkout_credit_card_expiration_date_1i],
    label[for=checkout_credit_card_expiration_date_2i] {
      @media (max-width: 991px)
        and (min-width: 768px) {
        padding-bottom: 20px;
      }
    }
    label[for=checkout_credit_card_cvv] {
      letter-spacing: -0.4px;
    }
    .coupon-field-show-checkbox {
      label {
        white-space: normal;
      }
    }
  }
  #international-index {
    .ship-to-country-container {
      .country-container {
        width: 12%;
        @media(max-width: 991px){
          width: 23%;
        }
        @media(max-width: 767px){
          width: 100%;
        }
      }
    }
  }
}

/* FRENCH ONLY */
html[lang='fr'] {

  #footer-email-capture {
    h4 {
      font-size: 18px;
    }
  }

  #checkouts-new {
    label[for=checkout_credit_card_expiration_date_2i] {
      letter-spacing: -0.4px;
      @media (min-width: 992px) {
        padding-bottom: 20px;
      }
    }
    label[for=checkout_credit_card_expiration_date_1i] {
      @media (min-width: 768px) {
        padding-bottom: 20px;
      }
    }
  }
  #international-index {
    .ship-to-country-container {
      .country-container {
        width: 12%;
        @media(max-width: 991px){
          width: 18%;
        }
        @media(max-width: 767px){
          width: 100%;
        }
      }
    }
  }
}

/* ITALIAN ONLY */
html[lang='it'] {

  #footer-email-capture {
    h4 {
      font-size: 18px;
    }
  }

  #checkouts-new {
    label[for=checkout_credit_card_expiration_date_1i],
    label[for=checkout_credit_card_expiration_date_2i] {
      @media (max-width: 991px)
        and (min-width: 768px) {
        padding-bottom: 20px;
      }
    }
    label[for=checkout_credit_card_cvv] {
      letter-spacing: -0.4px;
    }
  }
}
