/*
 * main layout
 */

html {
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
}

body {
  background-color: $white;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  overflow-x: hidden;
  padding: 113px 0 0;

  @media (max-width: 991px) {
    padding: 62px 0 0;
  }

  &.no-nav {
    padding: 0;
  }
}
// LARGE HEADING
h1,
.h1,
.hdr-1 {
  color: $night-rider;
  font-size: 48px;
  font-weight: $extrabold;
  letter-spacing: 0;
  line-height: 40px;
  margin: 0;
  text-transform: uppercase;
}
// BOLD HEADER
h2,
.h2,
.hdr-2 {
  color: $night-rider;
  font-size: 32px;
  font-weight: $semibold;
  letter-spacing: 0;
  line-height: 38px;
  margin: 0;
  text-transform: uppercase;
}
// EQUAL HEIGHT COLUMNS DESKTOP
.row.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  @media screen and (max-width: 767px) {
    display: block;
  }
  [class*='col-'] {
    float: none;
  }
}
// Regular Header
h3,
.h3,
.hdr-3 {
  color: $night-rider;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: $regular;
  letter-spacing: 0;
  line-height: 34px;
  margin: 0;
  text-transform: capitalize;
}
// SUB HEADLINE
h4,
.h4,
.hdr-4 {
  color: $gray47;
  font-size: 22px;
  font-weight: $regular;
  letter-spacing: 1px;
  line-height: 28px;
  margin: 0;
  text-transform: uppercase;
}
// LARGE LABEL | NAV
h5,
.h5,
.hdr-5 {
  color: $night-rider;
  font-size: 16px;
  font-weight: $semibold;
  letter-spacing: 0.4px;
  line-height: 22px;
  margin: 0;
  text-transform: uppercase;
}
// SMALL LABEL | NAV
h6,
.h6,
.hdr-6 {
  color: $night-rider;
  font-size: 12px;
  font-weight: $extrabold;
  letter-spacing: 0.6px;
  line-height: 12px;
  margin: 0;
  text-transform: uppercase;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  color: $orange;
  font-weight: 600;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $orange;
    text-decoration: underline;
  }
}

a[data-toggle='modal'] {
  outline: 0 none;
}

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

::selection {
  background: $orange;
  color: $white;
  text-shadow: none;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.inline {
  display: inline-block;
  li {
    display: inline-block;
  }
}

/* UTILITIES */
@media (orientation: landscape) {
  .hide-on-landscape {
    display: none;
  }
}
@media (orientation: portrait) {
  .hide-on-portrait {
    display: none;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .hide-on-tablet-landscape {
    display: none;
  }
}

ul.unstyled,
ol.unstyled {
  list-style: outside none none;
  margin-left: 0;
}

ul.inline,
ol.inline {
  list-style: outside none none;
  margin-left: 0;
}

ul.inline > li,
ol.inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.circle {
  background: $orange;
  border-radius: 50%;
  display: inline-block;
  height: 35px;
  margin-top: 20px;
  text-align: center;
  width: 35px;
  p {
    font-weight: 600;
    line-height: 35px;
    margin: 0;
    padding: 0;
  }
}

.circle-question-mark {
  color: $white;
  line-height: 16px;
  height: 14px;
  margin: 0;
  width: 14px;
  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
  }
}

.circle-number {
  color: $white;
  font-size: 24px;
}

.loader-white-bg {
  margin-top: 25px;
  min-height: 140px;
}

.center {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* please stop using these where possible */

.padding-top-50 {
  padding-top: 50px;
}

.margin-btm-0 {
  margin-bottom: 0;
}

.black-bg {
  background: $gray-darker;
}

.gray-bg {
  background: $gray-lightest;
}

.white-bg {
  background: $white;
}

.orange {
  color: $orange;
}

.address-character-limit {
  margin-bottom: -10px;
  margin-top: -15px;
  @media (max-width: 767px) {
    margin-bottom: 0px;
  }
}

.input-countdown {
  color: $orange !important;
  float: right !important;
  font-size: smaller;
  font-weight: bolder;
  margin-top: 5px;
  padding-right: 10px;
}

.character-limit {
  @extend .input-countdown;
  color: $gray-mid !important;
  margin-top: 0;
  opacity: 0.5;
}

.input-warning {
  @extend .input-countdown;
}

.field-error-msg {
  @extend .input-countdown;
  padding-right: 5px;
}
