.address-suggestions,
.address-error {
  border: 1px solid $gray-light;
  border-radius: 5px;
  color: $orange;
  display: none;
  margin: 15px;
  padding: 10px;
  text-align: center;
  clear: both;
  @media (max-width: 767px) {
    margin: 0;
  }
}

.address-suggestions-warning {
  display: block;
}
.address-error-error {
  display: block;
}

.address-validation-block {
  margin: 8px;
  width: 30%;

  @media (max-width: 991px) {
    width: 50%;
  }

  @media (max-width: 767px) {
    margin: 0 10%;
    width: 80%;
  }
}
.address-suggestion {
  border: 1px solid $orange;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 0px;
  text-align: center;

  @media (max-width: 767px) {
    border-radius: 5px;
    margin-top: 10px;
    padding-bottom: 10px;
  }
}

.use-address {
  color: $white;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase !important;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}
#checkouts-new {
  .main-content {
    .use-address,
    .btn-address {
      color: $white;
      @media (max-width: 767px) {
        padding-left: 30px;
        padding-right: 30px;
        width: 95%;
      }
    }
  }
}

.btn-address,
a.btn-address {
  cursor: pointer !important;
  width: 95%;
  @media (max-width: 768px) {
    width: auto;
  }
}

.text-box {
  padding: 12px 10px 12px 0;
  font-size: 14px;
  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
}

#gifts-index {
  .address-suggestions,
  .address-error {
    margin: 15px 0;
    a.use-address,
    a.btn-address {
      @media (max-width: 767px) {
        padding-left: 30px;
        padding-right: 30px;
        width: 95%;
      }
    }
  }
  .text-box {
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px 15px;
    @media (max-width: 768px) {
      padding: 10px;
    }
    @media (max-width: 767px) {
      padding-bottom: 0;
      padding-top: 0;
    }
  }
  .address-suggestion {
    padding-bottom: 10px;
    padding-top: 10px;
    @media (max-width: 768px) {
      padding: 10px;
    }
    @media (max-width: 767px) {
      margin-top: 20px;
      padding-bottom: 15px;
    }
  }
}

#user_accounts-subscriptions {
  .form-actions-right {
    .btn,
    .btn-primary {
      width: 30%;
    }
  }
}
