$regular: 400;
$bold: 600;
$semibold: 700;
$extrabold: 900;

button,
.btn {
  background: none;
  background-color: $orange;
  border: 0 none;
  border-color: $orange;
  border-radius: 10px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.1);
  color: $white;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: $semibold;
  height: 34px;
  letter-spacing: 1px;
  margin: 0;
  outline: none;
  padding: 6px 40px;
  text-transform: uppercase;
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &.disabled,
  &.disabled:active {
    color: $white;
    background-color: $orange-light;
    border-color: $orange-light;
    box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.1);
    outline: none;
  }
  &:active,
  &.active,
  &:active:hover,
  &:active:focus,
  &:active.focus,
  &.active:hover,
  &.active:focus,
  &.active.focus {
    background-color: $orange-light;
    border-color: $orange-light;
    box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.1);
    outline: none;
  }

  &.disabled,
  &[disabled],
  &.disabled:hover,
  &[disabled]:hover {
    background-color: $whisper;
    border-color: $whisper;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 1;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
  }
}

.btn-primary {
  background-color: $orange;
  border-color: $orange;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.1);
  color: $white;
  height: 54px;
  padding: 15px 40px;
  text-shadow: 0 2px 0 rgba(52, 52, 52, 0.1);
  &:hover,
  &:focus {
    background-color: $orange-light;
    border-color: $orange-light;
    box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.1);
    outline: none;
  }
  &:active,
  &.active,
  &:active:hover,
  &:active:focus,
  &:active.focus,
  &.active:hover,
  &.active:focus,
  &.active.focus {
    background-color: $orange-lighter;
    border-color: $orange-lighter;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.1);
  }
  &.disabled,
  &[disabled],
  &.disabled:hover,
  &[disabled]:hover,
  &.disabled:focus {
    background-color: $whisper;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 1;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
  }
  &.btn-sm {
    height: 34px;
    line-height: 1.5;
    padding: 6px 10px;
  }
}

.btn-secondary {
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.1);
  color: $night-rider;
  font-size: 16px;
  &:hover,
  &:focus {
    background-color: $white;
    border-color: $white;
    box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.1);
    color: $night-rider;
    outline: none;
  }
  &:active,
  &.active,
  &:active:hover,
  &:active:focus,
  &:active.focus,
  &.active:hover,
  &.active:focus,
  &.active.focus {
    background-color: $white;
    border-color: $white;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.1);
    color: $night-rider;
  }
  &.disabled,
  &.disabled:hover,
  &.disabled:focus,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
  }
  &.btn-sm {
    height: 34px;
    line-height: 1.5;
    padding: 6px 10px;
  }
}

.btn-tertiary {
  background-color: transparent;
  border-bottom: 2px solid $orange;
  border-radius: 0;
  box-shadow: none;
  color: $night-rider;
  font-size: 12px;
  height: 20px;
  outline: none;
  padding: 0;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &:active:hover,
  &:active:focus,
  &:active.focus,
  &.active:hover,
  &.active:focus,
  &.active.focus {
    background: transparent;
    box-shadow: none;
    color: $orange;
    outline: 0 none;
  }

  &.disabled,
  &[disabled],
  &.disabled:hover,
  &[disabled]:hover {
    color: $whisper;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
  }
  &.btn-sm {
    height: 34px;
    line-height: 1.5;
    padding: 6px 10px;
  }
}

.btn-link {
  background-color: transparent;
  border-bottom: 2px solid $orange;
  border-radius: 0;
  box-shadow: none;
  color: $night-rider;
  height: 30px;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;

  &:hover,
  &:focus,
  &.active,
  &:active,
  &.active:hover,
  &.active:focus,
  &:active:hover,
  &:active:focus {
    background-color: transparent;
    border-color: $orange;
    box-shadow: none;
    color: $orange;
    text-decoration: none;
  }
  &.popover-sizing-chart-btn {
    border-bottom: 0;
    width: 30px;
    height: 30px;
  }
}

// /* BACK TO TOP BUTTON */

.btn-to-top {
  background: image-url('back-to-top-arrow.png') no-repeat center 10px $orange;
  border: 1px solid $gray-lightest;
  border-right: 0 none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  bottom: 39px;
  box-shadow: none;
  color: $white;
  font-size: 12px;
  height: 70px;
  opacity: 1;
  padding: 40px 14px 8px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: all 0.3s;
  z-index: 100;
  &:hover,
  &:focus {
    background-color: $orange;
    border-color: $orange;
    box-shadow: none;
    opacity: 0.75;
  }

  &.active {
    background-color: $orange;
    box-shadow: none;
    transform: translateX(0%);
  }

  &.fixed {
    position: fixed;
    &:hover,
    &:focus {
      background-color: $orange;
      border-color: $orange;
      box-shadow: none;
      opacity: 0.75;
    }
  }

  @media (max-width: 991px) {
    background: $orange;
    border: 0 none;
    border-radius: 0;
    display: block;
    font-size: 16px;
    margin: 16px 0 0;
    padding: 20px;
    position: static;
    text-transform: none;
    width: 100%;
  }

  @media (max-width: 767px) {
    margin: 0;
  }
}
