$black: #000;
$white: #fff;
$orange: #ff4c00;
$orange-light: #ff8450;
$orange-lighter: #ffc2a8;
$gray-darker: #1e1e1e;
$gray-dark: #5c5c5c;
$gray-mid: #a4a4a4;
$gray-light: #ddd;
$gray-lighter: #efefef;
$gray-lightest: #f9f9f9;
$red: #f24242;
$green: #47cb28;
$green-darker: #2cae71;
$yellow: #ffc81b;
$gold: #f7a300;
$blue: #1faada;
$blue-lighter: #f0f7fd;
$blue-darker: #55acf8;

// Product
$lc-gaming: #c12315;
$lc-anime: #1ac0de;

// dark UI
$gray14: #242424;
$gray18: #2e2e2e;
$night-rider: #343434;
$gray47: #787878;
$gray-sky: #b1b1b1;

// Light UI
$silver: #c4c4c4;
$whisper: #e4e4e4;
$white-smoke: #f9f9f9;

// Messaging
$error: #e45353;
$error-highlight: #fff5f5;
$valid: #27a468;
$valid-highlight: #f4fff5;
$neutral: #f6a623;
$neutral-highlight: #fff7eb;
$other: #3d97f9;
$other-highlight: #ebf5fd;
