/*
 * Errors
 */

.emessages,
.messages {
  color: red;
  margin-bottom: 5px;
}

.error-page-index {
  color: $night-rider;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 20px;
  text-align: center;

  .container {
    height: 100%;
    margin: auto;
    max-width: 100%;
  }

  a {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  p {
    color: $gray-dark;
    margin: 0 auto 1em;
    padding: 0 0 15px;
    width: 100%;
  }

  .maintenance-bg {
    background: image-url('maintenance_bkg.jpg') no-repeat;
    background-size: 100%;
    top: 0;
    z-index: 0;
  }
}

#errors-show {
  padding: 113px 0 0;
  @media (max-width: 768px) {
    padding: 113px 0 0;
  }
  @media (max-width: 767px) {
    padding: 62px 0 0;
  }
  @media (max-width: 767px) {
    .nav-header.basic-nav {
      .logo {
        .logo-link {
          .logo-image {
            width: 40px;
          }
        }
      }
    }
  }
  @media (max-width: 480px) {
    .nav-header.basic-nav {
      padding: 5px 0;
    }
  }
}

.error-page-500,
.error-page-422 {
  color: $night-rider;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;

  .container {
    height: 100%;
    margin: auto;
    max-width: 100%;
  }

  a {
    border: none;
    height: 100%;
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  p {
    color: $gray-dark;
    margin: 0 auto 1em;
    padding: 1em 0;
    width: 100%;
  }

  .maintenance-bg {
    background: image-url('maintenance_bkg.jpg')  no-repeat;
    background-size: 100%;
    top: 0;
    z-index: 0;
  }
}

.error-page-422 {
  background-color: $gray-light;

  p {
    margin: 4em auto 1em;
  }

  .bg {
    background: image-url('errors/422_error_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  @media (max-width: 770px) {
    background-position: center;
    min-height: 500px;
    a {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      display: none;
      min-height: 500px;
    }
  }
}

.error-page-404,
.overlay-404,
.gameover-404 {
  font-family: 'Press Start 2P', monospace;

  .wrapper {

    @media (max-width: 767px) {
      margin-left: 15px;
      margin-right: 15px;
      width: calc(#{"100% - 30px"});
    }
  }
}

.error-page-404 {
  background: $black;
  border-bottom: 3px solid $orange;

  &:first-of-type {
    border-color: $gray-dark;

    @media (max-width: 991px) {
      padding-top: 30px;
    }

    @media (max-width: 767px) {
      padding-top: 20px;
    }
  }

  &.disabled {
    filter: brightness(.2);
  }

  .score-hdr {
    color: $white;
    font-size: 24px;
    padding: 0 0 20px;
    position: relative;
    text-align: right;

    @media (max-width: 767px) {
      font-size: 12px;
      padding-bottom: 10px;
    }

    .score-para {
      margin-bottom: 0;
      margin-left: auto;
      text-align: center;
      width: 300px;

      @media (max-width: 767px) {
        width: 125px;
      }
    }

    .credits {
      background: image-url('404/credit.png') no-repeat left center transparent;
      height: 35px;
      left: 0;
      line-height: 52px;
      padding-left: 75px;
      position: absolute;
      top: 0;

      @media (max-width: 991px) {
        margin-left: 20px;
      }

      @media (max-width: 767px) {
        background-size: auto 100%;
        height: 25px;
        line-height: 40px;
        padding-left: 55px;
      }
    }
  }

  .game-screen {
    height: 50vh;
    min-height: 500px;
    overflow: hidden;
    position: relative;

    @media (max-width: 767px) {
      min-height: 50vh;
    }
  }

  .level {
    color: $white;
    font-size: 30px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%);

    @media (max-width: 767px) {
      font-size: 22px;
    }
  }

  .alien {
    color: $gray-light;
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    left: 0;
    line-height: 1;
    position: absolute;
    top: 0;

    &.special {
      color: $orange;
    }

    @media (max-width: 767px) {
      font-size: 12px;
    }
  }

  .attack,
  .blaster,
  .blast,
  .explosion,
  .explosion-blaster {
    background: no-repeat center center transparent;
    background-size: 100%;
    left: 0;
    position: absolute;
    -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);

  }

  .attack {
    background-image: image-url('404/alien-poop.gif');
    display: none;
    height: 25px;
    top: 0;
    width: 23px;
  }

  .blaster {
    bottom: -20px;
    display: inline-block;
    height: auto;
    left: -20px;
    padding: 20px;
    -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    width: auto;

    @media (max-width: 767px) {
      width: 100px;
    }
  }

  .blast {
    background-image: image-url('404/pew.png');
    display: none;
    height: 31px;
    top: 0;
    width: 9px;

    @media (max-width: 767px) {
      height: 20px;
      width: 6px;
    }
  }

  .explosion {
    background-image: image-url('404/explosion-anim-loop.gif');
    display: inline-block;
    height: 39px;
    top: 0;
    width: 45px;
  }

  .explosion-blaster {
    background-image: image-url('404/explosion-blaster.gif');
    display: inline-block;
    height: 256px;
    top: 0;
    width: 400px;

    @media (max-width: 767px) {
      height: 256px;
      width: 400px;
    }
  }

  .instructions-keyboard {
    display: none;
    margin-top: 40px;
  }

  .instruction-hdr {
    color: $gold;
    font-size: 16px;
    margin: 0 0 20px;

    @media (max-width: 991px) {
      font-size: 14px;
    }

    @media (max-width: 767px) {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }

  .instruction {
    color: $white;
    display: inline;
    font-size: 16px;
    margin: 0 20px;

    @media (max-width: 991px) {
      font-size: 14px;
    }

    @media (max-width: 767px) {
      display: block;
      font-size: 12px;
    }
  }
}

.overlay-404 {
  background: rgba($gray-darker, .9);
  font-family: 'Press Start 2P', monospace;
  position: absolute;
  top: 30vh;
  width: 100%;

  .hdr {
    color: $gold;
    font-family: 'Press Start 2P', monospace;
    font-size: 80px;
    margin-bottom: 30px;
    margin-top: 10px;

    @media (max-width: 767px) {
      font-size: 48px;
    }
  }

  .subhdr {
    color: $white;
    font-family: 'Press Start 2P', monospace;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto 20px;
    width: 500px;

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 22px;
      width: 90vw;
    }
  }

  .btn-primary {
    display: block;
    font-family: 'Press Start 2P', monospace;
    margin: 0 auto 40px;

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

  .link {
    font-family: 'Press Start 2P', monospace;
    font-size: 16px;
    margin: 0;

    @media (max-width: 767px) {
      font-size: 12px;
    }
  }
}

.gameover-404 {
  background: rgba($gray-darker, .9);
  display: none;
  top: 30vh;
  position: absolute;
  width: 100%;

  .hdr {
    color: $gold;
    font-size: 36px;
    margin: 0 auto 10px;

    @media (max-width: 767px) {
      font-size: 22px;
    }
  }

  .subhdr {
    color: $white;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto 20px;
    width: 500px;

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 22px;
      width: 90vw;
    }
  }

  .link {
    font-size: 16px;
    margin: 0;

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}

.error-page-500 {
  background-color: transparent;

  .bg {
    a {
      width: 30%;
      @media (max-width: 768px) {
        width: 50%;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
    }

    p {
      display: block;
      font-size: 28px;
      line-height: 1.4;
      margin: 0;
      padding: 0;
      width: 100%;
      @media (max-width: 767px) {
        font-size: 22px;
      }
      span {
        display: block;
        font-size: 14px;
        font-weight: 200;
        margin-top: 10px;
      }
    }

    .banner {
      a {
        width: 100%;
      }

      .main-banner-textbox {
        max-width: 100%;
        padding: 30px 0px;
        text-align: center;

        h1 {
          font-size: 20px;
          line-height: 25px;
          margin: 0 0 10px;
        }

        .slider-body {
          margin-bottom: 10px;
          p {
            font-size: 14px;
            margin: 0 auto 10px;
            width: 75%;
          }
        }
      }
    }

    @media (max-width: 770px) {
      .bg {
        p {
          font-size: 24px;
        }
      }
      .banner {
        a {
          width: 100%;
        }

        .main-banner-textbox {
          margin: 0 auto;
          padding-top: 0px;
          width: 100%;

          h1 {
            margin: 10px auto;
            width: 55%;
          }

          .slider-body {
            display: block;
          }
        }
      }
    }
  }
}
