/*
 * forms
 */
$regular: 400;
$bold: 500;
$semibold: 700;
$extrabold: 900;

.collapsed {
  width: inherit;
}

label,
input,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  outline: 0 none;

  &:focus {
    outline: 0 none;
  }
}
abbr {
  border-bottom: none !important;
  color: $orange;
  cursor: pointer;
  text-decoration: none;
}

select,
textarea,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'],
.uneditable-input {
  background-color: $white;
  border: 1px solid $gray-sky;
  border-radius: 2px;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  color: $gray47;
  display: block;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 54px;
  line-height: 22px;
  outline: 0;
  padding: 7px 10px;
  &::placeholder {
    color: $silver;
    font-weight: $regular;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    border-color: $night-rider;
    outline: 0;
  }

  &:focus {
    background-color: $white;
    border-color: $orange-light;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    outline: 0;
    padding-bottom: 12px;
    padding-top: 12px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &::placeholder {
      color: transparent;
    }
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none; /* hide the default arrow in ie10 and ie11 */
}
input:-webkit-autofill,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus {
  box-shadow: 0 0 0 1050px $white inset !important;
}
hr.checkout-hr {
  background-color: $gray-dark;
  border: 0;
  clear: both;
  height: 1px;
  margin: 15px 0;
  width: 100%;
}
hr.cross-sell-hr {
  background-color: $orange;
  border: 0;
  clear: both;
  height: 1px;
  margin: 5px 0;
  width: 100%;
}

.full-width {
  input,
  select,
  .select2,
  p {
    @include step-error;
    display: block;
    width: 100%;
  }
  label {
    @media (max-width: 767px) {
      display: none;
    }
  }
  label[for='billing'] {
    display: block;
  }
}

.recurly,
.recurly-hosted-field {
  height: 54px;
}
.recurly-hosted-field {
  background-color: $white;
  border: 1px solid $gray-sky;
  border-radius: 2px;
  box-shadow: none;
  color: $silver;
  font-size: 16px;
  height: 54px;
  margin: 0 0 14px;
  outline: none;
  padding: 7px 10px;
  position: relative;
  -webkit-appearance: none;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
  width: 100%;
}
.recurly-hosted-field-focus {
  border-color: $orange-light;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  outline: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 10;
}

label {
  color: $night-rider;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: $regular;
  font-size: 13px;
  height: 20px;
  left: 0px;
  letter-spacing: normal;
  opacity: 1;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  @media (max-width: 767px) {
    white-space: nowrap;
  }
}

/* remove spinner on number fields */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='checkbox'] {
  background-color: $white;
  border: 2px solid $gray-sky;
  height: 25px;
  -webkit-appearance: none;
  outline: none;
  width: 25px;
  &:focus {
    outline: none;
  }
}

input[type='checkbox']:checked {
  background: image-url('styleguide/check.png') no-repeat 0 2px;
  background-color: $white;
  background-size: contain;
}

input.round-corner {
  border-radius: 4px;
}

input.box-shadow-grey {
  box-shadow: 0 3px 5px rgba($black, 0.075);
}

.red {
  color: $red;
}

.green {
  color: $green;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.js-alert {
  background-color: rgb(228, 83, 83);
  color: $white;
  height: 113px;
  padding-top: 42px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10001;

  a {
    color: $white;
    display: block;
    float: right;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    opacity: 1;
    position: relative;
    right: 5%;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    top: 0;
    z-index: 10002;
  }
}

@media (max-width: 768px) {
  .select-arrow {
    b {
      border-color: $gray-dark transparent transparent transparent;
      border-style: solid;
      border-width: 7px 6px 0 6px;
      bottom: 26px;
      float: right;
      height: 0;
      margin-left: -4px;
      margin-top: -2px;
      position: relative;
      right: 10px;
      width: 0;
    }
  }
}

@media (max-width: 991px) {
  .js-alert {
    a {
      right: 25%;
    }
  }
}

@media (max-width: 767px) {
  .js-alert {
    a {
      right: -5px;
    }
  }
  .checkout .mobile-full-width {
    width: 100%;
  }
  #register_step_two {
    .promo-pref {
      label {
        white-space: normal;
      }
    }
  }
}
