$regular: 400;
$bold: 600;
$semibold: 700;
$extrabold: 900;

::-webkit-scrollbar {
  width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $orange;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.7);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $orange;
}

html {
  overflow-x: hidden;
}

body {
  background-color: $white;
  color: $night-rider;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: $regular;
  letter-spacing: 0.05em;
  overflow-x: hidden;
  padding-top: 113px;
  @media (max-width: 991px) {
    padding-top: 104px;
  }
}

// Typography styles
h1,
h2 {
  font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: $orange;
  font-weight: 600;
  outline: none;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $orange;
    outline: none;
    text-decoration: underline;
  }
  &:active {
    outline: none;
  }
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.4em;
}

.reset-font {
  font-size: 0;
  letter-spacing: 0;
}

.initial-font {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.text-center {
  text-align: center;
}

.main-content {
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 1170px;

  @media (max-width: 1199px) {
    width: 970px;
  }

  @media (max-width: 991px) {
    width: 750px;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

/* SECTIONS */
.section {
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;

  @media (max-width: 767px) {
    padding: 20px 0;
  }
}

.section-cta-module {
  padding: 20px 0 40px;

  .hdr-2 {
    margin: 0 20px 10px;
    text-transform: uppercase;
  }

  .hdr-3 {
    color: $gray47;
    font-weight: 400;
    margin: 0 20px 30px;
  }
}

/* MODALS */

.modal-1,
.modal-2 {
  background: $white;
  border-radius: 4px;
  margin: 20px auto;
  max-width: 90%;
  .close {
    float: none;
    outline: none;
    position: absolute;
    top: 10px;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    &:focus,
    &:hover {
      outline: none;
      transform: rotateZ(90deg);
      -webkit-transform: rotateZ(90deg);
      -moz-transform: rotateZ(90deg);
      -ms-transform: rotateZ(90deg);
      -o-transform: rotateZ(90deg);
    }
  }
}

.modal-1 {
  padding: 20px;
  padding-right: 30px;
  text-align: center;
  width: 500px;
  .close {
    right: 10px;
  }

  .hdr-2 {
    margin-bottom: 10px;
  }

  .desc {
    margin-bottom: 20px;
  }
}

.modal-2 {
  border: 0 none;

  .close {
    color: $white;
    right: -30px;
  }
}

/* HEADERS */

.header-1 {
  background: $gray-darker;
  color: $white;
  padding: 20px;
  text-align: left;

  .hdr-2 {
    color: $white;
  }
}

.header-2 {
  background: $gray-darker;
  color: $gray-mid;
  padding: 10px 20px;
}

.header-3 {
  margin: 0 15% 20px;
  text-align: center;

  @media (max-width: 767px) {
    margin: 0 5% 20px;
  }

  .hdr-2 {
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}

/* HEADINGS */
// LARGE HEADING
h1,
.h1,
.hdr-1 {
  color: $night-rider;
  font-size: 48px;
  font-weight: $semibold;
  letter-spacing: 0;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}
// BOLD HEADER
h2,
.h2,
.hdr-2 {
  color: $night-rider;
  font-size: 32px;
  font-weight: $semibold;
  letter-spacing: 0;
  line-height: 38px;
  margin: 0;
  text-transform: uppercase;
}

// Regular Header
h3,
.h3,
.hdr-3 {
  color: $night-rider;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: $regular;
  letter-spacing: 0;
  line-height: 28px;
  margin: 0;
  text-transform: capitalize;
}
// SUB HEADLINE
h4,
.h4,
.hdr-4 {
  color: $gray47;
  font-size: 22px;
  font-weight: $regular;
  letter-spacing: 1px;
  line-height: 28px;
  margin: 0;
  text-transform: uppercase;
}
// LARGE LABEL | NAV
h5,
.h5,
.hdr-5 {
  color: $night-rider;
  font-size: 16px;
  font-weight: $semibold;
  letter-spacing: 0.4px;
  line-height: 22px;
  margin: 0;
  text-transform: uppercase;
}
// SMALL LABEL | NAV
h6,
.h6,
.hdr-6 {
  color: $night-rider;
  font-size: 12px;
  font-weight: $extrabold;
  letter-spacing: 0.6px;
  line-height: 12px;
  margin: 0;
  text-transform: uppercase;
}

/* PAGINATION ARROWS */
.swiper-button-next,
.swiper-button-prev {
  background-image: none;
}

.fa-chevron-left,
.fa-chevron-right {
  background-color: transparent;
  box-shadow: none;
  color: $orange;
  font-size: 22px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  &:hover,
  &.active,
  &:active,
  &:focus,
  &:visited,
  &:active:hover,
  &:active:focus,
  &:active.focus,
  &.active:hover,
  &.active:focus,
  &.active.focus {
    background-color: transparent;
    box-shadow: none;
  }

  &.chevron-lg {
    font-size: 44px;
  }

  &:hover {
    color: $white;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.fa-chevron-left {
  left: 10%;
}

.fa-chevron-right {
  right: 10%;
}

/* PAGINATION DOTS */
.swiper-pagination {
  border-radius: 0;
  display: block;
  font-size: 0;
  margin: 10px 0;
  padding: 0;
  position: relative;
  text-align: center;
  .swiper-pagination-bullet {
    background: $gray-mid;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 0 5px;
    opacity: 1;
    width: 10px;
    &.swiper-pagination-bullet-active {
      background: $orange;
    }
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

/* POPOVER */
.popover {
  border-radius: 0;
  max-width: 470px;
  padding: 10px;

  .popover-title {
    background-color: $white;
    border-bottom: none;
    border-radius: 0;
    text-transform: uppercase;
  }
  .popover-close {
    color: $black;
    clear: right;
    font-size: 22px;
    font-weight: 700;
    float: right;
    height: 20px;
    margin-bottom: 10px;
    position: relative;
    width: 15px;
    &:focus,
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
}
.popover-btn {
  color: $orange;
  font-size: 22px;
  margin-left: 10px;
  vertical-align: text-top;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  &:focus,
  &:hover,
  &:active,
  &:active:focus {
    background-color: transparent;
    box-shadow: none;
  }
}

/* SOLDOUT MODAL */
.lc-modal-soldout {
  .promo-pref {
    display: block;
    font-size: 12px;
    padding-top: 20px;
  }
  .soldout-form {
    @extend .reset-font;
    width: auto;
    .email-field,
    .btn-primary {
      vertical-align: top;
    }
    .form-loading {
      display: inline-block;
    }
    .email-field {
      margin-right: 10px;
      text-align: center;

      &::-webkit-input-placeholder {
        text-align: center;
      }
      &:-moz-placeholder {
        text-align: center;
      }
      &::-moz-placeholder {
        text-align: center;
      }
      &:-ms-input-placeholder {
        text-align: center;
      }
    }
  }
}
