/*
 * mixins
 */

@mixin custom-transition($elements, $speed, $type) {
  -webkit-transition: $elements $speed $type;
    -moz-transition: $elements $speed $type;
      -o-transition: $elements $speed $type;
        transition: $elements $speed $type;
}

@mixin border-box {
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin opacity-transparent {
  opacity: 0;
}

@mixin opacity-opaque {
  opacity: 1;
}

@mixin self-clear {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin modal-width($width) {
  left: 50%;
  margin-left: -($width/2);
  width: $width;
}

@mixin static_pages {
  .col-sm-9 {
    h1, p {
      margin: 0 0 20px 0;
      padding: 0;
    }

    h1 {
      @media (max-width: 767px) {
        font-size: 28px;
        margin: 0 0 10px 0;
      }
    }
  }
}

// Blink mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin animation-name($name) {
  -webkit-animation-name: $name;
     -moz-animation-name: $name;
       -o-animation-name: $name;
          animation-name: $name;
}

@mixin animation-duration($duration) {
  -webkit-animation-duration: $duration;
     -moz-animation-duration: $duration;
       -o-animation-duration: $duration;
          animation-duration: $duration;
}

@mixin animation-timing-function($timing-function) {
  -webkit-animation-timing-function: $timing-function;
     -moz-animation-timing-function: $timing-function;
       -o-animation-timing-function: $timing-function;
          animation-timing-function: $timing-function;
}

@mixin animation-iteration-count($iteration-count) {
  -webkit-animation-iteration-count: $iteration-count;
     -moz-animation-iteration-count: $iteration-count;
       -o-animation-iteration-count: $iteration-count;
          animation-iteration-count: $iteration-count;
}

@mixin animation-direction($direction) {
  -webkit-animation-direction: $direction;
     -moz-animation-direction: $direction;
       -o-animation-direction: $direction;
          animation-direction: $direction;
}

@include keyframes(change_background_color) {
  to {
    color: $orange;
  }
}

@mixin pulsate($time: 0.2s, $count: 8) {
  @include animation-name(change_background_color);
  @include animation-duration($time);
  @include animation-iteration-count($count);
  @include animation-direction(alternate);
  @include animation-timing-function(ease-in-out);
}

.blink-blink {
  @include pulsate(1s, 16);
}

@mixin nav-link-animation($color, $hover) {
  color: $color;
  opacity: 1;
  transition: all 0.4s ease-in-out;

  &:hover {
    color: $hover;
  }
}

@mixin ribbon-cust($color) {
  .ribbon-text {
    background: $color;
    background: linear-gradient($color 0%, $color 100%);
    color: $white;

    &:before,
    &:after {
      border: 3px solid $color;
      border-bottom-color: transparent;
      content: '';
      position: absolute;
      top: 100%;
      z-index: -1;
    }

    &:before {
      border-right-color: transparent;
      left: 0;
    }

    &:after {
      border-left-color: transparent;
      right: 0;
    }
  }
}
