/*
 * Validations
*/

@mixin valid {
  input.valid {
    background-image: image-url('valid.png') !important;
    background-position: top right !important;
    background-repeat: no-repeat !important;
    background-size: 40px 40px !important;
  }
}

@mixin error {
  input.error,
  div.error .recurly-hosted-field {
    background-image: image-url('invalid.png');
    background-position: right 40% !important;
    background-repeat: no-repeat !important;
    background-size: 40px 40px !important;
    border: 1px solid $error !important;

    &:not(label) {
      background-image: image-url('invalid.png') !important;
    }
  }

  label.error {
    display: none !important;
  }

  .select2 {
    &.error {
      a {
        border: 1px solid $error !important;
      }
    }
  }

  .select {
    &.error ~ span .select2-selection {
      border: 2px solid $error !important;
    }
    &.error ~ span.select2-container--open {
      .select2-selection {
        border: 1px solid $gray-lighter !important;
      }
    }
    &.error ~ span.select2-container--focus {
      .select2-selection {
        border: 1px solid $gray-lighter !important;
      }
    }
  }

  .form-group.error input,
  .form-group.error select,
  .form-group.error textarea,
  .form-group.error .select2 {
    background-image: image-url('invalid.png') !important;
    background-position: right !important;
    background-repeat: no-repeat !important;
    background-size: 40px 40px !important;
    border: 1px solid $error !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .form-group.error .checkbox,
  .form-group.error .radio,
  .form-group.error input,
  .form-group.error select,
  .form-group.error textarea,
  .form-group.error label,
  .form-group.error .help-inline,
  .form-group.error .help-block {
    color: $error;
  }
}

@mixin step-error {
  input.error, li.error {
    background: none;
    background-color: $error-highlight;
    border: 1px solid $error !important;
    border-radius: 2px;

    &:not(label) {
      background: none;
      background-color: $error-highlight;
    }
  }
  div.error .recurly-hosted-field {
    background: none;
    background-color: $error-highlight;
    border: 1px solid $error !important;
    border-radius: 2px;
  }

  label.error {
    display: none !important;
  }

  .select2-container--default {
    &.select2 {
      &.error {
        .select2-selection--single {
          background-color: $error-highlight !important;
          border: 1px solid $error !important;
        }

        a {
          border: 1px solid $error !important;
        }
      }
    }
  }

  .select {
    &.error  {
      background-color: $error-highlight;
      border: 1px solid $error;
      border-radius: 2px;
    }
  }

  .form-group.error input,
  .form-group.error select,
  .form-group.error textarea,
  .form-group.error .select2 {
    background-size: 40px 40px !important;
    border: 1px solid $error !important;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .form-group.error .checkbox,
  .form-group.error .radio,
  .form-group.error input,
  .form-group.error select,
  .form-group.error textarea,
  .form-group.error label,
  .form-group.error .help-inline,
  .form-group.error .help-block {
    color: $error;
  }
}
